<style>
/**login pop start*/
.login_block{
  font-family: 'OpenSans';
}
.login_block{
    padding: 27px 34px;
    width: 100%;
    margin: auto;
} 
.login_block .close-new{
  position: absolute;
  right: 30px;
  top: 5px;
  cursor: pointer;
  z-index: 99;
  background: transparent;
  border: none;
}
.login_block .close-new .photo-close{
  color: #000;
  font-size: 25px;
}
.content-block .login_block{width: 100%;padding:0px}
.content-block .login_block .close-new{display:none;}
.btn.cancel_text-link{
    background: transparent;
    border: 1px solid #000;
    color: #000;
}
  /*login & register global style*/
  /*Just for separate references!!!*/
  .form-vertical input,
.form-vertical select,
.form-vertical textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  text-transform: unset;
}
.form-vertical input[type=radio],
.form-vertical input[type=checkbox] {
  display: inline-block;
  width: auto;
  margin-right: 5px;
}
.form-vertical input[type=submit],
.form-vertical .btn {
  display: inline-block;
  padding: 11px 0;
  border-radius: 2px;
}
.login_block .form-vertical form{ 
  display: flex;
  flex-direction: column; 
  padding-bottom: 15px;
}
 .login_block .form-vertical form .bg426 {
  	background: #4262a5;
    height: 45px;
    line-height: 45px;
    margin-bottom: 13px;
    border: 0;
    color: #fff;
    font-size:13px;
  }
  .login_block .form-vertical form .bg426:hover{
	background: #4a6cb3;
  }
.login_block .floating-labels{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.login_block .floating-labels .cd-label-input{
  height: 40px;
  
}
.login_block  .floating-labels input:focus{
  background:transparent;
}
.floating-labels input[type="text"], 
.floating-labels input[type="password"], 
.floating-labels input[type="email"] 
{ 
  border: 1px solid #eee;
    height: 54px;
  background-color: #ffffff;
  border-radius: 1px;    padding: 0 15px 0 40px;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #333;
}
input:-webkit-autofill:focus {
  border: 1px solid #cfd9db;
}
.login_block  .floating-labels i{    

    z-index: 1;
    position: absolute;
    left: 1rem;
    top: 41%;
    font-size: 1rem;
    color: #d5dddf;
    transform: translateY(-50%);
}
.login_block .password_login{
    text-align:left; 
    font-size: 12px;
    text-decoration: underline;
  	margin-bottom:0;
}
.login_block .block-title{
  line-height: 1.5;
  text-align: left;
  width: 70%;
  margin-left: 0;
  margin-top: 8px;
  margin-bottom: 22px;
}
.block-title strong span{
  color: #d80040;
  font-size: 18px;
}
label.label-show{
  font-weight: 100;
  font-size: 13px;
  color: #000;  
  margin-bottom: 10px;
}
#RecoverPasswordForm1 h4{
  font-weight: 100;
}
.floating-labels .cd-label  {
  position: absolute;
  top: 10px;
  left: 43px;
  color: #a9a9a9;
  font-size: 14px;
  cursor: text;
  -webkit-transition: top .2s,left .2s,font-size .2s;
  transition: top .2s,left .2s,font-size .2s;
  pointer-events: none;
  text-transform: unset;
}
.content-block.text-center.checkout-continue{
  width: 100%;
}
.floating-labels .cd-label.float {
  top: -1pc;
  left: 0!important;
  color: #7b7777;
  font-size: 9pt;
}
.content-block {
  margin-top:54px;
  padding: 0;
}
.account_content_wapper {
  padding: 28px 30px;
}
.login_block .floating-labels .cd-label-input {
  padding: 15px 15px 15px 40px;
  height: 54px;
}
.floating-labels .cd-label {
  top: 18px;
  clip: unset;
  font-weight: normal;
  font-size: 12px;
  width: auto;
  height: auto;
}
.login_block .password_login {
  text-align:right;
  font-weight: bold;
}
.floating-labels .cd-label.float {
  width: auto;
  height: auto;
  font-weight: normal;
}
.account__templates .content-block {
  margin-top:0;
  margin-bottom:180px;
}
@media( max-width:768px){
  .account__templates {
	padding-top: 54px;
  }
}
#CustomerLogin .login_block .floating-labels .cd-label-input{
  height: 40px;
}
#CustomerLogin .icon .photofont.icon{
  display:none;
}
#CustomerLogin .floating-labels .cd-label{
  position: unset;
  color: #000;
}
#CustomerLogin .login_block .floating-labels{
  align-items: baseline;
  flex-flow: column;
}
#CustomerLogin .login_block .close-new{
  right: 10px;
}
#CustomerLogin .login_block .password_login{
  text-align: left;
}
#CustomerLogin .login_block .block-title{
  margin-bottom: 27px;
}
#CustomerLogin .form-vertical input[type=submit],#CustomerLogin .form-vertical .btn{
  letter-spacing: 0;
}
</style>

<div class="login_block">  
  <button type="button" class="close-new" data-slide-layer="close">
  <i class="photofont icon photo-close"></i>
  </button>  
  <div class="form-success hide" id="ResetSuccess{{ include_id }}">
    {{ 'customer.recover_password.success' | t }}
  </div>
  <div id="CustomerLoginForm{{ include_id }}" class="form-vertical"> 
    {% if include_id %}
    <div class="block-title">
        <strong><span>{{ 'header.customer_login' | t }}</span></strong>
    </div>  
    {% endif %}
    {% assign customer_from_id = 'customer_login' | append: include_id %}
    {% form 'customer_login',class:"customer_login", id:customer_from_id %} 
      {{ form.errors | default_errors }}
      <div class="icon floating-labels asdasdasd" >
        
        <i class="input-icon photofont icon photo-email"></i>
          <label for="CustomerEmail" class="label-show cd-label">{{ 'customer.login.email' | t }}</label> 
        <input type="email" name="customer[email]" id="CustomerEmail{{ include_id }}" class="cd-label-input {% if form.errors contains 'email' %} input--error{% endif %}" placeholder="" autocorrect="off" autocapitalize="off"  autofocus>
      </div>
      {% if form.password_needed %}
      <div class="icon floating-labels asdqweqws123w">
       
        <i class="input-icon photofont icon photo-lock"></i>
 			<label for="CustomerPassword" class="label-show cd-label">{{ 'customer.login.password' | t }}</label>
        <input type="password" value="" name="customer[password]" id="CustomerPassword{{ include_id }}" class="cd-label-input {% if form.errors contains 'password' %} input--error{% endif %}" placeholder="">
      </div>
      {% endif %}
      <p><input type="submit" class="btn" value="{{ 'customer.login.sign_in' | t }}"></p>
	 
      <div class='oxi-social-login'></div>

      {% if form.password_needed %}
      <p class="password_login"><a href="#recover" id="RecoverPassword{{ include_id }}">{{ 'customer.login.forgot_password' | t }}</a></p>
      {% if include_id %}
      <p class="password_login">
        <a href="/account/login?action=register">{{ 'customer.register.title' | t }}</a></p>
      {% endif %}
      {% endif %}
    {% endform %}
  </div>
  {% comment %}
    JS shows/hides this form in ShopifySlate.loginForms()
  {% endcomment %}
  <div id="RecoverPasswordForm{{ include_id }}" class="hide"> 
    <h4>{{ 'customer.recover_password.title' | t }}</h4>
    <p>{{ 'customer.recover_password.subtext' | t }}</p>

    <div class="form-vertical">
      {% form 'recover_customer_password' %} 
        {{ form.errors | default_errors }} 
        {% comment %}
          Add a hidden span to indicate the form was submitted succesfully.
        {% endcomment %}
        {% if form.posted_successfully? %}
          <span class="hide reset-password-success"></span>
        {% endif %}
        <label for="RecoverEmail" class="label--hidden">{{ 'customer.recover_password.email' | t }}</label>
        <input type="email" value="" name="email" id="RecoverEmail{{ include_id }}" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off" style="height: 40px; padding: 1rem 0.3rem;">
        <p><input type="submit" class="btn" value="{{ 'customer.recover_password.submit' | t }}"></p>
        <button type="button" id="HideRecoverPasswordLink{{ include_id }}" class="btn cancel_text-link">{{ 'customer.recover_password.cancel' | t }}</button>
      {% endform %}
    </div>
  </div>
  {% comment %}
    If accounts are set as optional, the following will be shown as an option
    during checkout, not on the default /login page.
  {% endcomment %}
  {% if shop.checkout.guest_login %}
    <div class="content-block text-center checkout-continue">
      <h2 class="h5">{{ 'customer.login.guest_title' | t }}</h2>
      {% form 'guest_login' %}
        <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
      {% endform %}
    </div>
  {% endif %}

</div>
<!-- /login_block -->


<script>
{% if include_id %}
function recoverPasswordFormToggle{{ include_id }}() {
    $('#RecoverPasswordForm{{ include_id }}').toggleClass('hide');
    $('#CustomerLoginForm{{ include_id }}').toggleClass('hide');
}
{% endif %}
function recoverPasswordFormToggle() {
    $('#RecoverPasswordForm{{ include_id }}').toggleClass('hide');
    $('#CustomerLoginForm{{ include_id }}').toggleClass('hide');
}
$('#RecoverPassword{{ include_id }}').on('click', function(e) {
  e.preventDefault();
  recoverPasswordFormToggle{{ include_id }}();
});

$('#HideRecoverPasswordLink{{ include_id }}').on('click', function(e) {
  e.preventDefault();
  recoverPasswordFormToggle{{ include_id }}();
});
</script>

 <script>
		if( jQuery('.floating-labels').length > 0 ) {
			floatLabels();
		}
		function floatLabels() {
			var inputFields = jQuery('.floating-labels .cd-label').next();
			inputFields.each(function(){
				var singleInput = jQuery(this);
				//check if user is filling one of the form fields 
				checkVal(singleInput);
				singleInput.on('change keyup', function(){
					checkVal(singleInput);	
				});
			});
		}
		function checkVal(inputField) {
			( inputField.val() == '' ) ? inputField.prev('.cd-label').removeClass('float') : inputField.prev('.cd-label').addClass('float');
		}
	</script>

