
<style>
@media(min-width:220px){
  .footer-middle-container .footer-content .input-box input::-webkit-input-placeholder{color:#fff; opacity: 1;}
  .footer-section {
    z-index: 0;
    clear: both;
    background: #fff;
}
    .PRICNT3d{     background: #e5e5e5;
    clip-path: polygon(100% 0, calc(100% - 7px) 50%, 100% 100%, 0 100%, 7px 50%, 0 0);
    -webkit-clip-path: polygon(100% 0, calc(100% - 7px) 50%, 100% 100%, 0 100%, 7px 50%, 0 0);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    FONT-SIZE: 0.5rem;
    display: block;
    width: 100%;
    padding: 0.2REM 0.2rem;
    font-style: normal;
    color: #000;
    TEXT-ALIGN: CENTER;}
#shopify-section-footer .container{
    padding-left: 15px;
    padding-right: 15px;
}
.footer-pc-section{
    display:none
}
.footer-pc-section .flex{
    display:flex;
    justify-content:space-between
}
.footer-pc-section .justify-content-flexstart{ 
    justify-content: flex-start;
}
.footer-pc-section .page-width{padding: 0;}
.footer-pc-section .footer{
    padding:18px 0 25px 0; 
  border-bottom: 1px solid #ccc;
}

.footer-pc-section .footer ul{ 
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.footer-pc-section .footer ul li {  
   width:25%;
}

.footer-pc-section .footer ul li  span span{
 
}
.footer-pc-section .footer ul li .icon{    
    }
.footer-pc-section .footer-middle-block {
       
      
}
.footer-pc-section .footer-middle-block  .footer-content{   
     width: 25%;
}
.footer-pc-section .footer-middle-block  .footer-content:nth-child(1),
.footer-pc-section .footer-middle-block  .footer-content:nth-child(2)
{width:25%}
.footer-pc-section .footer-middle-block .footer-content h2{
    text-align: left;
    margin:0 0 20px 0; 
    color:#fff;
  	letter-spacing: 1px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
  	font-family: "Open Sans";
}
.footer-pc-section .footer-middle-container {
	background:#000;  
  	padding: 46px 0 62px;
}
.footer-pc-section .footer-middle-block ul.links li {
    position: relative;
    padding: 0.68rem 0;
    line-height: 1;
    display: block; 
}
.footer-pc-section .footer-middle-block a {    
    color: #fff;
    font-size: 13px;
    font-weight: normal;
  	letter-spacing: 0.4px;
}

.footer-pc-section .footer-middle-block input.input-text{ 
    height: 45px;
    padding: 0 22px;
    border: 0;
    background-color: #4b4b4b;
    border-radius: 45px;
    max-width: 300px;
    margin-bottom: 15px;
    color: #f7f8f9;
    font-size: 12px;
    font-style: italic;
}
.footer-pc-section .footer-middle-block .footer-policy{    
    clear: both; 
    display: flex;
    align-items: center;
  	color:#fff;
    font-size:13px;
}
.footer-pc-section .footer-middle-block .footer-policy input{ 
    width: 1.33rem;
    margin:0 2px 0 0;

}
.footer-pc-section .footer-middle-block .footer-policy a{ text-decoration: underline;}
.footer-pc-section a:hover{
    color:rgb(230, 0, 68)
}
.footer-pc-section .footer-middle-block .button{   
    background: transparent;
    border: 1px solid #000;
    text-transform: uppercase;
    font-weight: 600;
    FONT-SIZE: 1rem;
  	color: #000;
}
.footer-pc-section .container{
	margin: 0 auto;
}
.footer-pc-section .footer-society{
    margin-bottom:10px;
}
.footer-pc-section .footer-society ul li{
    width: 14.6%;
    float: left;
    margin-right: 6%;
}
  .errors-subscribe ul li {
  	color:#fff;
    margin-bottom:10px;
    font-size:13px;
  }  
  .footer-middle-container .footer-content .input-box {
  	position: relative;
    margin-bottom: 20px;
    margin-top:6px;
  }
  .footer-middle-container .footer-content .input-box .input-box_email {
  	background: #e60144;
    height: 36px;
    width: 36px;
    position: absolute;
    left: 260px;
    top: 5%;
    border-radius: 50%;
  }
  .footer-middle-container .footer-content .input-box .input-box_email .button {
  	width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;

  }
  .footer-middle-container .footer-content .input-box .input-box_email img {
  	width: 55%;
    margin: 10px 0 0 8px;
  }
  .footer-society ul li a>img {
  	width: 40px;
    height: 40px;
  }
  .footer-inpoint ul li img {
  	max-width:100%;
    width:134px;
  }
  .footer-inpoint {
  	text-align:center;
  }
  .footer-inpoint .policy-text{
  	text-align: center;
    width: 100%;
    color: #000;
    padding-left: 7px;
    line-height: 16px;
    height: 40px;
    margin-top: 6px;
    font-size: 12px;
  }
  
  .footer-mb-section .footer-inpoint .policy-text{
  	padding-left: 0;
    margin-top: 1px;
    
  }
  
  .footer-inpoint .policy-text .ys {
  	font-size: 14px;
  }
}
@media (min-width:1024px){
    .footer-mb-section{display:none
  }
   .footer-pc-section{display:block;
  }
}
</style>
<div class="footer-pc-section"> 
 {%- comment -%}footer pionter{%- endcomment -%} 
 {%- comment -%}footer pionter end{%- endcomment -%} 
 {%- comment -%}
 footer cms page and emmail start by jenny 2018-12-8
 {%- endcomment -%}
{% comment %} society icon {% endcomment %}
  <div class="footer">
    <div class=" footer-inpoint">
      <div class="container"> 
        <ul class="flex justify-content-flexstart">
          {% for block in section.blocks %}
          {% case block.type %}
          {% when 'footer_inpoint_pc' %}
          <li>
            <div class="footer-payments"> 
              <a href= "{% if forloop.index==8 %}{{ block.settings.footer_inpointurl}}{% else %}javascript:;{% endif %}"  > <img src="{{block.settings.footer_inpoint  | img_url: 'master'}}"></a>
            </div>
            <div class="policy-text">
              {{ block.settings.footer_icon_text }}
            </div>
          </li>
          {% endcase %}
          {% endfor %}
        </ul>
      </div>
     </div>
 </div>
<div class="footer-middle-container">
  <div class="footer-middle-block container flex">
    <div class="footer-content">
      <h2 class="block-title">{{ section.settings.menu_1_text }}</h2>{%- comment -%}{%- endcomment -%}
      <ul class="links">
        {% for link in menus[section.settings.menu_1].links %}
        <li>
          <a{%if link.title == 'Send a Query' %} onclick="Dialog.open('#footer-send-query')"  href="javasript:;"{% else %}  href="{{ link.url }}" {% endif %}>{{ link.title }}</a> 
        </li>  
        {% endfor %} 
     {% include 'footer_send_query' %}
      </ul>
    </div>
    <div class="footer-content">
      <h2 class="block-title">{{ section.settings.menu_2_text }}</h2>{%- comment -%}{%- endcomment -%}
      <ul class="links">
        {% for link in menus[section.settings.menu_2].links %}
        <li><a href="{{ link.url }}" {%if link.title == 'Soufeel Reviews' or link.title == 'Wholesale Program' %}target="_blank"{% endif %}>{{ link.title }}</a></li> 
        {% endfor %} 
      </ul>
    </div>
    <div class="footer-content">
      <h2 class="block-title">{{ section.settings.menu_3_text }}</h2>{%- comment -%}{%- endcomment -%}
      <ul class="links">
        {% for link in menus[section.settings.menu_3].links %}
        <li> 
          <a {%if link.title == 'Submit an Inquiry' %} onclick="Dialog.open('#footer-send-query')"  href="javasript:;"{% else %} href="{{ link.url }}" {% endif %}>{{ link.title }}</a> 
        </li>
        {% endfor %}
        {{ section.settings.footer_nav_bottom_html }}
      </ul>
    </div>
      <div class="footer-content"> 
        <div class="input-box">
        {%- assign formId = 'ContactFooter-pc' -%}
        {% form 'customer', id: formId %}
        {{ form.errors | default_errors }}

            <input type="hidden" name="contact[tags]" value="newsletter">
            <input type="email"
                name="contact[email]"
                id="newsletter_footer-pc"
                class="input-text required-entry validate-email {% if form.errors %} input--error{% endif %}"
                value="{% if customer %}{{ customer.email }}{% endif %}"
                placeholder="{{ 'footer.newsletter_form.newsletter_placeholder' | t }}"
                autocorrect="off"
                autocapitalize="off"
                {% if form.errors %} aria-invalid="true" aria-describedby="{{ formId }}-email-error"{% endif %}>
            <div class="errors-subscribe" style="display:none;" id="custom_subscribe_error"><ul><li><i class="photofont icon photo-jingshi"></i>
              </li></ul></div>
            <div class="footer-policy">
                <input type="checkbox" id="newsletter_policy_confirm-pc" class="newsletter_policy_confirm">
                {{ 'footer.newsletter_form.policy_text' | t }}&nbsp;<a href="/pages/privacy-policy" target="_blank"> <span class="policy-span text-u">{{ 'footer.newsletter_form.policy' | t }}</span></a> 
            </div>
            {% if form.posted_successfully? %}
                <p class="form-success">{{ 'footer.newsletter_form.confirmation' | t }}</p>
            {% endif %}

            <script>
                $("#ContactFooter-pc").on("submit", function(){
                    if (!$("#newsletter_policy_confirm-pc").is(':checked')){
                        $("#custom_subscribe_error").show();
                        $("#custom_subscribe_error").find("ul > li").text("{{ 'footer.newsletter_form.required_Privacy' | t }}")
                        return false;
                    }
                    Mask.show();
                });
            </script>
            {% comment %}	
            <div class="t-left pt20">
               <img src="{{ 'apprukou.png' | asset_url }}">
            </div>
             {% endcomment %}
            <div class="input-box_email">
                <button type="submit" title="Subscribe" class="button">
                    <span> GET MY DISCOUNT </span>
                </button>
                <img src="{{ 'email.png' | asset_url }}">
            </div>
        {% endform %}
        </div>
    
        {% comment %} society icon {% endcomment %}
        <div class="footer-society">
          <div class=""> 
            <ul class="flex justify-content-flexstart">
              {% for block in section.blocks %}
              {% case block.type %}
              {% when 'footer_icon_pc' %}
              {% if block.settings.footer_icon_url %}
              <li>
                <a href="{{block.settings.footer_icon_url }}" target="_blank">
                  <img src="{{block.settings.footer_icon  | img_url: 'master'}}">
                </a>
              </li>
              {% endif %}
              {% endcase %}
              {% endfor %}
            </ul>
          </div>
        </div>
        {% if section.settings.app_logo %}
        <div class="t-left pt20">
          <a href="{{section.settings.app_logo_url }}" target="_blank">
            <img src="{{section.settings.app_logo  | img_url: 'master'}}">
          </a>
        </div>
        {% endif %}
      </div>
  </div>
</div>
 {%- comment -%}
 footer cms page and emmail end by jenny 2018-12-8
 {%- endcomment -%}
 


</div>
<script>
$(function(){
  var FooterLogoImg = $('.logo').find('img').attr('src');
  $(".footer-logo-img").attr("src",FooterLogoImg);
})
</script>