      <div id="footer-send-query"  class="simple--modal" style="display:none;">
          <button type="button" class="close-new close" data-action="close">
            <i class="photofont icon photo-close"></i>
          </button>
          <div class="nr">
            <div class="nr-top">
              <h4>{{'header.contact_us.track_order_title' |t}}</h4>
              <p>{{'header.contact_us.track_order_text' |t}}</p>
              <a href="/pages/trackorder"><button>{{'header.contact_us.track_order_button' |t}}</button></a>
            </div>
            <div class="nr-bottom">
              <div> 
                <h4>{{'header.Inquiry.Inquiry_title' |t}}</h4>
               	<p>{{'header.Inquiry.Inquiry_text' |t}}</p>

              </div>                       
              <a href="/pages/botchat" target="_blank"><button>{{'header.Inquiry.Inquiry_button' |t}}</button></a>
            </div>
            <div class="nr-cancel-modify-button">
              <h4>{{'header.modify_order.modify_order_title' |t}}</h4>
              <a href="/pages/cancel-modify-or-return-an-order"><button>{{'header.modify_order.modify_order_button' |t}}</button></a>         
            </div>
          </div>
        </div>
