<div class="ring-size-guide">
<style> 

.nav-tabs > li > a {
	padding: 20px 15px;
}
.pdsize {
	padding: 17px 37px;
}
.bdrsize {
	border: 1px solid #dfdfdf;
}
.bdrsize-lf {
	border-left: 1px solid #dfdfdf;
}
.bdrsize-rg {
	border-right: 1px solid #dfdfdf;
}
.bdrsize-bm {
	border-bottom: 1px solid #dfdfdf;
}
.tab-content {
	padding-bottom: 20px;
}
.bracelet-size-gui {
	width: 100%;
	padding: 30px 0px;
	float: left
}
.bracelet-size-gui .p1 img {
	width: 100%
}
.bracelet-size-gui .p2 {
	margin-top: 30px;
}
.bracelet-size-gui .p2 h3 {
	font-size: 18px;
}
.bracelet-size-gui .p2 p {
	line-height: 1.5;
	font-size: 15px;
}
.dashed {
	border-bottom: 1px #666 dashed;
}
.veo {
	width: 600px;
	height: 345px;
	margin: 20px 0px 0px -20px;
}#productMini {
	color: #fff;
}
.size-gui {
	margin-top: 0px;
	border-bottom: 1px solid #eee;
	margin-bottom: 15px;
}
.your-size {
	position: absolute;
	left: 0;
	bottom: 0;
	right:0;
	padding: 24px 0px;
	background: #000;
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase
} 
.tab-pane-content .fs13.mt30.rings_sise { text-align:center; padding:1%;display:flex;
    justify-content: center;}
.tab-pane-content .fs13.mt30.rings_sise .col-xs-2 div,.tab-pane-content .fs13.mt30.rings_sise .col-xs-3 div{ border:1px solid #bbb; margin-left:-1px; background:#fff; margin-top:-1px; padding:10px 2px;height: 40px; font-size:12px;}
.rings_sise-two { text-align:left; padding-left:8%;}
.rings_sise-two p { margin:0; line-height:20px;} 
.cl { clear:both;}
.rings_sise-three h3 { text-align:center; font-size:22px; padding:0 0 30px 0 }
.rings_sise-three h4 { padding-left:8%}
.rings_sise-three p { padding-left:8%;}
.step-1,.step-2,.step-3,.step-4 { text-align:center; margin-bottom:30px;}
.step-1 h5,.step-2 h5,.step-3 h5,.step-4 h5,.step-1 p,.step-2 p,.step-3 p,.step-4 p { padding-left:8%; text-align:left; line-height:16px;}
.col-xs-3 .mm { display:inline-block; margin:0;}
.tab-pane-content .fs13.mt30.rings_sise .rings_bg-three .rings_bg{ padding:10px 30px }
.rings_sise-three .step-1 img,.rings_sise-three .step-2 img,.rings_sise-three .step-3 img,.rings_sise-three .step-4 img { width:50%;}
.product-img {
  background:url("https://ik.imagekit.io/soufeel/en/skin/frontend/smartwave/default/custom/static/product/view/product-view-size.jpg") center center/cover no-repeat;
    height: 340px;
	width:100%;
	margin-top:7%;
}
@media (max-width: 768px) {
.tab-pane-content .fs13.mt30.rings_sise {padding:0 12px;    flex-wrap: wrap;
    justify-content: center;}
.rings_sise-two { padding-left:12px;}
.rings_sise-three h4,.rings_sise-three p { padding-left:12px; text-align:left;}
.step-1,.step-2,.step-3,.step-4 { text-align:center; margin-bottom:30px;}
.step-1 h5,.step-2 h5,.step-3 h5,.step-4 h5,.step-1 p,.step-2 p,.step-3 p,.step-4 p { padding-left:12px; text-align:left; }

}

@media (max-width: 480px) {
.rings_bg {
	height: 35px;
}
.veo {
	width: 300px !important;
	height: 190px !important;
	margin: 20px 0px 0px -20px;
}
.tab-contentcon {
}
.bracelet-size-gui {
	padding: 60px 0px;
}
.col-xs-3 .mm { display:block; margin:0;}
.tab-pane-content .fs13.mt30.rings_sise .col-xs-2 div, .tab-pane-content .fs13.mt30.rings_sise .col-xs-3 div { padding:10px 0;}
.rings_sise-two { display:block ; margin:20px}
.rings_sise-three h3 { font-size:20px; padding:0 0 10px 0 ;}
.rings_sise-three h4, .rings_sise-three p { text-align:left;}
.rings_sise-three .step-1 img, .rings_sise-three .step-2 img, .rings_sise-three .step-3 img, .rings_sise-three .step-4 img { width:90%;}
.tab-pane-content .fs13.mt30.rings_sise .rings_bg-three .rings_bg{ padding:10px 8px }
 
.catalog-product-view .tab-content .tab-pane {
}
.rings_sise {
	width: 100%;
	margin-left: 0%;
}
#productSizeguide .rings_sise { 
	margin-left: 0;    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.soufeel {
	display: none;
}
.bracelet-size-gui .p1 img {
	width: 90%;
}
.product-img {
  background:url("https://ik.imagekit.io/soufeel/en/skin/frontend/smartwave/default/custom/static/product/view/product-view-size-mobile.jpg") center center/cover no-repeat;
    height: 215px;
	margin-top:25%;
}
}
/*sandy-10-07*/

.tab-pane-content {
	margin: 0 auto;
	clear: both;
}

@media (max-width: 768px) {
.tab-pane-content {
	padding: 0px !important;
}
.fs16 {
	font-size: 14px;
}
.fs13 {
	font-size: 12px;
}
.t-center.flsize{
	width: 100%!important;
}
.size-gui {
	margin-top: -20px;
}
.your-size {
	padding: 18px 0px;
}
.your-size {
       left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    position: relative;
    z-index: 2;
}
}


.divbg {
	background: #ebebeb
}
.divbgpading {
	padding: 5px 0 5px 5px
}
.fcolor {
	color: #262a2e;
}
.rings_bg {
	background: #f6dfe1;
}
.tab-contentcon { margin-bottom:0px !important;}

.tab-pane-content .fs13.mt30.rings_sise .col-xs-2.new { width:12%}
.tab-pane-content .fs13.mt30.rings_sise .col-xs-2.new.one { width:18%}
.tab-pane-content .fs13.mt30.rings_sise .col-xs-2.new.two { width:16%}
.tab-pane-content .fs13.mt30.rings_sise .col-xs-2.new.three { width:12%}
.tab-pane-content .fs13.mt30.rings_sise .col-xs-2.new.four { width:13%}
.tab-pane-content .fs13.mt30.rings_sise .col-xs-2.new.five { width:9%}
.tab-pane-content .fs13.mt30.rings_sise .col-xs-2.new.six { width:9%}
.tab-pane-content .fs13.mt30.rings_sise .col-xs-2.new.seven { width:7%}



@media (max-width: 992px) {
.mobilehid {
	display: none;
}
}

@media (max-width: 768px) { 
.categoryfont {
	-webkit-transform-origin-x: 0;
	-webkit-transform: scale(0.82);
}
.tab-content {
	width: 100%
}
.mb-zi {
	display: inline-block !important;
}
.mb-sd {
	display: none
}
.col-md-offset-1 {
	margin-left: 0%;
}
}
@media (max-width: 640px){
#productSizeguide .rings_sise .col-xs-2 { margin-right:0;}

}
@media (max-width: 320px) {
.tab-content {
	width: 100%
}
.product-img {
	height:180px;
}
}
@media (min-width:768px ){
	.modal-dialog .jjck-edit .tab-pane-content {
    max-height: 500px;width: 100%;
    max-height: 64vh;
    overflow: auto;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.your-size{ position:fixed}
}
@media (min-width:320px) and (max-width:680px){
.tab-contentcon.jjck-edit{  overflow:auto} 
.tab-contentcon { margin-bottom:0px;     padding: 0;}
}
</style>
<div class="tab-contentcon jjck-edit">
  <div class="tab-pane" id="rins">
    <div id="container_tabs_rings" class="tab-pane-content">
        <h3 style=" text-align:center; font-size:22px; margin-top:15px">RING SIZE CHART</h3>                
        <div class="fs13 mt30 rings_sise"> 	                    
            <div class="col-xs-2 new one">
              <div class="divbgpading rings_bg mt15 top">{{ 'product.ringsizeguide.inside_diameter' | t }}</div>
              <div class="divbgpading rings_bg mt15">11.63</div>
              <div class="divbgpading rings_bg mt15">11.84</div>
              <div class="divbgpading rings_bg mt15">12.04</div>
              <div class="divbgpading rings_bg mt15">12.24</div>
              <div class="divbgpading rings_bg mt15">12.45</div>
              <div class="divbgpading rings_bg mt15">12.65</div>
              <div class="divbgpading rings_bg mt15">12.85</div>
              <div class="divbgpading rings_bg mt15">13.06</div>
              <div class="divbgpading rings_bg mt15">13.26</div>
              <div class="divbgpading rings_bg mt15">13.46</div>

              <div class="divbgpading rings_bg mt15">13.67</div>
              <div class="divbgpading rings_bg mt15">13.87</div>
              <div class="divbgpading rings_bg mt15">14.07</div>
              <div class="divbgpading rings_bg mt15">14.27</div>
              <div class="divbgpading rings_bg mt15">14.48</div>
              <div class="divbgpading rings_bg mt15">14.68</div>
              <div class="divbgpading rings_bg mt15">14.88</div>
              <div class="divbgpading rings_bg mt15">15.09</div>
              <div class="divbgpading rings_bg mt15">15.29</div>
              <div class="divbgpading rings_bg mt15">15.49</div>

              <div class="divbgpading rings_bg mt15">15.7</div>
              <div class="divbgpading rings_bg mt15">15.9</div>
              <div class="divbgpading rings_bg mt15">16.1</div>
              <div class="divbgpading rings_bg mt15">16.31</div>
              <div class="divbgpading rings_bg mt15">16.51</div>
              <div class="divbgpading rings_bg mt15">16.71</div>
              <div class="divbgpading rings_bg mt15">16.92</div>
              <div class="divbgpading rings_bg mt15">17.12</div>
              <div class="divbgpading rings_bg mt15">17.32</div>
              <div class="divbgpading rings_bg mt15">17.53</div>

              <div class="divbgpading rings_bg mt15">17.73</div>
              <div class="divbgpading rings_bg mt15">17.93</div>
              <div class="divbgpading rings_bg mt15">18.14</div>
              <div class="divbgpading rings_bg mt15">18.34</div>
              <div class="divbgpading rings_bg mt15">18.54</div>
              <div class="divbgpading rings_bg mt15">18.75</div>
              <div class="divbgpading rings_bg mt15">18.95</div>
              <div class="divbgpading rings_bg mt15">19.15</div>
              <div class="divbgpading rings_bg mt15">19.35</div>
              <div class="divbgpading rings_bg mt15">19.56</div>

              <div class="divbgpading rings_bg mt15">19.76</div>
              <div class="divbgpading rings_bg mt15">19.96</div>
              <div class="divbgpading rings_bg mt15">20.17</div>
              <div class="divbgpading rings_bg mt15">20.37</div>
              <div class="divbgpading rings_bg mt15">20.57</div>
              <div class="divbgpading rings_bg mt15">20.78</div>
              <div class="divbgpading rings_bg mt15">20.98</div>
              <div class="divbgpading rings_bg mt15">21.18</div>
              <div class="divbgpading rings_bg mt15">21.39</div>
              <div class="divbgpading rings_bg mt15">21.59</div>

              <div class="divbgpading rings_bg mt15">21.79</div>
              <div class="divbgpading rings_bg mt15">22</div>
              <div class="divbgpading rings_bg mt15">22.2</div>
              <div class="divbgpading rings_bg mt15">22.4</div>
              <div class="divbgpading rings_bg mt15">22.61</div>
              <div class="divbgpading rings_bg mt15">22.81</div>
              <div class="divbgpading rings_bg mt15">23.01</div>
              <div class="divbgpading rings_bg mt15">23.22</div>
              <div class="divbgpading rings_bg mt15">23.42</div>
              <div class="divbgpading rings_bg mt15">23.62</div>

              <div class="divbgpading rings_bg mt15">23.83</div>
              <div class="divbgpading rings_bg mt15">24.03</div>
              <div class="divbgpading rings_bg mt15">24.23</div>
              <div class="divbgpading rings_bg mt15">24.43</div>
              <div class="divbgpading rings_bg mt15">24.64</div>

            </div>
            <div class="col-xs-2 new two">
                <div class="divbgpading rings_bg mt15 top">{{ 'product.ringsizeguide.inside_circumference' | t }}</div>
                <div class="divbgpading rings_bg mt15">36.5</div>
                <div class="divbgpading rings_bg mt15">37.2</div>
                <div class="divbgpading rings_bg mt15">37.8</div>
                <div class="divbgpading rings_bg mt15">38.5</div>
                <div class="divbgpading rings_bg mt15">39.1</div>
                <div class="divbgpading rings_bg mt15">39.7</div>
                <div class="divbgpading rings_bg mt15">40.4</div>
                <div class="divbgpading rings_bg mt15">41</div>
                <div class="divbgpading rings_bg mt15">41.7</div>
                <div class="divbgpading rings_bg mt15">42.3</div>

                <div class="divbgpading rings_bg mt15">42.9</div>
                <div class="divbgpading rings_bg mt15">43.6</div>
                <div class="divbgpading rings_bg mt15">44.2</div>
                <div class="divbgpading rings_bg mt15">44.8</div>
                <div class="divbgpading rings_bg mt15">45.5</div>
                <div class="divbgpading rings_bg mt15">46.1</div>
                <div class="divbgpading rings_bg mt15">46.8</div>
                <div class="divbgpading rings_bg mt15">47.4</div>
                <div class="divbgpading rings_bg mt15">48</div>
                <div class="divbgpading rings_bg mt15">48.7</div>

                <div class="divbgpading rings_bg mt15">49.3</div>
                <div class="divbgpading rings_bg mt15">50</div>
                <div class="divbgpading rings_bg mt15">50.6</div>
                <div class="divbgpading rings_bg mt15">51.2</div>
                <div class="divbgpading rings_bg mt15">51.9</div>
                <div class="divbgpading rings_bg mt15">52.5</div>
                <div class="divbgpading rings_bg mt15">53.1</div>
                <div class="divbgpading rings_bg mt15">53.8</div>
                <div class="divbgpading rings_bg mt15">54.4</div>
                <div class="divbgpading rings_bg mt15">55.1</div>

                <div class="divbgpading rings_bg mt15">55.7</div>
                <div class="divbgpading rings_bg mt15">56.3</div>
                <div class="divbgpading rings_bg mt15">57</div>
                <div class="divbgpading rings_bg mt15">57.6</div>
                <div class="divbgpading rings_bg mt15">58.3</div>
                <div class="divbgpading rings_bg mt15">58.9</div>
                <div class="divbgpading rings_bg mt15">59.5</div>
                <div class="divbgpading rings_bg mt15">60.2</div>
                <div class="divbgpading rings_bg mt15">60.8</div>
                <div class="divbgpading rings_bg mt15">61.4</div>

                <div class="divbgpading rings_bg mt15">62.1</div>
                <div class="divbgpading rings_bg mt15">62.7</div>
                <div class="divbgpading rings_bg mt15">63.4</div>
                <div class="divbgpading rings_bg mt15">64</div>
                <div class="divbgpading rings_bg mt15">64.6</div>
                <div class="divbgpading rings_bg mt15">65.3</div>
                <div class="divbgpading rings_bg mt15">65.9</div>
                <div class="divbgpading rings_bg mt15">66.6</div>
                <div class="divbgpading rings_bg mt15">67.2</div>
                <div class="divbgpading rings_bg mt15">67.8</div>

                <div class="divbgpading rings_bg mt15">68.5</div>
                <div class="divbgpading rings_bg mt15">69.1</div>
                <div class="divbgpading rings_bg mt15">69.7</div>
                <div class="divbgpading rings_bg mt15">70.4</div>
                <div class="divbgpading rings_bg mt15">71</div>
                <div class="divbgpading rings_bg mt15">71.7</div>
                <div class="divbgpading rings_bg mt15">72.3</div>
                <div class="divbgpading rings_bg mt15">72.9</div>
                <div class="divbgpading rings_bg mt15">73.6</div>
                <div class="divbgpading rings_bg mt15">74.2</div>

                <div class="divbgpading rings_bg mt15">74.8</div>
                <div class="divbgpading rings_bg mt15">75.5</div>
                <div class="divbgpading rings_bg mt15">76.1</div>
                <div class="divbgpading rings_bg mt15">76.8</div>
                <div class="divbgpading rings_bg mt15">77.4</div>
            </div>
            <div class="col-xs-2 new three">
                <div class="divbgpading rings_bg mt15 top">{{ 'product.ringsizeguide.us_ca_mx' | t }}</div>
                <div class="divbgpading rings_bg mt15">0</div>
                <div class="divbgpading rings_bg mt15">¼</div>
                <div class="divbgpading rings_bg mt15">½</div>
                <div class="divbgpading rings_bg mt15">¾</div>
                <div class="divbgpading rings_bg mt15">1</div>
                <div class="divbgpading rings_bg mt15">1¼</div>
                <div class="divbgpading rings_bg mt15">1½</div>
                <div class="divbgpading rings_bg mt15">1¾</div>
                <div class="divbgpading rings_bg mt15">2</div>
                <div class="divbgpading rings_bg mt15">2¼</div>

                <div class="divbgpading rings_bg mt15">2½</div>
                <div class="divbgpading rings_bg mt15">2¾</div>
                <div class="divbgpading rings_bg mt15">3</div>
                <div class="divbgpading rings_bg mt15">3¼</div>
                <div class="divbgpading rings_bg mt15">3½</div>
                <div class="divbgpading rings_bg mt15">3¾</div>
                <div class="divbgpading rings_bg mt15">4</div>
                <div class="divbgpading rings_bg mt15">4¼</div>
                <div class="divbgpading rings_bg mt15">4½</div>
                <div class="divbgpading rings_bg mt15">4¾</div>
                <div class="divbgpading rings_bg mt15">5</div>
                <div class="divbgpading rings_bg mt15">5¼</div>
                <div class="divbgpading rings_bg mt15">5½</div>
                <div class="divbgpading rings_bg mt15">5¾</div>
                <div class="divbgpading rings_bg mt15">6</div>
                <div class="divbgpading rings_bg mt15">6¼</div>
                <div class="divbgpading rings_bg mt15">6½</div>
                <div class="divbgpading rings_bg mt15">6¾</div>
                <div class="divbgpading rings_bg mt15">7</div>
                <div class="divbgpading rings_bg mt15">7¼</div>
                <div class="divbgpading rings_bg mt15">7½</div>
                <div class="divbgpading rings_bg mt15">7¾</div>
                <div class="divbgpading rings_bg mt15">8</div>
                <div class="divbgpading rings_bg mt15">8¼</div>
                <div class="divbgpading rings_bg mt15">8½</div>
                <div class="divbgpading rings_bg mt15">8¾</div>
                <div class="divbgpading rings_bg mt15">9</div>
                <div class="divbgpading rings_bg mt15">9¼</div>
                <div class="divbgpading rings_bg mt15">9½</div>
                <div class="divbgpading rings_bg mt15">9¾</div>
                <div class="divbgpading rings_bg mt15">10</div>
                <div class="divbgpading rings_bg mt15">10¼</div>
                <div class="divbgpading rings_bg mt15">10½</div>
                <div class="divbgpading rings_bg mt15">10¾</div>
                <div class="divbgpading rings_bg mt15">11</div>
                <div class="divbgpading rings_bg mt15">11¼</div>
                <div class="divbgpading rings_bg mt15">11½</div>
                <div class="divbgpading rings_bg mt15">11¾</div>
                <div class="divbgpading rings_bg mt15">12</div>
                <div class="divbgpading rings_bg mt15">12¼</div>
                <div class="divbgpading rings_bg mt15">12½</div>
                <div class="divbgpading rings_bg mt15">12¾</div>
                <div class="divbgpading rings_bg mt15">13</div>
                <div class="divbgpading rings_bg mt15">13¼</div>
                <div class="divbgpading rings_bg mt15">13½</div>
                <div class="divbgpading rings_bg mt15">13¾</div>
                <div class="divbgpading rings_bg mt15">14</div>
                <div class="divbgpading rings_bg mt15">14¼</div>
                <div class="divbgpading rings_bg mt15">14½</div>
                <div class="divbgpading rings_bg mt15">14¾</div>
                <div class="divbgpading rings_bg mt15">15</div>
                <div class="divbgpading rings_bg mt15">15¼</div>
                <div class="divbgpading rings_bg mt15">15½</div>
                <div class="divbgpading rings_bg mt15">15¾</div>
                <div class="divbgpading rings_bg mt15">16</div>
            </div>
            <div class="col-xs-2 new four">
                <div class="divbgpading rings_bg mt15 top">{{ 'product.ringsizeguide.uk_irl_au_nz' | t }}</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">A</div>
                <div class="divbgpading rings_bg mt15">A½</div>
                <div class="divbgpading rings_bg mt15">B</div>
                <div class="divbgpading rings_bg mt15">B½</div>
                <div class="divbgpading rings_bg mt15">C</div>
                <div class="divbgpading rings_bg mt15">C½</div>
                <div class="divbgpading rings_bg mt15">D</div>
                <div class="divbgpading rings_bg mt15">D½</div>

                <div class="divbgpading rings_bg mt15">E</div>
                <div class="divbgpading rings_bg mt15">E½</div>
                <div class="divbgpading rings_bg mt15">F</div>
                <div class="divbgpading rings_bg mt15">F½</div>
                <div class="divbgpading rings_bg mt15">G</div>
                <div class="divbgpading rings_bg mt15">G½</div>
                <div class="divbgpading rings_bg mt15">H</div>
                <div class="divbgpading rings_bg mt15">H½</div>
                <div class="divbgpading rings_bg mt15">I</div>
                <div class="divbgpading rings_bg mt15">J</div>

                <div class="divbgpading rings_bg mt15">J½</div>
                <div class="divbgpading rings_bg mt15">K</div>
                <div class="divbgpading rings_bg mt15">K½</div>
                <div class="divbgpading rings_bg mt15">L</div>
                <div class="divbgpading rings_bg mt15">L½</div>
                <div class="divbgpading rings_bg mt15">M</div>
                <div class="divbgpading rings_bg mt15">M½</div>
                <div class="divbgpading rings_bg mt15">N</div>
                <div class="divbgpading rings_bg mt15">N½</div>
                <div class="divbgpading rings_bg mt15">O</div>

                <div class="divbgpading rings_bg mt15">O½</div>
                <div class="divbgpading rings_bg mt15">P</div>
                <div class="divbgpading rings_bg mt15">P½</div>
                <div class="divbgpading rings_bg mt15">Q</div>
                <div class="divbgpading rings_bg mt15">Q½</div>
                <div class="divbgpading rings_bg mt15">R</div>
                <div class="divbgpading rings_bg mt15">R½</div>
                <div class="divbgpading rings_bg mt15">S</div>
                <div class="divbgpading rings_bg mt15">S½</div>
                <div class="divbgpading rings_bg mt15">T</div>

                <div class="divbgpading rings_bg mt15">T½</div>
                <div class="divbgpading rings_bg mt15">U</div>
                <div class="divbgpading rings_bg mt15">U½</div>
                <div class="divbgpading rings_bg mt15">V</div>
                <div class="divbgpading rings_bg mt15">V½</div>
                <div class="divbgpading rings_bg mt15">W</div>
                <div class="divbgpading rings_bg mt15">W½</div>
                <div class="divbgpading rings_bg mt15">X</div>
                <div class="divbgpading rings_bg mt15">X½</div>
                <div class="divbgpading rings_bg mt15">Y</div>

                <div class="divbgpading rings_bg mt15">Z</div>
                <div class="divbgpading rings_bg mt15">Z½</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">Z1</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">Z2</div>
                <div class="divbgpading rings_bg mt15">Z3</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">Z4</div>
                <div class="divbgpading rings_bg mt15">-</div>

                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>

            </div>
            <div class="col-xs-2 new five">
                <div class="divbgpading rings_bg mt15 top">{{ 'product.ringsizeguide.eur_be' | t }}<span class="soufeel"></span></div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">41</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">42</div>
                <div class="divbgpading rings_bg mt15">-</div>

                <div class="divbgpading rings_bg mt15">43</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">44</div>
                <div class="divbgpading rings_bg mt15">45</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">46</div>
                <div class="divbgpading rings_bg mt15">47</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">48</div>
                <div class="divbgpading rings_bg mt15">-</div>

                <div class="divbgpading rings_bg mt15">49</div>
                <div class="divbgpading rings_bg mt15">50</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">51</div>
                <div class="divbgpading rings_bg mt15">52</div>
                <div class="divbgpading rings_bg mt15">53</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">54</div>
                <div class="divbgpading rings_bg mt15">55</div>
                <div class="divbgpading rings_bg mt15">-</div>

                <div class="divbgpading rings_bg mt15">56</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">57</div>
                <div class="divbgpading rings_bg mt15">58</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">59</div>
                <div class="divbgpading rings_bg mt15">60</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">61</div>
                <div class="divbgpading rings_bg mt15">-</div>

                <div class="divbgpading rings_bg mt15">62</div>
                <div class="divbgpading rings_bg mt15">63</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">64</div>
                <div class="divbgpading rings_bg mt15">65</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">66</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">67</div>
                <div class="divbgpading rings_bg mt15">68</div>

                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">69</div>
                <div class="divbgpading rings_bg mt15">70</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">71</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">72</div>
                <div class="divbgpading rings_bg mt15">73</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">74</div>

                <div class="divbgpading rings_bg mt15">75</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">76</div>
            </div>
            <div class="col-xs-2 new six">
                <div class="divbgpading rings_bg mt15 top">{{ 'product.ringsizeguide.it_es_ch' | t }}<span class="soufeel"></span></div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>

                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">0.5</div>
                <div class="divbgpading rings_bg mt15">1</div>
                <div class="divbgpading rings_bg mt15">1.75</div>
                <div class="divbgpading rings_bg mt15">2.25</div>

                <div class="divbgpading rings_bg mt15">3</div>
                <div class="divbgpading rings_bg mt15">3.5</div>
                <div class="divbgpading rings_bg mt15">4.25</div>
                <div class="divbgpading rings_bg mt15">4.75</div>
                <div class="divbgpading rings_bg mt15">5.5</div>
                <div class="divbgpading rings_bg mt15">6</div>
                <div class="divbgpading rings_bg mt15">6.75</div>
                <div class="divbgpading rings_bg mt15">7.5</div>
                <div class="divbgpading rings_bg mt15">8</div>
                <div class="divbgpading rings_bg mt15">8.75</div>

                <div class="divbgpading rings_bg mt15">9.25</div>
                <div class="divbgpading rings_bg mt15">10</div>
                <div class="divbgpading rings_bg mt15">10.5</div>
                <div class="divbgpading rings_bg mt15">11.25</div>
                <div class="divbgpading rings_bg mt15">11.75</div>
                <div class="divbgpading rings_bg mt15">12.5</div>
                <div class="divbgpading rings_bg mt15">13.25</div>
                <div class="divbgpading rings_bg mt15">13.75</div>
                <div class="divbgpading rings_bg mt15">14.5</div>
                <div class="divbgpading rings_bg mt15">15</div>

                <div class="divbgpading rings_bg mt15">15.75</div>
                <div class="divbgpading rings_bg mt15">16.25</div>
                <div class="divbgpading rings_bg mt15">17</div>
                <div class="divbgpading rings_bg mt15">17.5</div>
                <div class="divbgpading rings_bg mt15">18.25</div>
                <div class="divbgpading rings_bg mt15">19</div>
                <div class="divbgpading rings_bg mt15">19.5</div>
                <div class="divbgpading rings_bg mt15">20.25</div>
                <div class="divbgpading rings_bg mt15">20.75</div>
                <div class="divbgpading rings_bg mt15">21.5</div>

                <div class="divbgpading rings_bg mt15">22</div>
                <div class="divbgpading rings_bg mt15">22.75</div>
                <div class="divbgpading rings_bg mt15">23.25</div>
                <div class="divbgpading rings_bg mt15">24</div>
                <div class="divbgpading rings_bg mt15">24.75</div>
                <div class="divbgpading rings_bg mt15">25.25</div>
                <div class="divbgpading rings_bg mt15">26</div>
                <div class="divbgpading rings_bg mt15">26.5</div>
                <div class="divbgpading rings_bg mt15">27.25</div>
                <div class="divbgpading rings_bg mt15">27.75</div>

                <div class="divbgpading rings_bg mt15">28.5</div>
                <div class="divbgpading rings_bg mt15">29</div>
                <div class="divbgpading rings_bg mt15">29.75</div>
                <div class="divbgpading rings_bg mt15">30.5</div>
                <div class="divbgpading rings_bg mt15">31</div>
                <div class="divbgpading rings_bg mt15">31.75</div>
                <div class="divbgpading rings_bg mt15">32.25</div>
                <div class="divbgpading rings_bg mt15">33</div>
                <div class="divbgpading rings_bg mt15">33.5</div>
                <div class="divbgpading rings_bg mt15">34.25</div>

                <div class="divbgpading rings_bg mt15">34.75</div>
                <div class="divbgpading rings_bg mt15">35.5</div>
                <div class="divbgpading rings_bg mt15">36.25</div>
                <div class="divbgpading rings_bg mt15">36.75</div>
                <div class="divbgpading rings_bg mt15">37.5</div> 
            </div>
            <div class="col-xs-2 new seven">
                <div class="divbgpading rings_bg mt15 top">{{ 'product.ringsizeguide.nl' | t }}<span class="soufeel"></span></div>
                 <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>

                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">14</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">14.5</div>
                <div class="divbgpading rings_bg mt15">15</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">15.5</div>
                <div class="divbgpading rings_bg mt15">-</div>

                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">16</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">16.5</div>
                <div class="divbgpading rings_bg mt15">17</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">17.5</div>
                <div class="divbgpading rings_bg mt15">-</div>

                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">18</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">19</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>

                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">20</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">20.5</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">21</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">21.5</div>

                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">22</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">22.5</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">23</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">23.5</div>

                <div class="divbgpading rings_bg mt15">24</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
                <div class="divbgpading rings_bg mt15">-</div>
            </div>

            <div class="cl"></div>
        </div>
        <div class="fs13 mt20 rings_sise-two">      
            <p class="lh28"><span style=" color:red">*&nbsp;</span>{{ 'product.ringsizeguide.desc_1' | t }}</p>
            <p class="lh28"><span style=" color:red">*&nbsp;</span>{{ 'product.ringsizeguide.desc_2' | t }}</p>
        </div>
        <div class="fs13 mt30 rings_sise-three">
            <h3>{{ 'product.ringsizeguide.desc_3' | t }}</h3>       
            <h4 class="lh28">{{ 'product.ringsizeguide.desc_4' | t }}</h4>
            <p class="lh16" style=" line-height:16px; text-align:left;">{{ 'product.ringsizeguide.desc_5' | t }}</p>
        </div>
        <div class="fs13 mt30 rings_sise-three">
            <div class="fs13 mt30 rings_sise-three">
                <div class="fs13 mt30 rings_sise-three-title"><h4 class="lh28">{{ 'product.ringsizeguide.desc_6' | t }}</h4></div>
                <div class="step-1">
                    <h5 class="lh16">{{ 'product.ringsizeguide.step_1' | t }}</h5>
                    <p class="lh16">{{ 'product.ringsizeguide.desc_7' | t }}</p>
                    <img class="lazyload" src="https://cdn.shopify.com/s/files/1/0075/2936/5568/files/rings_sise-01.jpg?12250993436008790828">
                </div>
                <div class="step-2">
                    <h5 class="lh16">{{ 'product.ringsizeguide.step_2' | t }}</h5>
                    <p class="lh16">{{ 'product.ringsizeguide.desc_8' | t }}</p>
                    <img class="lazy" src="https://cdn.shopify.com/s/files/1/0075/2936/5568/files/rings_sise-02.jpg?12250993436008790828">
                </div>
                <div class="step-3">
                    <h5 class="lh16">{{ 'product.ringsizeguide.step_3' | t }}</h5>
                    <p class="lh16">{{ 'product.ringsizeguide.desc_9' | t }}</p>
                    <img class="lazy" src="https://cdn.shopify.com/s/files/1/0075/2936/5568/files/rings_sise-03.jpg?12250993436008790828">
                </div>
                <div class="step-4">
                    <h5 class="lh16">{{ 'product.ringsizeguide.step_4' | t }}</h5>
                    <p class="lh16">{{ 'product.ringsizeguide.desc_10' | t }}</p>
                    <img class="lazyload" src="https://cdn.shopify.com/s/files/1/0075/2936/5568/files/rings_sise-04.jpg?12250993436008790828">
                </div>      
            </div>
        </div>
    </div>
  </div>
</div>
</div>