<style>
  .password-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tips_policy{
    text-align: center;
    width:100%;
    padding:  20px 0px;
    border-top:1px solid #F6F6F9;
    color:#6C6888;
  }
  .input-password-box {
    position: relative;
    width:100%;
  }
  .input-password-box input{
    margin-bottom:0px;
  }
  .sign-up-input-bortton-top{
    margin-top:30px;
  }
  .icon-password-eye-open{
    position:absolute;
    right:10px;
    top:10px;
    cursor: pointer;
  }
  .oblique-line{
    width:30px;
    height:2px;
    border-bottom:1px solid #6C6888;
    position:absolute;
    right:10px;
    top: 31%;
    transform: rotateZ(43deg) translate(7px, -50%);
    background: #fff;
    display:none;
  }
  .active-line{
    display:block;
  }
  .customer_register{
    position: relative;
  }

  @media(max-width:768px){
    .sign-up-page{
      background: #ffffff;
    }
  }
</style> 

{% assign public_logo_resize = section.settings.public_logo.width | append: "x" | append: section.settings.public_logo.height %}
<div class="sign-up-page from-box">
  <div class="input-box">
    <div class="input-close">
      {% include 'icon-login-close'%}
    </div>
    <div class="input-content sign-up-content">
      <div class="input-content-box">
        <img  src="{{section.settings.public_logo | img_url: public_logo_resize }}" />
        <div class="input-content-title">
          {{section.settings.sign_up_title}}
        </div>
        <div class="sign-up-box form-vertical">

          {% form 'create_customer',class:"customer_register" %}

          <div class="input-box-content">
            <lable class="input-title">{{ 'customer.login.email' | t }}</lable>
            <input placeholder="{{section.settings.background_email_text}}" class="sign-up-email-number"  name="customer[email]"  type="email" value='' name="customer[email]"/>
          </div>

          <div class="input-box-content">
            <lable class="input-title">{{ 'customer.login.password' | t }}</lable>
            <div class="input-password-box">
              <input placeholder="{{section.settings.sign_background_password}}" class="input-password" type="password" value='' name="customer[password]"/>
              <div class="icon-password-eye-open"> 
                <div class="oblique-line"></div>
                {% include 'icon-password-eye-open'%} 
              </div>
            </div>
          </div>
          <!--       提交   -->
          {{ form.errors | default_errors }}
          <input class="input-bortton" type="submit" value="{{section.settings.sign_up_text}}" class="btn">
          {% endform %}
        </div>
        <!--       <botton class="input-bortton"></botton> -->
        <div class="input-tips">
          <span class="input-tips-text">{{section.settings.sign_up_tips_one}}</span>
          <span class="input-tips-text color-special">{{section.settings.sign_up_tips_two}}</span>
        </div>
      </div>
      <div class="tips_policy">{{section.settings.sign_up_tips_policy}}</div>
    </div>
  </div>
</div>

<script>
  //显示注册
  if(window.location.href.indexOf('register')===-1&&window.location.href.indexOf('login')===-1){
    $('.from-box').addClass('page-none')
    $('html').removeClass('html')
  }else{
    $('.from-box').removeClass('page-none')
    if(window.location.href.indexOf('register')>-1){
      $('.login-page').addClass('active-none')
      $('.sign-up-page').addClass('active-block')
      $('html').addClass('html')
    }
  }

  // 点击眼睛
  $('.sign-up-box .icon-password-eye-open').on('mouseup',function(){
    $('.sign-up-box .icon-password-eye-open').find('.oblique-line').toggleClass('active-line')
    if($(".sign-up-box .input-password").attr("type")==="text"){

      $('.sign-up-box .input-password').attr("type","password");
    }else{
      $('.sign-up-box .input-password').attr("type","text");
    }
  })

  //提交框的样式变化
  function renderSignUpInputColor(emailValue,passwordValue) {
    if(emailValue!==''&&passwordValue!==''){
      $('.sign-up-box .input-bortton').addClass('color-active') 
      return true
    }else{
      $('.sign-up-box .input-bortton').removeClass('color-active')
      return false
    }
  }
  renderSignUpInputColor($('.sign-up-box .input-password').val(),$('.sign-up-email-number').val())

  // 监听值输入
  $('.sign-up-email-number').on('input',function(e){
    renderSignUpInputColor(e.target.value,$('.sign-up-box .input-password').val())
  })
  $('.sign-up-box .input-password').on('input',function(e){
    renderSignUpInputColor(e.target.value,$('.sign-up-email-number').val())
  })

  //获得焦点
  $(' .sign-up-email-number').on('focus',function(){
    $('.sign-up-email-number').addClass('active-border')	
  })
  $('.sign-up-box .input-password').on('focus',function(){
    $('.sign-up-box .input-password').addClass('active-border')	
  })

  // 失去焦点
  $('.emsign-up-email-number').on('blur',function(){
    $('.sign-up-email-number').removeClass('active-border')	
  })

  $('.sign-up-box .input-password').on('blur',function(){
    $('.sign-up-box .input-password').removeClass('active-border')	
  })

  //去登录
  $('.sign-up-page .input-tips-text').on('click',function(){
    $('.sign-up-page').removeClass('active-block')
    $('.login-page').removeClass('active-none')
  })


  $('.sign-up-page .input-close').on('click',function(){
    $('.login-page').addClass('page-none')
    $('.sign-up-page').addClass('page-none')
  })

  //改变提交框的样式
  if($('.sign-up-page #create_customer').find('.errors').length>0){
    $('.input-bortton').addClass('sign-up-input-bortton-top')
  } else{
    $('.input-bortton').removeClass('sign-up-input-bortton-top')
  }

  {% if form.errors %}
  if (window.location.pathname == '/account/login'){
    window.localStorage.setItem('account-magento-login-error', '{{ form.errors | default_errors }}')
                                $('.sign-up-page').removeClass('active-block')
    $('.login-page').removeClass('active-none')
  }

  {% endif %}



</script>