{% comment %}
** @name 字母艺术图-体恤 **
** @version 1.0.0 **
** @author 罗鸿燊 **
** @integrate 罗鸿燊 王天宇 **
{% endcomment %}

{% comment %} 引入公共插槽v2.0 {% endcomment %}
{% include 'sunzi-slot-template-2' %}

{% comment %} 核心库版本 {% endcomment %}
{% assign coreJs = 'artistic-letter-v1.0.0-beta.js' %}
{% comment %} 定制化数据地址 {% endcomment %}
{% assign requestURL = 'https://wuxian-chanpin.oss-accelerate.aliyuncs.com/sunzi/artistic-letter-shift.json' %}

{% comment %}变体元素{% endcomment %}
{% comment %}是否带框变体{% endcomment %}
{% assign variantFrame = 0 %}


{% comment %} 样式补充&修正 {% endcomment %}
<style type="text/css">

</style>

{% comment %} 定制化表单 {% endcomment %}
<div class="sunzi-form">
  {% comment %} 额外的表单参数 {% endcomment %}

  {% comment %} 标记订单来源 {% endcomment %}
  {% assign from = coreJs | split: '-v' %}
  <input type="hidden" name="properties[_from]" value="sunzi-{{ from[0] }}" />
  
  {% comment %} 默认表单参数 {% endcomment %}
  <input type="text" id="sunzi-input" name="properties[customInfo]" required="required"></input>
  <input type="hidden" id="sunzi-cart" name="properties[_sunzi_cart]" />

  {% comment %} 定制按钮 {% endcomment %}
  <div class="sunzi-form-content">
    <div id="sunzi-node">
      <div class="sunzi-node-loading">
        <span class="dots">
          <i></i>
          <i></i>
          <i></i>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- sunzi core js -->
<script crossorigin src="https://wuxian-chanpin.oss-accelerate.aliyuncs.com/sunzi/{{ coreJs }}" defer="defer"></script>

{% comment %} 渲染前执行 {% endcomment %}
<script defer="async">

</script>

{% comment %} 2.请求定制化数据 & 渲染 {% endcomment %}
<script defer="async">
  _sunzi_request('{{ requestURL }}', function(data) {
    initData(data);
    // 定制化参数
    var _sunzi_props = data;
    _sunzi_props.shop = _sunzi_global_data.shop;
  
    {% for tag_item in product.tags %}
  	  {%comment%}设置默认主题 {%endcomment%}
  	  {% if tag_item contains "custom-default-theme-" %}
  		{%- assign default_theme = tag_item | strip | replace: "custom-default-theme-", "" -%}
  		_sunzi_props.options || (_sunzi_props.options = {});
      	_sunzi_props.options.defaultTheme = `{{default_theme}}`;
  	  {%comment%}设置默认文案 {%endcomment%}
  	  {% elsif tag_item contains "custom-default-text-" %}
  		{%- assign default_text = tag_item | strip | replace: "custom-default-text-", "" -%}
  		_sunzi_props.options || (_sunzi_props.options = {});
  		_sunzi_props.options.defaultText = `{{default_text}}`;
      {% endif %}
    {% endfor %}
                 
    ArtisticLetter.render(
      ArtisticLetter.Shift,
      {
        ..._sunzi_props,
        onVariantChange(...data) {
			data.forEach((variant, index) => _sunzi_variant_change(index, variant.name));
        },
        async onConfirm(data) {
          // 唤醒loading
          _sunzi_loading();

          // 组装加车参数
          var param = {
            '_sunzi_compose': [{
              'rule': 32,
              'data': data.output
            }],
            '_sunzi_effect': data.effect,
            '_sunzi_text': { value: data.text },
          };
          
          $('#sunzi-input').val(JSON.stringify(param));
          $('#sunzi-cart').val(JSON.stringify({
            image: [ data.effect ]
          }));
          
          // 加车队列
          var _queue = [];

          // 加车事件触发
          await Promise.all(_queue);
          // 由于主产品涉及vip/质保产品等额外加车事件的判断，因此沿用站点加车方法
          $('.product-form__cart-submit').click();
          $('#sunzi-loading').hide();
        }
      },
      _matomoId,
      document.getElementById("sunzi-node")
    );
  });

  /** 其他自定义函数 start **/
  // 初始化数据
  function initData(data) {
    var productJSON = {{product | json}};
    data.sizeData = [];
    // 不同尺码宽高数据固定，因此根据变体的size数据生成sizeData
    productJSON.variants.forEach(variant => {
      var option = variant.options[{{variantFrame}}];
      if(data.sizeData.find(item => item.name == option)) return;
      data.sizeData.push({
        id: (data.sizeData.length + 1).toString(),
        name: option,
        price: variant.price / 100,
        width: 3307,
        height: 5315,
        dpi: 300
      });
    });
  }
  
  /** 其他自定义函数 end **/
</script>
