{% comment %}
** @name SpotifyCode-无限魔方 **
** @author 劳紫恩 **
** @integrate 劳紫恩  王天宇 **
{% endcomment %}

{% comment %} 引用公共插槽 {% endcomment %}
{% include 'sunzi-solt-template' %}

{% comment %} 调用参数 {% endcomment %}

{% comment %} 核心库版本 {% endcomment %}

{% assign coreJs = 'spotify.infinite.code.test.js' %}

{% comment %} 定制化数据地址 {% endcomment %}
{% assign requestURL = 'https://wuxian-chanpin.oss-accelerate.aliyuncs.com/sunzi/spoitfy-code-DTH001X08.json' %}

{% comment %} 默认唱片图片 {% endcomment %}
{% assign defaultCustomAlbum = section.settings.sunzi_param_spotify_default_custom_album %}
{% comment %} 推荐唱片列表 {% endcomment %}
{% assign recommendTracks = section.settings.sunzi_param_spotify_recommend_tracks %}
{% comment %} 站点语种 {% endcomment %}
{% assign sunzi_shop_language = section.settings.sunzi_shop_language %}
{% comment %} 货币符号 {% endcomment %}
{% assign sunzi_shop_symbol = section.settings.sunzi_shop_symbol %}
{% comment %} 谷歌分析id {% endcomment %}
{% assign gtag = 'G-R132WKL1C2' %}


{% comment %} 定制按钮文案 {% endcomment %}
{% assign buttonText = section.settings.sunzi_button_upload_text %}



{% comment %} 样式补充&修正 {% endcomment %}
<style type="text/css">
  .product-quantity,
  .product-form .common-standar_btn {
  	display: none !important;
  }
  @media screen and (min-width: 768px) {
    .sunzi-modal-content {
      width: 400px!important;
      height: 640px!important;
    }
  }

</style>

{% comment %} 定制化表单 {% endcomment %}
<div class="sunzi-form">
  {% comment %} 默认表单参数 {% endcomment %}
  <input type="hidden" id="sunzi-input" name="properties[customInfo]" required="required"></input>
  <input type="hidden" id="sunzi-cart" name="properties[_sunzi_cart]"></input>
  <input type="hidden" id="sunzi-related-product" name="properties[_sunzi_related_product]" ></input>

  {% comment %} 定制按钮 {% endcomment %}
  <button type="button" id="sunzi-button" disabled class="dots-loading">
    <span class="dots">
      <i></i>
      <i></i>
      <i></i>
    </span>
    <div class="sunzi-button-text">{{ buttonText }}</div>
  </button>
</div>

{% comment %} loading 所需图片预加载 {% endcomment %}
<link rel="preload" href="https://spic.qn.cdn.imaiyuan.com/spotify-code/custom-album.jpg?imageslim" as="image">
<link rel="preload" href="https://spic.qn.cdn.imaiyuan.com/spotify-code/control-black.png" as="image">
<link rel="preload" href="https://spic.qn.cdn.imaiyuan.com/spotify-code/control-white.png" as="image">
<!-- sunzi core js -->
<script src="https://wuxian-chanpin.oss-accelerate.aliyuncs.com/sunzi/{{ coreJs }}" defer="defer"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ gtag }}" async="async"></script>
<script async="async">
  _sunzi_gtag('{{ gtag }}');
</script>

{% comment %} 1.隐藏掉变体，加车按钮等等 {% endcomment %}
<script defer="defer">
</script>

{% comment %} 2.请求定制化数据 {% endcomment %}
<script defer="defer">
  var response;
  _sunzi_request('{{ requestURL }}', function(res) {
	response = res;
  });
</script>

{% comment %} 3.开始定制 {% endcomment %}
<script defer="defer">
  $('#sunzi-button').click(function() {

    // sku
    var sku = _sunzi_get_product_info().sku;
    var layoutInfo = response.find(item => item.sku === sku);
    _sunzi_response = layoutInfo.data;
    
  
    _sunzi_response.needCompose = true;
    _sunzi_response.shop = {
      language: '{{sunzi_shop_language}}',
      currencySymbol: '{{sunzi_shop_symbol}}'
    };

        _sunzi_response.price = $(".product-single__price--special").first().html();
    _sunzi_response.defaultCustomAlbum = '{{defaultCustomAlbum}}';
    _sunzi_response.recommendTracks = {{recommendTracks}};
    _sunzi_response.theme = {
      r: 255,
      g: 1,
      b: 54
    };
      
    // 开始渲染
      
    _sunzi_custom(
      SpotifyCode.default,
      function(image, compose, currentTrack, vip) {
        _sunzi_loading();
        // 加车完清除掉定制化信息
        clearSunziForm();
        $('#sunzi-input').val(JSON.stringify({
          '_sunzi_ais':  image ,
          '_sunzi_effect': compose,
          '_sunzi_text': {
            value: `${currentTrack.color}|${currentTrack.name}|${currentTrack.artists}|${currentTrack.uri}|${SpotifyCode.formatTime(currentTrack.duration_ms)}`
          }
        }));
        $('#sunzi-cart').val(JSON.stringify({
          'image': [ compose ]
        }));
        
        // 根据vip添加虚拟产品
        if(vip) {
          var tempvip = cateTempVip();
          addToCart({
            id: vip.virtualId,
            quantity: 1,
            "properties[_sunzi_related_product]": tempvip,
            mask: 'body',
            refresh: true,
          })
          $('#sunzi-related-product').val(tempvip);
        }
        
		//	加车事件触发
      	$('.product-form__cart-submit').click();
        _sunzi_hide_loading();
      }
    );
  });
  
  // 清除孙子定制化信息
  function clearSunziForm() {
    $('#sunzi-related-product').val('');
    // 如果有的站验证custominfo不能为空的
    $('#sunzi-input').val("{}");
  }

  // 加车
  function addToCart(data) {
    return new Promise((resolve, reject) => {
      $.ajax({
        type: "POST",
        url: "/cart/add.js",
        data,
        async: false,
        dataType: "json",
        context: this,
        success: (item) => resolve(item),
        error: (request, status) => {
          reject(request, status);
        }
      })
    })
  }
  
  function cateTempVip(){
    var t = jQuery('[name="id"]').val();
    document.querySelectorAll("[name^='properties[']").forEach(function(e,item){
      var n = "radio" !== e.type || e.checked;
      ("properties[_tempId]" != e.name && "properties[_tempVip]" != e.name) && "" != e.value && n && (t += e.name + ":" + e.value + ",")
    })
    var e, n, r, i = 0;                
    for (e = 0, r = t.length; e < r; e++){
      n = t.charCodeAt(e),
        i = (i << 5) - i + n,
        i |= 0;  
    }
    return i;
  }
  
    // 获取地址栏参数
  function getQueryVariable(variable) {
    var query = window.location.search.substring(1);
    var vars = query.split("&");
    for (var i=0;i<vars.length;i++) {
      var pair = vars[i].split("=");
      if(pair[0] == variable){return pair[1];}
    }
    return(false);
  }
  /** 其他自定义函数 end **/
</script>
