{% comment %}
** @name 多图-通用**
** @author 王天宇 **
** @integrate 王天宇 **
{% endcomment %}

{% comment %} 调用参数 {% endcomment %}


{% comment %} 核心库版本 {% endcomment %}
{% assign coreJs = 'sunzi.multi.photo.js' %}
{% comment %} 定制化数据地址 {% endcomment %}
{% assign requestURL = '' %}

{% comment %} 孙子定制化模板 {% endcomment %}
{% include 'sunzi-solt-template' %}

{% comment %} 谷歌分析id {% endcomment %}
{% assign gtag = '' %}

{% comment %} 定制按钮文案 {% endcomment %}
{% assign sunzi_button_text = section.settings.sunzi_button_upload_text %}

{% comment %} 配置信息-类别 {% endcomment %}
{% assign sunzi_config_type = '' %}
{% if product.tags contains 'custom-type-photo-wallet' %}
  {% assign sunzi_config_type = 'photoWallet' %}
{% elsif product.tags contains 'custom-type-photo-engraved' %}
  {% assign sunzi_config_type = 'photoEngraved' %}
{% elsif product.tags contains 'custom-type-photo-locket-necklace' %}
  {% assign sunzi_config_type = 'locketNecklace' %}
{% endif %}

{% comment %} 站点语种 {% endcomment %}
{% assign sunzi_shop_language = section.settings.sunzi_shop_language %}
{% comment %} 货币符号 {% endcomment %}
{% assign sunzi_shop_symbol = section.settings.sunzi_shop_symbol %}

{% comment %} 样式补充&修正 {% endcomment %}
<style type="text/css">
  .view-size-quantity,
  .common-standar_btn {
  	display: none;
  }
  #sunzi-button-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  @media screen and (min-width: 768px) {
    .sunzi-modal-content {
       max-width: 500px;
       height: 680px;
    }
  }
   .sunzi-variant .sunzi-variant-item {
    padding-bottom: 8px;
  }
  .sunzi-variant .sunzi-variant-item input[type=checkbox]{
    width: 14px;
    height: 14px;
  }
  .sunzi-variant .sunzi-variant-item label{
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    padding-left: 8px;
    font-size: 14px;
    line-height: 14px;
  }
  .sunzi-variant .sunzi-variant-item small {
    display: block;
    font-style: italic;
    color: #848484;
  }
  #sunzi-input-crop{
  	display:none
  }
  #sunzi-button{
     position: relative;
  
  }
  #sunzi-button #sunzi-button-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
   
  }
</style>

{% comment %} 定制化表单 {% endcomment %}
<div class="sunzi-form">
  {% comment %} 额外的表单参数 {% endcomment %}
  {% comment %} 默认表单参数 {% endcomment %}
  <input type="text" id="sunzi-input" name="properties[customInfo]" required="required"></input>
  
  {% comment %} 定制按钮 {% endcomment %}
  <button type="button" id="sunzi-button" disabled class="dots-loading">
    <span class="dots">
      <i></i>
      <i></i>
      <i></i>
    </span>
     <input id="sunzi-button-input" disabled  type="file" multiple  accept="image/*" />
    <div class="sunzi-button-text">{{ sunzi_button_text }}</div>
  </button>
</div>

<!-- sunzi core js -->
<script src="https://wuxian-chanpin.oss-accelerate.aliyuncs.com/sunzi/{{ coreJs }}" defer="defer"></script>
<!-- 配置文件件js -->
<script src="{{ 'sunzi-photo-config.js' | asset_url }}"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ gtag }}" async="async"></script>
<script async="async">
  _sunzi_gtag('{{ gtag }}');
</script>

{% comment %} 1.隐藏掉变体，加车按钮等等 {% endcomment %}
<script defer="defer">
  $('.product-form__controls-group').hide()
</script>

{% comment %} 2.请求定制化数据 {% endcomment %}
<script defer="defer">
  _sunzi_request("{{requestURL}}", function() {
    $('#sunzi-button-input').removeAttr("disabled");
  });
</script>

{% comment %} 3.开始定制 {% endcomment %}
<script defer="defer">
  $('#sunzi-button-input').change( async function() {
    	var type = '{{sunzi_config_type}}' || _sunzi_get_product_info().sku;
        var customJson = sunziPhotoConfig[type];
   
        // 定制之前的参数构建
    	var files = $("#sunzi-button-input").get(0).files;
        var promiseArray = Array.from(files).map((item) => fileToBase64(item))
        var base64Array = await Promise.all(promiseArray);
    	
        _sunzi_response.handleType = customJson.handleType;
        _sunzi_response.sources = base64Array,
        _sunzi_response.imageList = customJson.imageList;
        _sunzi_response.supportSort = true;
        _sunzi_response.needCompose = true;
        _sunzi_response.shop = {
          language: '{{sunzi_shop_language}}',
          currencySymbol: '{{sunzi_shop_symbol}}'
        };
    // 开始渲染
        _sunzi_custom(
          MultiPhoto.default,
          function(result, compose) {
            _sunzi_loading();
            var output = {};
            if(_sunzi_response.handleType == 'cropai') {
              output = {
                '_sunzi_sources': result.map(item => item.source),
                '_sunzi_ais': result.map(item => item.ai),
                '_sunzi_effects': [compose]
              };
            } else {
              output = {
              	'_sunzi_sources': result.map(item => item.handle),
                '_sunzi_effects': [compose]
              }
            }
             $('#sunzi-input').val(JSON.stringify(output));
            //加车事件触发
        	$('.product-form__cart-submit').click();
            _sunzi_hide_loading();
          },
          function() {
    		$("#sunzi-button-input").val("");
      	  }
        );


      });
  
  /** 其他自定义函数 start **/
  function fileToBase64 (img) {
    return new Promise(function (resolve, reject) {
      const reader = new FileReader()
      reader.addEventListener('load', () => resolve(reader.result))
      reader.readAsDataURL(img)
    })
  }
  
  // 获取地址栏参数
  function getQueryVariable(variable) {
    var query = window.location.search.substring(1);
    var vars = query.split("&");
    for (var i=0;i<vars.length;i++) {
      var pair = vars[i].split("=");
      if(pair[0] == variable){return pair[1];}
    }
    return(false);
  }

  /** 其他自定义函数 end **/
</script>
