{% comment %}
** @name 泥人**
** @author laozien **
** @integrate laozien **
{% endcomment %}

{% comment %} 引用公共插槽 {% endcomment %}
{% include 'sunzi-solt-template' %}

{% comment %} 调用参数 {% endcomment %}

{% comment %} 核心库版本 {% endcomment %}
{% assign coreJs = 'clay.figurine.test.js' %}
{% comment %} 定制化数据地址 {% endcomment %}
{% assign requestURL = 'https://wuxian-chanpin.oss-accelerate.aliyuncs.com/sunzi/clay-figurine.json' %}
{% comment %} 谷歌分析id {% endcomment %}
{% assign gtag = '' %}
{% comment %} 变体名称 {% endcomment %}
{% comment %} 尺码 {% endcomment %}
{% assign variantSize = 0 %}
{% comment %} 加价 {% endcomment %}
{% assign variantAdd = 1 %}
{% comment %} 是否可摇晃 {% endcomment %}
{% assign variantConnection = 2 %}
{% comment %} 定制按钮文案 {% endcomment %}
{% assign sunzi_button_text = section.settings.sunzi_button_upload_text %}

{% comment %} 站点语种 {% endcomment %}
{% assign sunzi_shop_language = section.settings.sunzi_shop_language %}
{% comment %} 货币符号 {% endcomment %}
{% assign sunzi_shop_symbol = section.settings.sunzi_shop_symbol %}
 
{% comment %} 样式补充&修正 {% endcomment %}
<style type="text/css">
  .view-size-quantity,
  .common-standar_btn {
  	display: none;
  }
  .addToCartForm {
  	width: 100%;
  }
  #addToCart-product-template,
  .productselect {
  	display: none;
  }
  @media screen and (min-width: 768px) {
    .sunzi-modal-content {
       width: 400px;
       height: 660px;
    }
  }
   .sunzi-variant .sunzi-variant-item {
    padding-bottom: 8px;
  }
  .sunzi-variant .sunzi-variant-item input[type=checkbox]{
    width: 14px;
    height: 14px;
  }
  .sunzi-variant .sunzi-variant-item label{
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    padding-left: 8px;
    font-size: 14px;
    line-height: 14px;
  }
  .sunzi-variant .sunzi-variant-item small {
    display: block;
    font-style: italic;
    color: #848484;
  }
  .cr-slider{
    border-width:0px;
  }
  .product-form__controls-group{
  	display:none
  }
  .sunzi-select-head,.size{
    width:100%;
    margin-bottom: 24px;
  }
  .title{
    display: block;
    margin-bottom: 12px;
    color: #000;
    font-size: 1rem;
    text-transform: uppercase;

  }
  .head-img{
   	width:100%;
    display:flex;
    margin-top: 5px;
  }
  .head-item{
    width:101px;
    height:128px;
    margin-right: 10px;
  }
  .sunzi-box{
  	width:100%;
    height:91px;;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .item-img{
  	width:91px;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border:2px solid #333;
    border-radius: 7px;
    cursor: pointer;
  }
  .img{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .sunzi-item-icon{
    width: 23px;
    height: 23px;
  	position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display:none;
    background: #fff;
  }
  .item-text{
    width:100%;
    color:#333;
    font-size:14px;
    line-height:16px;
    text-align: center;
    margin-top: 5px;
  }
  .item-price{
    width:100%;
  	font-weight:600;
    color:#FF533A;
    font-size:14px;
    line-height:16px;
    text-align: center;
  }
  .sunzi-form #sunzi-button{
  	margin-top: 32px;
  }
   .icon-active {
    display:block;  
  }
  .img-active{
  	border:2px solid #FF533A;
  }
  .text-active{
  	color:#FF533A;
  }
</style>

{% comment %} 定制化表单 {% endcomment %}
<div class="sunzi-form">
  {% assign optionConnection = product.options_with_values[2] %}
  <div class="sunzi-select-head">
    <lable class="title">{{optionConnection.name}} :</lable>
    <div class="head-img">
      {% for valueConnection in optionConnection.values %}
      {% assign optionIndex = forloop.index %}
      <div class="head-item">
        <div class="sunzi-box">
          <div class="item-img {% if optionConnection.selected_value == valueConnection %}img-active{% endif %}" data-value="{{ valueConnection | escape }}">
            <div class="img {% if optionIndex == 1 %}img-stationary{% elsif optionIndex == 2 %}img-bobble{% endif %}"></div>
            <div class="sunzi-item-icon">
              <svg class="tick-circle" viewBox="2 2 20 20" fill="#FF533A">
                <path d="M12,3.2 C16.8601058,3.2 20.8,7.1398942 20.8,12 C20.8,16.8601058 16.8601058,20.8 12,20.8 C7.1398942,20.8 3.2,16.8601058 3.2,12 C3.2,7.1398942 7.1398942,3.2 12,3.2 Z M17.3656854,8.63431458 C17.053266,8.32189514 16.546734,8.32189514 16.2343146,8.63431458 L16.2343146,8.63431458 L10.8,14.068 L7.76568542,11.0343146 L7.69031955,10.9677637 C7.37648659,10.7237438 6.92270174,10.7459274 6.63431458,11.0343146 C6.32189514,11.346734 6.32189514,11.853266 6.63431458,12.1656854 L6.63431458,12.1656854 L10.2343146,15.7656854 L10.3096804,15.8322363 C10.6235134,16.0762562 11.0772983,16.0540726 11.3656854,15.7656854 L11.3656854,15.7656854 L17.3656854,9.76568542 L17.4322363,9.69031955 C17.6762562,9.37648659 17.6540726,8.92270174 17.3656854,8.63431458 Z"></path>
              </svg>
            </div>
          </div>
        </div>
        <div class="item-text {% if optionConnection.selected_value == valueConnection %}text-active{% endif %}"></div>
      </div>
      {% endfor %}

    </div>
  </div>
  {% comment %} 额外表单参数 {% endcomment %}
  <input type="hidden" id="sunzi-related-products" name="properties[_sunzi_related_products]"></input>

  {% comment %} 默认表单参数 {% endcomment %}
  <input type="text" id="sunzi-input" name="properties[customInfo]" required="required"></input>
  <input type="text" id="sunzi-cart" name="properties[_sunzi_cart]"></input>

  {% comment %} 定制按钮 {% endcomment %}
  <button type="button" id="sunzi-button" disabled class="dots-loading">
    <span class="dots">
      <i></i>
      <i></i>
      <i></i>
    </span>
    <div class="sunzi-button-text">{{ sunzi_button_text }}</div>
  </button>
</div>

<!-- sunzi core js -->
<script src="https://wuxian-chanpin.oss-accelerate.aliyuncs.com/sunzi/{{ coreJs }}" defer="defer"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ gtag }}" async="async"></script>
<script async="async">
  _sunzi_gtag('{{ gtag }}');
</script>

{% comment %} 1.隐藏掉变体，加车按钮等等 {% endcomment %}
<script defer="defer">
  _sunzi_variant_hide({{variantAdd}});
  _sunzi_variant_hide({{variantConnection}});
</script>

{% comment %} 2.请求定制化数据 {% endcomment %}
<script defer="defer">
  _sunzi_request('{{requestURL}}');
</script>
{% comment %} 3.开始定制 {% endcomment %}
<script defer="defer">
  reanderHead();
  var shakeHead=false
  $('#sunzi-button').click(  function() {
    // 定制之前的参数构建
    _sunzi_response.shop = {
      language: '{{sunzi_shop_language}}',
      currencySymbol: '{{sunzi_shop_symbol}}',
    };
    _sunzi_response.decorates = [];
    _sunzi_response.bases = [];
    _sunzi_response.giftBoxs = [];
    {%comment%}关联产品配置{%endcomment%}
    {% for block in section.blocks %}
      {% if block.type =='clay_figurine_products' %}
    	{% comment %}刻字加价{% endcomment %}
    	_sunzi_response.addPrice = '{{block.settings.line_text_add_price}}';
    	{% comment %}装饰品关联产品{% endcomment %}
        {%- assign products_decorates = collections[block.settings.products_decorates] -%}
    	{% for decorate in products_decorates.products %}
          _sunzi_response.decorates.push({
            id: "{{decorate.variants[0].id}}",
            name: `{{decorate.title}}`,
            price: {{decorate.price}} / 100,
            url: `{{decorate.images[0] | img_url: 'large' }}`
          });
    	{% endfor %}
    	{% comment %}底座关联产品{% endcomment %}
        {%- assign products_bases = collections[block.settings.products_bases] -%}
    	{% for base in products_bases.products %}
          _sunzi_response.bases.push({
            id: "{{base.variants[0].id}}",
            name: `{{base.title}}`,
            price: {{base.price}} / 100,
            url: `{{base.images[0] | img_url: 'large' }}`
          });
    	{% endfor %}
    	{% comment %}礼盒关联产品{% endcomment %}
        {%- assign products_gift_boxs = collections[block.settings.products_gift_boxs] -%}
    	{% for giftBox in products_gift_boxs.products %}
          _sunzi_response.giftBoxs.push({
            id: "{{giftBox.variants[0].id}}",
            name: `{{giftBox.title}}`,
            price: {{giftBox.price}} / 100,
            url: `{{giftBox.images[0] | img_url: 'large' }}`
          });
    	{% endfor %}
      {% endif %}
    {% endfor %}
    // 开始渲染
    _sunzi_custom(
      ClayFigurine.default,
      async function(result,effectImage, base, value, giftBox, decorate) {
        _sunzi_loading();
        // 根据是否刻字添加虚拟产品
        _sunzi_variant_change({{variantAdd}}, value ? 1 : 0);
      	var relatedProducts = [];
        var output = {
          '_sunzi_sources': result,
          '_sunzi_effects': result,
          '_sunzi_ai': result[0],
          '_sunzi_clay_figurine': {
            'shake_head': shakeHead,
            'stand': base.name,
            'ornament': decorate && decorate.name,
            'stand_text': value,
            'stand_text_image': effectImage,
            'featured_image': _sunzi_get_product_info('featuredImage')
          }
        };
        var promiseArr = [];
        // 根据底座添加虚拟产品
        if(base){
          var virtualID = _create_uuid();
          relatedProducts.push(virtualID); 
          promiseArr.push(addToCart({ "id":base.id , "quantity": 1, "properties[_sunzi_main_product]": virtualID }));
        }
        // 根据饰品添加虚拟产品
        if(decorate){
          var virtualID = _create_uuid();
          relatedProducts.push(virtualID); 
       	  promiseArr.push(addToCart({ "id": decorate.id , "quantity": 1, "properties[_sunzi_main_product]": virtualID }));
        }
         // 根据是否选择礼物盒添加虚拟产品
        if(giftBox){
          var virtualID = _create_uuid();
          relatedProducts.push(virtualID); 
          promiseArr.push(addToCart({ "id": giftBox.id , "quantity": 1, "properties[_sunzi_main_product]": virtualID }));
        }
        $('#sunzi-input').val(JSON.stringify(output));
      	$('#sunzi-related-products').val(JSON.stringify(relatedProducts));
      	// 加车事件触发
        _sunzi_add_to_cart(function() {
		  _sunzi_variant_change({{variantAdd}}, 0);
        });
        _sunzi_hide_loading();
      }
    );
   
  });
  
  /** 其他自定义函数 start **/
  
  //更换样式
  function reanderHead(){
    var htmlStationary =`
      <svg  viewBox="0 0 91 91" version="1.1">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g>
                  <path d="M45.5,66 C45.1666667,69.5312119 45.1666667,71.9041494 45.5,73.1188126 C46,74.9408073 47.0009384,76.2466736 52.0208206,77.5560608 C55.3674088,78.4289856 55.9880943,82.9102987 53.8828773,91 L64.1105957,91 L64.1105957,81.7237816 C63.8091184,77.8084125 62.2722531,74.8717124 59.5,72.913681 C55.3416203,69.976634 51.4358355,72.1013538 49.8016396,70.9345016 C49.219298,70.5410741 48.8695831,68.8962402 48.7524948,66 L45.5,66 Z" id="路径-118" fill="#C0C0C0"></path>
                  <path d="M65,91 L65,81.6471596 C65,75.1903707 59.5434704,69.9561091 52.8125,69.9561091 C51.6802619,69.9561091 50.8485834,69.9561091 50.3174644,69.9561091 C49.7686005,69.9561091 49.7686005,67.637406 50.3174644,63 L40.7407522,63 C41.5315471,67.637406 41.5315471,69.9561091 40.7407522,69.9561091 C40.1733628,69.9561091 39.3222787,69.9561091 38.1875,69.9561091 C31.4565296,69.9561091 26,75.1903707 26,81.6471596 L26,91" id="路径备份-2" stroke="#333333" stroke-width="3" fill-rule="nonzero"></path>
                  <path d="M46.59047,16 C37.2319505,16 31.1272976,18.5219027 27.6507431,23.4208077 L27.4905308,23.6506056 C25.2766517,26.8833452 24.2804555,30.7768879 23.9749393,36.1989585 L23.9551566,36.5622924 L23.9314267,36.5532546 C22.7029108,36.0938969 21.3770536,36.3198637 20.0811128,37.2963437 C17.8233265,38.9975658 17.5187864,42.6662293 18.6097024,46.8423895 C19.6034782,50.6466853 21.528979,53.9471146 23.6178815,54.7661604 L23.933488,54.8848928 C24.4585999,55.0740624 24.9791955,55.2195976 25.4949615,55.3208302 L25.5501342,55.3306023 L25.5573576,55.3469285 C28.781833,62.5600343 36.461176,66 46.59047,66 L46.9510069,65.9985389 C57.0166493,65.9167007 64.6056337,62.3957272 67.7270188,55.1110222 L67.780549,54.9827149 L68.051936,54.8901324 C68.1617931,54.8507204 68.271854,54.8093944 68.3821185,54.7661604 C70.471021,53.9471146 72.3965218,50.6466853 73.3902976,46.8423895 C74.4812136,42.6662293 74.1766735,38.9975658 71.9188872,37.2963437 L71.7631719,37.1828335 C70.9824328,36.6327228 70.170178,36.3444668 69.36779,36.3291725 L69.213974,36.3291938 L69.2036583,36.1398417 C68.8708297,30.3869078 67.7269868,26.2443453 65.1648588,22.9273599 C61.6300012,18.3510581 55.6264819,16 46.59047,16 Z" id="路径备份" stroke="#333333" stroke-width="3" fill="#FFFFFF" fill-rule="nonzero"></path>
                  <line x1="31.5" y1="80" x2="31.5" y2="91"  stroke="#333333" stroke-width="3"></line>
                  <line x1="59.5" y1="80" x2="59.5" y2="91"  stroke="#333333" stroke-width="3"></line>
                  <path d="M44.9710274,45.5280304 C43.5273705,47.9697469 43.7036947,49.5249964 45.5,50.193779" id="路径-3备份" stroke="#333333" stroke-width="2" stroke-linecap="round"></path>
                  <path d="M38,55.6304092 C38.915123,57.3152046 41.3578644,59 45.5,59 C49.6421356,59 52.1455078,57.3152046 53,55.6304092" id="路径备份-3" stroke="#333333" stroke-width="2" stroke-linecap="round"></path>
                  <path d="M47.0982361,17.5829849 C55.3660787,22.4240621 59.5,27.9991226 59.5,34.3081665 C59.5,40.6172104 57.7511342,45.1347898 54.2534027,47.8609047 C57.28862,48.9536349 59.0469386,51.0119425 59.5283585,54.0358276 C60.0097783,57.0597127 58.8578695,60.0477702 56.0726318,63 C58.2781372,62.803037 60.4342499,61.8063304 62.5409698,60.0098801 C64.6476898,58.2134298 66.0430705,56.222079 66.7271118,54.0358276 C69.5055033,53.1335754 71.3061625,50.297643 72.1290894,45.5280304 C73.3763631,40.0316792 71.9999542,37.4602299 67.9998627,37.8136826 C67.6684621,29.9381688 65.5800883,24.5232264 61.7347412,21.5688553 C57.8893941,18.6144842 53.0105591,17.2858607 47.0982361,17.5829849 Z" id="路径-114" fill="#C0C0C0"></path>
              </g>
          </g>
      </svg>
	`;
    var htmlBobble =`
      <svg viewBox="0 0 91 91" version="1.1" >
          <defs>
              <linearGradient x1="41.0851701%" y1="57.0704106%" x2="67.0138889%" y2="43.7285197%" id="linearGradient-1">
                  <stop stop-color="#FFFFFF" offset="0%"></stop>
                  <stop stop-color="#333333" offset="100%"></stop>
              </linearGradient>
              <linearGradient x1="66.933098%" y1="44.0682295%" x2="39.8866232%" y2="64.6492102%" id="linearGradient-2">
                  <stop stop-color="#333333" offset="0%"></stop>
                  <stop stop-color="#FFFFFF" offset="100%"></stop>
              </linearGradient>
          </defs>
          <g id="控件" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="摇头/未选中">
                  <path d="M48.5,66 C48.1666667,69.5312119 48.1666667,71.9041494 48.5,73.1188126 C49,74.9408073 50.0009384,76.2466736 55.0208206,77.5560608 C58.3674088,78.4289856 58.9880943,82.9102987 56.8828773,91 L67.1105957,91 L67.1105957,81.7237816 C66.8091184,77.8084125 65.2722531,74.8717124 62.5,72.913681 C58.3416203,69.976634 54.4358355,72.1013538 52.8016396,70.9345016 C52.219298,70.5410741 51.8695831,68.8962402 51.7524948,66 L48.5,66 Z" id="路径-118备份" fill="#C0C0C0"></path>
                  <path d="M68,91 L68,81.6471596 C68,75.1903707 62.5434704,69.9561091 55.8125,69.9561091 C54.6802619,69.9561091 53.8485834,69.9561091 53.3174644,69.9561091 C52.7686005,69.9561091 52.7686005,67.637406 53.3174644,63 L43.7407522,63 C44.5315471,67.637406 44.5315471,69.9561091 43.7407522,69.9561091 C43.1733628,69.9561091 42.3222787,69.9561091 41.1875,69.9561091 C34.4565296,69.9561091 29,75.1903707 29,81.6471596 L29,91" id="路径备份-4" stroke="#333333" stroke-width="3" fill-rule="nonzero"></path>
                  <path d="M62.5,17.5422578 C66.568549,18.413177 69.6448378,20.6025124 71.7288666,24.1102638 C73.8128953,27.6180153 74.7900224,31.6880493 74.6602478,36.3203659 C78.0873006,36.3203659 79.3904063,38.5112648 78.5695648,42.8930626 C77.7487233,47.2748604 76.1059367,49.750929 73.6412048,50.3212686 C71.9487407,53.3829837 69.85259,56.0370382 67.3527528,58.283432 C64.8529156,60.5298258 62.1971741,61.3188913 59.3855286,60.6506283 L67.1105957,47.8736177 L67.1105957,39.096443 L51.917572,16.6497002 C54.1476261,16.5137586 56.0685347,16.5137586 57.6802979,16.6497002 C59.292061,16.7856417 60.8986284,17.0831609 62.5,17.5422578 Z" id="路径-120" fill="#D8D8D8"></path>
                  <path d="M21.2613443,25.5843392 C25.3298933,26.4552584 28.4061821,28.6445938 30.4902109,32.1523453 C32.5742396,35.6600967 33.4949694,39.4205379 33.2524003,43.4336687 C36.7922476,44.0528545 38.1517506,46.5533462 37.3309091,50.935144 C36.5100676,55.3169418 34.867281,57.7930105 32.4025491,58.36335 C31.3056338,60.5191472 29.5072575,62.7202426 27.0074203,64.9666365 C24.507583,67.2130303 21.5476971,67.9607838 18.1277624,67.2098969 L25.87194,55.9156991 L25.87194,47.1385245 L10.6789163,24.6917816 C12.9089704,24.5558401 14.829879,24.5558401 16.4416421,24.6917816 C18.0534053,24.8277231 19.6599727,25.1252423 21.2613443,25.5843392 Z" id="路径-120备份" fill="#D8D8D8" transform="translate(24.120797, 46.040947) scale(-1, 1) rotate(20.000000) translate(-24.120797, -46.040947) "></path>
                  <g id="编组-3" transform="translate(43.000000, 41.000000) rotate(-20.000000) translate(-43.000000, -41.000000) translate(15.000000, 16.000000)">
                      <path d="M28.59047,0 C19.2319505,0 13.1272976,2.52190271 9.65074305,7.42080769 L9.49053082,7.65060556 C7.27665169,10.8833452 6.28045552,14.7768879 5.97493926,20.1989585 L5.95515662,20.5622924 L5.93142669,20.5532546 C4.7029108,20.0938969 3.3770536,20.3198637 2.08111276,21.2963437 C-0.176673496,22.9975658 -0.481213578,26.6662293 0.60970237,30.8423895 C1.60347815,34.6466853 3.52897897,37.9471146 5.61788152,38.7661604 L5.93348804,38.8848928 C6.45859986,39.0740624 6.97919552,39.2195976 7.49496154,39.3208302 L7.5501342,39.3306023 L7.55735763,39.3469285 C10.781833,46.5600343 18.461176,50 28.59047,50 L28.9510069,49.9985389 C39.0166493,49.9167007 46.6056337,46.3957272 49.7270188,39.1110222 L49.780549,38.9827149 L50.051936,38.8901324 C50.1617931,38.8507204 50.271854,38.8093944 50.3821185,38.7661604 C52.471021,37.9471146 54.3965218,34.6466853 55.3902976,30.8423895 C56.4812136,26.6662293 56.1766735,22.9975658 53.9188872,21.2963437 L53.7631719,21.1828335 C52.9824328,20.6327228 52.170178,20.3444668 51.36779,20.3291725 L51.213974,20.3291938 L51.2036583,20.1398417 C50.8708297,14.3869078 49.7269868,10.2443453 47.1648588,6.9273599 C43.6300012,2.3510581 37.6264819,0 28.59047,0 Z" id="路径备份-5" stroke="#333333" stroke-width="3" fill="#FFFFFF" fill-rule="nonzero"></path>
                      <path d="M26.9710274,29.5280304 C25.5273705,31.9697469 25.7036947,33.5249964 27.5,34.193779" id="路径-3备份-4" stroke="#333333" stroke-width="2" stroke-linecap="round"></path>
                      <path d="M20,39.6304092 C20.915123,41.3152046 23.3578644,43 27.5,43 C31.6421356,43 34.1455078,41.3152046 35,39.6304092" id="路径备份-6" stroke="#333333" stroke-width="2" stroke-linecap="round"></path>
                      <path d="M29.0982361,1.58298492 C37.3660787,6.42406209 41.5,11.9991226 41.5,18.3081665 C41.5,24.6172104 39.7511342,29.1347898 36.2534027,31.8609047 C39.28862,32.9536349 41.0469386,35.0119425 41.5283585,38.0358276 C42.0097783,41.0597127 40.8578695,44.0477702 38.0726318,47 C40.2781372,46.803037 42.4342499,45.8063304 44.5409698,44.0098801 C46.6476898,42.2134298 48.0430705,40.222079 48.7271118,38.0358276 C51.5055033,37.1335754 53.3061625,34.297643 54.1290894,29.5280304 C55.3763631,24.0316792 53.9999542,21.4602299 49.9998627,21.8136826 C49.6684621,13.9381688 47.5800883,8.52322642 43.7347412,5.56885529 C39.8893941,2.61448415 35.0105591,1.2858607 29.0982361,1.58298492 Z" id="路径-114备份" fill="#C0C0C0"></path>
                  </g>
                  <line x1="34.5" y1="80" x2="34.5" y2="91"  stroke="#333333" stroke-width="3"></line>
                  <line x1="62.5" y1="80" x2="62.5" y2="91"  stroke="#333333" stroke-width="3"></line>
                  <path d="M53.3527528,17.5784675 C58.0019892,16.6752614 62.2040479,17.4575562 65.9589291,19.9253519 C69.7138102,22.3931476 72.3910415,26.1843864 73.990623,31.2990681 C77.3250032,30.4696507 79.5893813,32.7697788 80.7837573,38.1994525 C81.9781332,43.6291262 81.2921773,47.2345043 78.7258893,49.0155867 C78.6207852,51.9539616 77.7574868,55.1087334 76.135994,58.4799021 C74.5145013,61.8510709 72.166814,64.0962595 69.0929323,65.215468" id="路径-119" stroke="url(#linearGradient-1)" stroke-width="2" stroke-linecap="round" transform="translate(67.352753, 41.215468) rotate(20.000000) translate(-67.352753, -41.215468) "></path>
                  <path d="M7.42188429,29.2442899 C11.6893699,29.6598396 15.0151832,30.9073693 17.3993243,32.9868791 C19.7834654,35.0663889 21.6662122,37.8140634 23.0475648,41.2299027 C27.4815362,42.0771324 30.2552105,44.8787644 31.3685875,49.6347987 C32.4819645,54.390833 31.6983132,57.9356956 29.0176334,60.2693864 C28.6249813,62.8708747 27.9841052,64.9787037 27.0950052,66.5928736 C26.2059053,68.2070434 24.8788153,69.7546673 23.1137352,71.2357453" id="路径-119备份" stroke="url(#linearGradient-2)" stroke-width="2" stroke-linecap="round" transform="translate(19.640279, 50.240018) scale(-1, 1) rotate(40.000000) translate(-19.640279, -50.240018) "></path>
              </g>
          </g>
      </svg>
	`;
    var htmlStationaryActive =`
      <svg viewBox="-1 0 91 91" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g >
                  <path d="M44.5,66 C44.1666667,69.5312119 44.1666667,71.9041494 44.5,73.1188126 C45,74.9408073 46.0009384,76.2466736 51.0208206,77.5560608 C54.3674088,78.4289856 54.9880943,82.9102987 52.8828773,91 L63.1105957,91 L63.1105957,81.7237816 C62.8091184,77.8084125 61.2722531,74.8717124 58.5,72.913681 C54.3416203,69.976634 50.4358355,72.1013538 48.8016396,70.9345016 C48.219298,70.5410741 47.8695831,68.8962402 47.7524948,66 L44.5,66 Z" id="路径-118备份-2" fill-opacity="0.3" fill="#FF533A"></path>
                  <path d="M64,91 L64,81.6471596 C64,75.1903707 58.5434704,69.9561091 51.8125,69.9561091 C50.6802619,69.9561091 49.8485834,69.9561091 49.3174644,69.9561091 C48.7686005,69.9561091 48.7686005,67.637406 49.3174644,63 L39.7407522,63 C40.5315471,67.637406 40.5315471,69.9561091 39.7407522,69.9561091 C39.1733628,69.9561091 38.3222787,69.9561091 37.1875,69.9561091 C30.4565296,69.9561091 25,75.1903707 25,81.6471596 L25,91" id="路径备份-7" stroke="#FF533A" stroke-width="3" fill-rule="nonzero"></path>
                  <path d="M45.59047,16 C36.2319505,16 30.1272976,18.5219027 26.6507431,23.4208077 L26.4905308,23.6506056 C24.2766517,26.8833452 23.2804555,30.7768879 22.9749393,36.1989585 L22.9551566,36.5622924 L22.9314267,36.5532546 C21.7029108,36.0938969 20.3770536,36.3198637 19.0811128,37.2963437 C16.8233265,38.9975658 16.5187864,42.6662293 17.6097024,46.8423895 C18.6034782,50.6466853 20.528979,53.9471146 22.6178815,54.7661604 L22.933488,54.8848928 C23.4585999,55.0740624 23.9791955,55.2195976 24.4949615,55.3208302 L24.5501342,55.3306023 L24.5573576,55.3469285 C27.781833,62.5600343 35.461176,66 45.59047,66 L45.9510069,65.9985389 C56.0166493,65.9167007 63.6056337,62.3957272 66.7270188,55.1110222 L66.780549,54.9827149 L67.051936,54.8901324 C67.1617931,54.8507204 67.271854,54.8093944 67.3821185,54.7661604 C69.471021,53.9471146 71.3965218,50.6466853 72.3902976,46.8423895 C73.4812136,42.6662293 73.1766735,38.9975658 70.9188872,37.2963437 L70.7631719,37.1828335 C69.9824328,36.6327228 69.170178,36.3444668 68.36779,36.3291725 L68.213974,36.3291938 L68.2036583,36.1398417 C67.8708297,30.3869078 66.7269868,26.2443453 64.1648588,22.9273599 C60.6300012,18.3510581 54.6264819,16 45.59047,16 Z" id="路径备份-8" stroke="#FF533A" stroke-width="3" fill="#FFFFFF" fill-rule="nonzero"></path>
                  <line x1="30.5" y1="80" x2="30.5" y2="91"  stroke="#FF533A" stroke-width="3"></line>
                  <line x1="58.5" y1="80" x2="58.5" y2="91"  stroke="#FF533A" stroke-width="3"></line>
                  <path d="M43.9710274,45.5280304 C42.5273705,47.9697469 42.7036947,49.5249964 44.5,50.193779" id="路径-3备份-5" stroke="#FF533A" stroke-width="2" stroke-linecap="round"></path>
                  <path d="M37,55.6304092 C37.915123,57.3152046 40.3578644,59 44.5,59 C48.6421356,59 51.1455078,57.3152046 52,55.6304092" id="路径备份-9" stroke="#FF533A" stroke-width="2" stroke-linecap="round"></path>
                  <path d="M46.0982361,17.5829849 C54.3660787,22.4240621 58.5,27.9991226 58.5,34.3081665 C58.5,40.6172104 56.7511342,45.1347898 53.2534027,47.8609047 C56.28862,48.9536349 58.0469386,51.0119425 58.5283585,54.0358276 C59.0097783,57.0597127 57.8578695,60.0477702 55.0726318,63 C57.2781372,62.803037 59.4342499,61.8063304 61.5409698,60.0098801 C63.6476898,58.2134298 65.0430705,56.222079 65.7271118,54.0358276 C68.5055033,53.1335754 70.3061625,50.297643 71.1290894,45.5280304 C72.3763631,40.0316792 70.9999542,37.4602299 66.9998627,37.8136826 C66.6684621,29.9381688 64.5800883,24.5232264 60.7347412,21.5688553 C56.8893941,18.6144842 52.0105591,17.2858607 46.0982361,17.5829849 Z" id="路径-114备份-2" fill-opacity="0.3" fill="#FF533A"></path>
              </g>
          </g>
      </svg>
	`;
    var htmlBobbleActive =`
      <svg  viewBox="0 0 91 91" version="1.1">
          <defs>
              <linearGradient x1="41.0851701%" y1="57.0704106%" x2="67.0138889%" y2="43.7285197%" id="linearGradient-1">
                  <stop stop-color="#FFFFFF" offset="0%"></stop>
                  <stop stop-color="#FF533A" offset="100%"></stop>
              </linearGradient>
              <linearGradient x1="66.933098%" y1="44.0682295%" x2="39.8866232%" y2="64.6492102%" id="linearGradient-2">
                  <stop stop-color="#FF533A" offset="0%"></stop>
                  <stop stop-color="#FFFFFF" offset="100%"></stop>
              </linearGradient>
          </defs>
          <g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g >
                  <path d="M48.5,66 C48.1666667,69.5312119 48.1666667,71.9041494 48.5,73.1188126 C49,74.9408073 50.0009384,76.2466736 55.0208206,77.5560608 C58.3674088,78.4289856 58.9880943,82.9102987 56.8828773,91 L67.1105957,91 L67.1105957,81.7237816 C66.8091184,77.8084125 65.2722531,74.8717124 62.5,72.913681 C58.3416203,69.976634 54.4358355,72.1013538 52.8016396,70.9345016 C52.219298,70.5410741 51.8695831,68.8962402 51.7524948,66 L48.5,66 Z" id="路径-118备份-3" fill-opacity="0.3" fill="#FF533A"></path>
                  <path d="M68,91 L68,81.6471596 C68,75.1903707 62.5434704,69.9561091 55.8125,69.9561091 C54.6802619,69.9561091 53.8485834,69.9561091 53.3174644,69.9561091 C52.7686005,69.9561091 52.7686005,67.637406 53.3174644,63 L43.7407522,63 C44.5315471,67.637406 44.5315471,69.9561091 43.7407522,69.9561091 C43.1733628,69.9561091 42.3222787,69.9561091 41.1875,69.9561091 C34.4565296,69.9561091 29,75.1903707 29,81.6471596 L29,91" id="路径备份-10" stroke="#FF533A" stroke-width="3" fill-rule="nonzero"></path>
                  <path d="M62.5,17.5422578 C66.568549,18.413177 69.6448378,20.6025124 71.7288666,24.1102638 C73.8128953,27.6180153 74.7900224,31.6880493 74.6602478,36.3203659 C78.0873006,36.3203659 79.3904063,38.5112648 78.5695648,42.8930626 C77.7487233,47.2748604 76.1059367,49.750929 73.6412048,50.3212686 C71.9487407,53.3829837 69.85259,56.0370382 67.3527528,58.283432 C64.8529156,60.5298258 62.1971741,61.3188913 59.3855286,60.6506283 L67.1105957,47.8736177 L67.1105957,39.096443 L51.917572,16.6497002 C54.1476261,16.5137586 56.0685347,16.5137586 57.6802979,16.6497002 C59.292061,16.7856417 60.8986284,17.0831609 62.5,17.5422578 Z" id="路径-120备份-2" fill-opacity="0.2" fill="#FF533A"></path>
                  <path d="M21.2613443,25.5843392 C25.3298933,26.4552584 28.4061821,28.6445938 30.4902109,32.1523453 C32.5742396,35.6600967 33.4949694,39.4205379 33.2524003,43.4336687 C36.7922476,44.0528545 38.1517506,46.5533462 37.3309091,50.935144 C36.5100676,55.3169418 34.867281,57.7930105 32.4025491,58.36335 C31.3056338,60.5191472 29.5072575,62.7202426 27.0074203,64.9666365 C24.507583,67.2130303 21.5476971,67.9607838 18.1277624,67.2098969 L25.87194,55.9156991 L25.87194,47.1385245 L10.6789163,24.6917816 C12.9089704,24.5558401 14.829879,24.5558401 16.4416421,24.6917816 C18.0534053,24.8277231 19.6599727,25.1252423 21.2613443,25.5843392 Z" id="路径-120备份-3" fill-opacity="0.2" fill="#FF533A" transform="translate(24.120797, 46.040947) scale(-1, 1) rotate(20.000000) translate(-24.120797, -46.040947) "></path>
                  <g  transform="translate(43.000000, 41.000000) rotate(-20.000000) translate(-43.000000, -41.000000) translate(15.000000, 16.000000)">
                      <path d="M28.59047,0 C19.2319505,0 13.1272976,2.52190271 9.65074305,7.42080769 L9.49053082,7.65060556 C7.27665169,10.8833452 6.28045552,14.7768879 5.97493926,20.1989585 L5.95515662,20.5622924 L5.93142669,20.5532546 C4.7029108,20.0938969 3.3770536,20.3198637 2.08111276,21.2963437 C-0.176673496,22.9975658 -0.481213578,26.6662293 0.60970237,30.8423895 C1.60347815,34.6466853 3.52897897,37.9471146 5.61788152,38.7661604 L5.93348804,38.8848928 C6.45859986,39.0740624 6.97919552,39.2195976 7.49496154,39.3208302 L7.5501342,39.3306023 L7.55735763,39.3469285 C10.781833,46.5600343 18.461176,50 28.59047,50 L28.9510069,49.9985389 C39.0166493,49.9167007 46.6056337,46.3957272 49.7270188,39.1110222 L49.780549,38.9827149 L50.051936,38.8901324 C50.1617931,38.8507204 50.271854,38.8093944 50.3821185,38.7661604 C52.471021,37.9471146 54.3965218,34.6466853 55.3902976,30.8423895 C56.4812136,26.6662293 56.1766735,22.9975658 53.9188872,21.2963437 L53.7631719,21.1828335 C52.9824328,20.6327228 52.170178,20.3444668 51.36779,20.3291725 L51.213974,20.3291938 L51.2036583,20.1398417 C50.8708297,14.3869078 49.7269868,10.2443453 47.1648588,6.9273599 C43.6300012,2.3510581 37.6264819,0 28.59047,0 Z" id="路径备份-5" stroke="#FF533A" stroke-width="3" fill="#FFFFFF" fill-rule="nonzero"></path>
                      <path d="M26.9710274,29.5280304 C25.5273705,31.9697469 25.7036947,33.5249964 27.5,34.193779"  stroke="#FF533A" stroke-width="2" stroke-linecap="round"></path>
                      <path d="M20,39.6304092 C20.915123,41.3152046 23.3578644,43 27.5,43 C31.6421356,43 34.1455078,41.3152046 35,39.6304092"  stroke="#FF533A" stroke-width="2" stroke-linecap="round"></path>
                      <path d="M29.0982361,1.58298492 C37.3660787,6.42406209 41.5,11.9991226 41.5,18.3081665 C41.5,24.6172104 39.7511342,29.1347898 36.2534027,31.8609047 C39.28862,32.9536349 41.0469386,35.0119425 41.5283585,38.0358276 C42.0097783,41.0597127 40.8578695,44.0477702 38.0726318,47 C40.2781372,46.803037 42.4342499,45.8063304 44.5409698,44.0098801 C46.6476898,42.2134298 48.0430705,40.222079 48.7271118,38.0358276 C51.5055033,37.1335754 53.3061625,34.297643 54.1290894,29.5280304 C55.3763631,24.0316792 53.9999542,21.4602299 49.9998627,21.8136826 C49.6684621,13.9381688 47.5800883,8.52322642 43.7347412,5.56885529 C39.8893941,2.61448415 35.0105591,1.2858607 29.0982361,1.58298492 Z" id="路径-114备份" fill-opacity="0.3" fill="#FF533A"></path>
                  </g>
                  <line x1="34.5" y1="80" x2="34.5" y2="91" stroke="#FF533A" stroke-width="3"></line>
                  <line x1="62.5" y1="80" x2="62.5" y2="91"  stroke="#FF533A" stroke-width="3"></line>
                  <path d="M53.3527528,17.5784675 C58.0019892,16.6752614 62.2040479,17.4575562 65.9589291,19.9253519 C69.7138102,22.3931476 72.3910415,26.1843864 73.990623,31.2990681 C77.3250032,30.4696507 79.5893813,32.7697788 80.7837573,38.1994525 C81.9781332,43.6291262 81.2921773,47.2345043 78.7258893,49.0155867 C78.6207852,51.9539616 77.7574868,55.1087334 76.135994,58.4799021 C74.5145013,61.8510709 72.166814,64.0962595 69.0929323,65.215468" id="路径-119备份-2" stroke="url(#linearGradient-1)" stroke-width="2" stroke-linecap="round" transform="translate(67.352753, 41.215468) rotate(20.000000) translate(-67.352753, -41.215468) "></path>
                  <path d="M7.42188429,29.2442899 C11.6893699,29.6598396 15.0151832,30.9073693 17.3993243,32.9868791 C19.7834654,35.0663889 21.6662122,37.8140634 23.0475648,41.2299027 C27.4815362,42.0771324 30.2552105,44.8787644 31.3685875,49.6347987 C32.4819645,54.390833 31.6983132,57.9356956 29.0176334,60.2693864 C28.6249813,62.8708747 27.9841052,64.9787037 27.0950052,66.5928736 C26.2059053,68.2070434 24.8788153,69.7546673 23.1137352,71.2357453" id="路径-119备份-3" stroke="url(#linearGradient-2)" stroke-width="2" stroke-linecap="round" transform="translate(19.640279, 50.240018) scale(-1, 1) rotate(40.000000) translate(-19.640279, -50.240018) "></path>
              </g>
          </g>
      </svg>
	`;
    $('.item-img').each(function(index) {
      var _this = $(this);
      var isActive = _this.hasClass('img-active');
      var curText = $('.item-text').eq(index);
      var activeIcon = _this.find('.sunzi-item-icon');
      if(index == 0) {
        $('.img-stationary').html(isActive ? htmlStationaryActive : htmlStationary);
      } else {
        $('.img-bobble').html(isActive ? htmlBobbleActive : htmlBobble);
      }
      curText.html(_this.data('value'));
      isActive ? curText.addClass('text-active') : curText.removeClass('text-active');
      isActive ? activeIcon.show() : activeIcon.hide();
    });
  }
  
  	//点击头事件
  $('.item-img').on('click', function(){
    var _this = $(this);
    if(_this.hasClass('img-active')) return;
    $('.item-img').removeClass('img-active');
    _this.addClass('img-active');
    _sunzi_variant_change({{variantConnection}}, _this.data('value'));
    // 更改摇头状态
    shakeHead = !!$('.item-img').index(_this);
	reanderHead();
  });

    /** 加车 */
  function addToCart(data, showModal) {
    return new Promise((resolve, reject) => {
      $.ajax({
        type: "POST",
        url: "/cart/add.js",
        data,
        async: false,
        dataType: "json",
        context: this,
        success: (item) => {
          resolve(item);
        },
        error: (request, status) => {
          reject(request, status);
        }
      })
    })
  }

  
  /** 其他自定义函数 end **/
</script>
