{% assign productTags = product.tags | join:',' %}
<script>
  var _zenEngravingSizeOptions = [];
  var _zenEngravingFontOptions = [];
  var cropImg = 'sock-crop-view.png';
  
  var _defautItem = { 
    label: '', bgimg: cropImg, btnUploadText: 'Upload', hasCarving: false, noSelect: false, isRequire: false, 
    crop: "", cropOrigin: "", engravingCrop: "", engravingText: [], engravingSize: "", engravingFont: "", hasCropOrigin: true
  };
  
  var zenCoors = [];
  var inputDefault = true;
  var _items = [];
  
  {% if productTags contains 'custom-photo-two' %}
    _items.push(Object.assign({}, _defautItem, {isRequire:"true"}));
    _items.push(Object.assign({}, _defautItem, {isRequire:"true"}));
  {% else %}
    _items.push(Object.assign({}, _defautItem, {isRequire:"true"{% unless productTags contains 'custom-no-carving' %}, hasCarving: true{% endunless %}{% if productTags contains 'custom-no-select' %}{% unless productTags contains 'custom-no-carving' %},isCRequire: true{% endunless %}, noSelect: true{% endif %} }));
  {% endif %}
  {% if productTags contains 'custom-option-name' %}
     zenCoors.push({
          label: "{{ 'zen.cropCarving.name' | t }}",
          placeholder: "{{ 'zen.cropCarving.type_name' | t }}",
          left: 249,
          top: 357,
          rows: 1,
          limit: "20",
          angle: "0",
          size: 20,
          textColor: "black",
          shadowColor: "white",
          direction: "",
          banDrag: "0",
          lineHeight: "1",
       	  isRequire: true,
          textDanger: false
        });
 	inputDefault = false; 
  {% endif %}
  
  {% if productTags contains 'custom-option-age' %}
     zenCoors.push({
          label: "{{ 'zen.cropCarving.age' | t }}",
          placeholder: "{{ 'zen.cropCarving.type_age' | t }}",
          left: 260,
          top: 357,
          rows: 1,
          limit: "20",
          angle: "0",
          size: 20,
          textColor: "black",
          shadowColor: "white",
          direction: "",
          banDrag: "0",
          lineHeight: "1",
          isRequire: true,
          textDanger: false
        });
  	inputDefault = false; 
  {% endif %}
  
  if(inputDefault) {
     zenCoors.push({
     
        placeholder: "{{ 'zen.cropCarving.enter_customized_text' | t }}",

        left: 249,
        top: 357,
        limit: "30",
        angle: "0",
        size: 20,
        textColor: "black",
        shadowColor: "white",
        direction: "",
        banDrag: "0",
        lineHeight: "1",
        isRequire: true,
        textDanger: false
      });
  }
  
  var carvingExampleText = ""; //刻字示例文案
  var carvingExampleImg = "";  //刻字示例图片
  var carvingPrompt = "";  //刻字示例说明文案

 {% for atag in product.tags %}
   {% if atag contains 'custom-example-' %}
      {% assign arr_atag = atag | split: "-" %}
  	  {% if atag contains 'CWZ049Y' or atag contains 'CWZ001Y' %}
      	carvingExampleImg = 'https://spic.qn.cdn.imaiyuan.com/assets/images/{{atag}}.jpg';
      {% else %}
      	carvingExampleImg = 'https://spic.qn.cdn.imaiyuan.com/{{atag}}.jpg';
      {% endif %}
      carvingExampleText = '{{ 'zen.cropCarving.example_text' | t }}:';
      carvingPrompt = '{{ 'zen.cropCarving.carving_prompt' | t }}';
      {% break %}
   {% endif %}
 {% endfor %}
  var defaultFont = 'TimesNewRoman';
  {% for atag in product.tags %}
    {% if atag contains 'custom-font' %}
      {% assign arr_atag = atag | split: "-" %}
  		defaultFont = '{{arr_atag[2]}}';
      {% break %}
    {% endif %}
  {% endfor %}
  var _zenConfig = {
    sku: "{{ product.selected_or_first_available_variant.sku }}",
    {% if productTags contains 'Kit' %}
    selectBtnText: "{{ 'zen.cropCarving.add_text' | t }}",  //可以不传,默认 "Custom text on the bottom +$4.99"
    {% elsif productTags contains 'child-wrap' %}
        {% if productTags contains 'add-text-599' %}
        selectBtnText: "{{ 'zen.cropCarving.add_text' | t }} + "+Currency.formatMoney(599),  //可以不传,默认 "Custom text on the bottom +$1.99"
        {% endif %}
        {% if productTags contains 'add-text-399' %}
        selectBtnText: "{{ 'zen.cropCarving.add_text' | t }} + "+Currency.formatMoney(399),  //可以不传,默认 "Custom text on the bottom +$3.99"
        {% endif %}
        {% if productTags contains 'add-text-199' %}
        selectBtnText: "{{ 'zen.cropCarving.add_text' | t }} + "+Currency.formatMoney(199),  //可以不传,默认 "Custom text on the bottom +$1.99"
        {% endif %}
    {% else %}
    selectBtnText: "{{ 'zen.cropCarving.add_text' | t }}",
    {% endif %}
    selectOrText:"{{ 'zen.cropCarving.select_or_text' | t }}",
    withoutBtnText: "{{ 'zen.cropCarving.without_text' | t }}",
    carvingExampleText: carvingExampleText, //刻字示例文案
    carvingExampleImg: carvingExampleImg,   //刻字示例图片
    ifSelectExample: true,//true：在选择是否刻字时展示刻字示例图片 不设置该参数则示例图片展示在刻字弹窗
    carvingPrompt: carvingPrompt,//刻字示例说明文案
    in: "facegiftsgeneral-IN.png",
    out: "facegiftsgeneral-OUT.png",
    enableCanvas: false,  //是否显示刻字画布
//     defaultFont:false,    //默认字体, false为空
//     defaultSize:false,    //默认字号, false为空
    engravingSizeOptions: _zenEngravingSizeOptions,
    engravingFontOptions: _zenEngravingFontOptions,    
    {% if productTags contains 'no-twoface' %}
    enableAddon: false, //不显示附加信息
    {% else %}
    enableAddon: true, //显示附加信息
    {% endif %}
    cropPrompt: "",   //刻字弹层提示文字, 选填
    defaultFont: defaultFont,  //默认字体
    defaultSize: 20,  //默认字体
    ethnicityOptions: typeof(_zenEthnicityOptions)=="undefined" ? [] : _zenEthnicityOptions,
    maxLength: 90, //设置输入框最大值
    isMarkup: true,
    cropConfirmText:"{{ 'zen.general.confirm' | t }}",//切图传图确认按钮文案
    cropCancelText:"{{ 'zen.general.cancel' | t }}",//切图传图取消按钮文案
    confirmText:"{{ 'zen.general.confirm' | t }}",
    cancelText:"{{ 'zen.general.cancel' | t }}",
    previewLabel:"{{ 'zen.cropCarving.preview_label' | t }}",
    uploadPreviwLabel: "{{ 'zen.general.uploadLabel' | t }}",  //单行上传文件控件预览文字
    cropTextUploadButton: "{{ 'zen.cropCarving.upload' | t }}",  //单行上传表单，上传按钮文字
    cropStyle: 1, //单行上传图片样式
    addonTitle: "{{ 'zen.cropCarving.addon_title' | t }}",  //附加信息
    addonDesc: "{{ 'zen.cropCarving.addon_desc' | t }}",
    addonLabel: "{{ 'zen.cropCarving.addon_label' | t }}",
    coors: zenCoors,
    items: [
      {
        label: '',
        data: _items
//         data: [{ label: '', bgimg: 'front-view.png', btnUploadText: 'Upload', hasCarving: true, isRequire: false,
//           engravingCrop: "", engravingText: [], engravingSize: "", engravingFont: ""
//   		}]
      },
    ]
  };
  
  var markupTitle = "{{ 'variant.title.Markup' | t }}";
  var twofaceTitle = "{{ 'variant.title.TwoFace' | t }}";
  twofaceTitle = "TwoFace";
  
  function addOnCallback(value){  //附加选项回调
    let addon = document.getElementsByClassName("el-checkbox__original")[0].checked;
    
    var _markup = getShopifyVariant(markupTitle);
    let _markupVal = ''
    
    if(_markup != ''){
      if(_markup==1 || _markup==2){  //不刻字
        _markupVal = addon ? 2 : 1;
      }else{
        _markupVal = addon ? 4 : 3;
      }   

      setShopifyVariant(markupTitle, _markupVal);
    }else{
      if(addon){
      	setShopifyVariant(twofaceTitle, 1);
      }else{
        setShopifyVariant(twofaceTitle, 0);
      }
    }
  }
  
  function carvingCallback(value=1){  //刻字回调
    var _markup = getShopifyVariant(markupTitle);
    let _markupVal = ''
    
    if(_markup != ''){
      {% if productTags contains 'no-twoface' %}
      if(value==1){
        _markupVal = 1;
      }else{
        _markupVal = 0;
      }
      {% else %}
      if(value==0){
        if(_markup==1 || _markup==3){
          _markupVal = 1;
        }else{
         _markupVal = 2;
        }
      }else{
        if(_markup==1 || _markup==3){
          _markupVal = 3;
        }else{
          _markupVal = 4;
        }
      }
      {% endif %}
      console.log('_markupVal=====',_markupVal);
      setShopifyVariant(markupTitle, _markupVal);
    }
  }
  //有刻字信息的情况，纠正markup变体的值 2020-10-21 alice
  function updateEngraving(value){
    var _markup = getShopifyVariant(markupTitle);
    
    if(_markup != ''){
      
      let cValue = '';
      {% unless productTags contains 'no-twoface' %}
      
      if(value == 1){
        if($('.product-addon .is-checked').length > 0){
          cValue = 4;
        }else{
          cValue = 3;
        }
      }else{
        if($('.product-addon .is-checked').length > 0){
          cValue = 2;
        }else{
          cValue = 1;
        }
      }
      {% endunless %}
      
      if(cValue != _markup){
       setShopifyVariant(markupTitle, cValue);
      }
    }
    
  }
  
  function setShopifyVariant(markup, val){
    $(".selector-wrapper label").each(function( index ) {
      if($.trim($(this).text()).toLowerCase().indexOf(markup.toLowerCase()) > -1){
        $(this).next('select').val(val).trigger('change');
      }
    });
  }
  
  function getShopifyVariant(markup){
    var resultVal = '';
    $(".selector-wrapper label").each(function( index ) {
      if($.trim($(this).text()).indexOf(markup) > -1){
        resultVal = $(this).next('select').val();
      }
    });
    
    return resultVal;
  }
  
  Product.validators.push(async () => {
    var zenInfo = document.getElementsByClassName("zen-require")[0].value;
    var zenFlag = true;
  
    if(zenInfo){
      var zenInfo = JSON.parse(zenInfo);
      console.log(zenInfo.crop);
      zenInfo.crop.forEach(function(v,i) {
        v.forEach(function(_v,_i) {
          
          if((_v.isRequire && !_v.picture) || (_v.isCRequire && (typeof _v.engravingText != 'string' || !_v.engravingText)) ) {
            console.log(i, _i);
            zenFlag = false;
          }
          
          //如果有刻字信息，检验markup变体值是否正确，不正确则修改
          if($.trim(_v.engravingText)){
          	updateEngraving(1);
          }
        })
        
      });
    
    }else{
      console.log('flag-flase');
      zenFlag = false;
    }
    
    if(!zenFlag){
      $('.bobbleheads-one-carving .avatar-uploader .el-upload').css("border-color","red");
    }else{
      $('.bobbleheads-one-carving .avatar-uploader .el-upload').css("border-color","#ffffff");
    }
    
    console.log("zenFlag:", zenFlag);
    return zenFlag;
  })
  
  $(function(){
    //刚进入页面将markup的值改为1，即：不刻字 没有twoface
    let markupValue = getShopifyVariant(markupTitle);
    if(markupValue){
      {% if productTags contains 'no-twoface' %}
      	setShopifyVariant(markupTitle, 0);
      {% else %}
      	setShopifyVariant(markupTitle, 1);
      {% endif %}
    }
    
    {% if productTags contains 'custom-no-carving' %}
      	setShopifyVariant(twofaceTitle, 0);
    {% endif %}
    
  });
  
  window.addEventListener('EVENT_CROP_SAVE_AFTER', function(event){    
   $(".crop-rectangle-container").addClass("height_yellow");  
  });

</script>

<div class="upload-image">
  <div id="zen-custom-bobbleheads"></div>
</div>

<link href="https://pic.stylelab.com/js/zen-crop-bobbleheads-1.0.6/zen-crop-bobbleheads-chunk-vendors.css?201911261502" rel="stylesheet" />
<link href="https://pic.stylelab.com/js/zen-crop-bobbleheads-1.0.6/zen-crop-bobbleheads-app.css?201911261502" rel="stylesheet" />
<script src="https://pic.stylelab.com/js/zen-crop-bobbleheads-1.0.6/zen-crop-bobbleheads-chunk-vendors.js?201911261502"></script>
<script src="https://pic.stylelab.com/js/zen-crop-bobbleheads-1.0.6/zen-crop-bobbleheads-app.js?201911261502"></script>

<script>
  jQuery("#showimage3").click(function(){
      var customModal = new tingle.modal({
        footer: true,
        stickyFooter: false,
        //closeMethods: ['button'], 
        //closeLabel: "Close11",
        cssClass: ['product-example-box'],
        onOpen: function() {
          console.log('modal open');
        },
        onClose: function() {
          console.log('modal closed');
        },
        beforeClose: function() {
          // e.g. save content before closing the modal
          return true; // close the modal
          return false; // nothing happens
        }
      });
      customModal.addFooterBtn('CLOSE', 'btn1', function() {
        customModal.close();
      });
      customModal.setContent("<img src='{{ section.settings.example_image  | img_url: '600x660' | format: 'jpg'  }}'>");
      customModal.open();             
  });
</script>
