

<!-- <input type="text" id="piccrop" name="properties[crop]"   value="" style="display:none" />
<input type="text" id="picai" name="properties[ai]"     value="" style="display:none" />
<input type="text" id="picorigin" name="properties[origin]" value="" style="display:none" />

<input type="text" id="engraving-crop" name="properties[engraving]" value="" style="display:none" />
<input type="text" id="fonttext" name="properties[fonttext]"     value="" style="display:none" /> -->

<input name="properties[custom_info]" type="hidden"  />
<input name="properties[custom_info_title]" type="hidden" />

<input type="text" id="piccrop" name="properties[crop]"   value="" style="display:none" />
<input type="text" id="picture" name="properties[picture]" value="" style="display:none" />

{% assign customJson = '' %}
{% if product.metafields["global"]["cattribute"] %}
{% assign customJson = product.metafields["global"]["cattribute"] | replace: "'", "" %}
{% endif %}
<script>

  window.addEventListener('EVENT_CALENDAR_SAVE_AFTER', function(event){
    var index = event.detail.index;
    var data = event.detail.data;

    if(jQuery('.calendar-button-box').length > 0){
      jQuery('.calendar-button-box').css('border-color', '#f7f7f7'); 
    }
  });

  var cattribute_json = '{{customJson}}';
  var _zenSku = "{{ product.selected_or_first_available_variant.sku }}";

  var jsonCustom= {};

  if(cattribute_json){
    jsonCustom = JSON.parse(cattribute_json);
  }
  
  if(typeof jsonCustom.coors != 'undefined'){
  	customCoors = jsonCustom.coors;
  }
  
  var attrs = {"XHD233":{"title_top":195,"photoJson":[{"sku":"XHD233","baseImg":"https://pic.stylelab.com/img/photo/XHD233.png?123","width":189,"height":158,"top":32,"left":157}],"coors":[{"label":"Personlized Message 1","placeholder":"Type words here...","left":250,"top":363,"rows":1,"limit":"25","angle":"0","size":13,"textColor":"black","direction":"","banDrag":"0","lineHeight":"1","font":"Maax Rounded Medium","text":""},{"label":"Personlized Message 2","placeholder":"Type words here...","left":250,"top":374,"rows":1,"limit":"25","angle":"0","size":13,"textColor":"black","direction":"","banDrag":"0","lineHeight":"1","font":"Maax Rounded Medium","text":""}]},"CBS183":{"title_top":210,"photoJson":[{"sku":"CBS183","baseImg":"https://pic.stylelab.com/img/photo/CBS183.png?123","width":217,"height":182,"top":28,"left":143}],"coors":[{"label":"Personlized Message 1","placeholder":"Type words here...","left":250,"top":373,"rows":1,"limit":"25","angle":"0","size":11,"textColor":"black","direction":"","banDrag":"0","lineHeight":"1","font":"Maax Rounded Medium","text":""},{"label":"Personlized Message 2","placeholder":"Type words here...","left":250,"top":384,"rows":1,"limit":"25","angle":"0","size":11,"textColor":"black","direction":"","banDrag":"0","lineHeight":"1","font":"Maax Rounded Medium","text":""}]}};
  
  if(typeof jsonCustom.attrs != 'undefined'){
  	attrs = jsonCustom.attrs;
  }
  
  var customCoors = attrs[_zenSku].coors;
  
  var markScale = '';
  var unit_len_y = jsonCustom.unit_len_y ? jsonCustom.unit_len_y : 22;
  var unit_len = jsonCustom.unit_len ? jsonCustom.unit_len : 33;
  if(parseInt(unit_len_y) > parseInt(unit_len)){
	markScale = 'w';
  }else if(parseInt(unit_len_y) < parseInt(unit_len)){
	markScale = 'h';
  }
  
console.log(markScale,'markScale=======');
  
console.log(customCoors);
  var _defautItem = { 
    label: '', bgimg: 'front-view.png', btnUploadText: 'Upload', hasCarving: false, isCRequire: false, noSelect: false, isRequire: false, 
    crop: "", cropOrigin: "", engravingCrop: "", engravingText: [], engravingSize: "", engravingFont: "", hasCropOrigin: false,
    hasEngravingSize: true, hasEngravingFont: true
  };

  var _zenConfig = {
    photoObj: [],
    carvingObj: [],
    calendarNewObj: [],
    sku: _zenSku,
    require:true,
    hasArrow: true,
    lang: 'en',
    dateLabelText: "{{ 'zen.general.choose_your_anniversary' | t}}",//选择日期标题文案
    uploadLabel: "{{ 'zen.photo.upload_photo' | t }}",
    cropUploadLabel: "{{ 'zen.photo.upload_photo' | t }}",
    cropLabelText:  "{{ 'zen.photo.upload_photo' | t }}",
    btnUploadText:  "{{ 'zen.photo.upload' | t }}",
    btnCropUploadText: "{{ 'zen.photo.upload' | t }}",
    uploadLoadingImage: 'https://ik.imagekit.io/soufeel/en/skin/frontend/smartwave/default/images/soufeel-30.gif',
    wrapperBackgroudColor: '#fff',
    bgOpacity: 0.5,
    dateBgColor: 'rgba(0,0,0,0)',//选择日期输入框背景色
    cropConfirmText: "{{ 'zen.general.confirm' | t }}",
    cropCancelText: "{{ 'zen.general.cancel' | t }}",
    canvasPreviewText: ' ',
    cropPrompt: "",   //刻字弹层提示文字, 可选, 默认无
    previewLabel: "", //预览文字前置文案, 可选, Your Design
    previewText: "{{ 'zen.general.choose_your_anniversary' | t}}",
    enableCanvas: false,  //是否显示刻字画布
    enableAddon: false,  //显示附加信息
    enableImg: false,
    btnText: "{{ 'zen.general.design' | t }}",
    changeBtnText: "{{ 'zen.general.change' | t }}",
    calendarCanvasId: 'calendar-canvas',
    enableCarving: true,
    carvingTitle: "Add your text",
    coors: customCoors,
    enableCrop: false,//日历画布是否包含图片
    enablePhoto:true,
    isMultiPhoto: jsonCustom.isMultiPhoto ? true : false,
    photoJson:jsonCustom.photoJson ? jsonCustom.photoJson : [],
    basePhotoImg: "https://pic.stylelab.com/img/photo/"+_zenSku+".png?78979",
    cropImageJson: jsonCustom.cropImageJson ? jsonCustom.cropImageJson : {width: 189,height: 158,top:32,left:157},//图片在日历画布上的坐标
      aspectRatio:  jsonCustom.aspectRatio ? jsonCustom.aspectRatio : 230/192,
        dateFormat: "yyyy/MM/dd",//日期格式
          baseImg: "https://pic.stylelab.com/img/photo/"+_zenSku+".png?45645",//效果图背景图
            markImg: "https://pic.stylelab.com/js/img/heart.png",
            markScale:markScale,
              monthNames: jsonCustom.monthNames ? jsonCustom.monthNames : ["January", "February ", "March", "April", "May", "June",
                                                                           "July", "August", "September", "October", "November", "December"
                                                                          ],
                week_header:['S','M','T','W','T','F','S'],
                  calendarCanvasWidth: 500,
                    calendarCanvasHeight: 400,
                      baseWidth: jsonCustom.baseWidth ? jsonCustom.baseWidth : 500,
                        unit_len: jsonCustom.unit_len ? jsonCustom.unit_len : 33,
                        unit_len_y: jsonCustom.unit_len_y ? jsonCustom.unit_len_y : 22,
                          fontFamily: jsonCustom.font ? jsonCustom.font : "TimesNewRoman",
                            monthFontsize: jsonCustom.monthFontsize ? jsonCustom.monthFontsize : 20,
                              weekFontsize: jsonCustom.weekFontsize ? jsonCustom.weekFontsize : 11,
                                yearFontsize: jsonCustom.yearFontsize ? jsonCustom.yearFontsize : 20,
                                  dayFontsize: jsonCustom.dayFontsize ? jsonCustom.dayFontsize : 11,
                                    yearMargin: jsonCustom.yearMargin ? jsonCustom.yearMargin : 150,
                                      tmp_week_x: jsonCustom.tmp_week_x ? jsonCustom.tmp_week_x : 135,
                                        title_top: jsonCustom.title_top ? jsonCustom.title_top : attrs[_zenSku].title_top,
                                          title_left: jsonCustom.title_left ? jsonCustom.title_left : 150,
                                            weekMargin: jsonCustom.weekMargin ? jsonCustom.weekMargin : 5,
                                              weekFontWeight: jsonCustom.weekFontWeight ? jsonCustom.weekFontWeight : "normal",
                                                yearFontWeight: jsonCustom.yearFontWeight ? jsonCustom.yearFontWeight : "normal",
                                                  fontWeight: jsonCustom.fontWeight ? jsonCustom.fontWeight : "normal",
                                                  month_x: jsonCustom.month_x ? jsonCustom.month_x : "",
                                                    year_x: jsonCustom.year_x ? jsonCustom.year_x : "",
                                                    month_y: jsonCustom.month_y ? jsonCustom.month_y : "",
                                                    year_y: jsonCustom.year_y ? jsonCustom.year_y : "",
                                                    week_y: jsonCustom.week_y ? jsonCustom.week_y : "",
                                                    items: [
                                                      {
                                                        label: '',
                                                        data: [
                                                          Object.assign({}, _defautItem, {label: "", isRequire:false, hasCarving: false, isCRequire: false})
                                                        ],
                                                      }
                                                    ],
                                                      photo: [],
                                                        carving: [],
                                                          calendar: [{
                                                            previewText: "{{ 'zen.general.choose_your_anniversary' | t}}",
                                                            btnText: "{{ 'zen.general.design' | t }}",
                                                            markScale:markScale,
                                                            enableCarving:true,
                                                            calendarCanvasHeight:400,
                                                            cropPrompt: "",   //刻字弹层提示文字, 可选, 默认无
                                                            enablePhoto:true,
                                                            monthNames: jsonCustom.monthNames ? jsonCustom.monthNames : ["January", "February ", "March", "April", "May", "June",
                                                                           "July", "August", "September", "October", "November", "December"
                                                                          ],
                                                            week_header:['S','M','T','W','T','F','S'],
                                                          	photoJson:attrs[_zenSku].photoJson
  														   }		
                                                            
                                                          ]
  };
  
  window.addEventListener('VARIANT_CHANGE', function(event){
    
    var currentSku = event.detail.sku;
    if(typeof attrs[currentSku] != "undefined" && _zenSku != currentSku){
      _zenSku = currentSku;
      
      let calendarList = window._zenConfig.calendar[0];
      window._zenConfig.calendar.splice(0, 1);
      window._zenConfig.sku = currentSku;
      window._zenConfig.baseImg = "https://pic.stylelab.com/img/photo/"+currentSku+".png?123";
      
      attrs[currentSku].coors.forEach(function(vv,ii){
      	attrs[currentSku].coors[ii].text = '';
      });
      
      window._zenConfig.coors = attrs[currentSku].coors;
      window._zenConfig.title_top = attrs[currentSku].title_top;
      
      console.log(attrs[currentSku]);
      calendarList.photoJson = attrs[currentSku].photoJson;
      
      
      setTimeout(function(){
        $('.textarea-text input').val('');
      console.log($('.textarea-text input').length);
        window._zenConfig.calendar.push(calendarList);
      },100);
    }
  });
  Product.validators.push(async () => {
//   function customValidateForm(){
  	var customInfo = JSON.parse(jQuery('.zen-require').val());
    var submit_flag = true;

    var resultJson = {};
    resultJson["properties"] = {};
    var titleArray = [];
    
    if(typeof customInfo.calendarCarving != 'undefined'){
      var _v = customInfo.calendarCarving[0];
      if(!_v.engravingText) {
        submit_flag = false;
        jQuery('.calendar-button-box').css('border-color','red');
      }else{
        var enArr = _v.engravingText.split('|');
        _zenConfig.coors.forEach(function(item,i){
          resultJson["properties"][item.label] = enArr[i];
          titleArray.push(enArr[i]);
        });
        
        jQuery('.calendar-button-box').css('border-color','#f7f7f7');
      }
    }
    
    if(typeof customInfo.calendar != 'undefined'){
      var _v = customInfo.calendar[0];
      
      if(!_v.crop) {
        submit_flag = false;
        jQuery('.calendar-button-box').css('border-color','red');
        
      }else{
        resultJson["properties"]["Choose Year and Date"] = _v.date;
        titleArray.push(_v.date);
        $("#piccrop").val(_v.crop);
        
        jQuery('.calendar-button-box').css('border-color','#f7f7f7');
      }
    }

    if(typeof customInfo.calendarPhoto != 'undefined'){
      if(customInfo.calendarPhoto[0].length > 1){
        var custom_json = {};
      	customInfo.calendarPhoto[0].forEach(function(photo,i){
          if(typeof (custom_json[i]) == "undefined"){
            custom_json[i] = {};
          }
          if(typeof (custom_json[i]['src']) == "undefined"){
            custom_json[i]['src'] = {};
          } 
          
          if(!customInfo.calendarPhoto[0][i].crop){
            submit_flag = false;
          }else{
            titleArray.push(customInfo.calendarPhoto[0][i].ai);
            
            custom_json[i]['src'] = customInfo.calendarPhoto[0][i].ai;
          }
        });
        
        resultJson["properties"]["picture"] = JSON.stringify(custom_json);
        
        $('#picture').attr("name","properties[multi_images]");
        $('#picture').val(JSON.stringify(custom_json));
        
      }else{
        
        if(!customInfo.calendarPhoto[0][0].ai){
          submit_flag = false;
        }else{
          resultJson["properties"]["picture"] = customInfo.calendarPhoto[0][0].ai;
          titleArray.push(customInfo.calendarPhoto[0][0].ai);
          $("#picture").val(customInfo.calendarPhoto[0][0].ai);
          if(submit_flag == true){
          	jQuery('.calendar-button-box').css('border-color','#f7f7f7');
          }
          
        }
        
      }
    }
    
    $('[name="properties[custom_info_title]"]').val(titleArray.join(" / "));
    $('[name="properties[custom_info]"]').val(JSON.stringify(resultJson));
	console.log('submit_flag--------',submit_flag);
    return submit_flag;                 
  })
  
</script>

<div id="zen-custom-calendar"></div>

<link href="https://pic.stylelab.com/js/zen-crop-calendar0.2.0/zen-crop-calendar-chunk-vendors-new.css?202103151651" rel="stylesheet" />
<link href="https://pic.stylelab.com/js/zen-crop-calendar0.2.0/zen-crop-calendar-app-new.css?202103151651" rel="stylesheet" />
<script src="https://pic.stylelab.com/js/zen-crop-calendar0.2.0/zen-crop-calendar-chunk-vendors-new.js?202103151651"></script>
<script src="https://pic.stylelab.com/js/zen-crop-calendar0.2.0/zen-crop-calendar-app-new.js?202103151651"></script>

<script>
$(function(){
  	$('.zen-require').attr('name','customVal');
  })
</script>
