 <style>
 .form-vertical input,
.form-vertical select,
.form-vertical textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.form-vertical input[type=radio],
.form-vertical input[type=checkbox] {
  display: inline-block;
  width: auto;
  margin-right: 5px;
}
.form-vertical input[type=submit],
.form-vertical .btn {
  display: inline-block;
}.return-link {
  display: block;
  text-align: center;
  margin-bottom: 0;
  font-size: em(24);
}
.return-link .icon {
  fill: currentColor;
}
.text-link {
  display: inline;
  border: 0 none;
  background: none;
  padding: 0;
  margin: 0;
}
.link-accent-color {
	color: #333;
	text-decoration: none;
	transition: color 0.1s ease-in,background-color 0.1s ease-in
}
 </style>
{% paginate customer.addresses by 5 %}
<div class="page-width acount-addresses">
  <div class="full-width full-width--return-link">
      <a href="/account" class="h1 return-link">
        <i class="photofont icon photo-back"></i>
        {{ 'customer.account.back' | t }}
      </a>
      <h4>
        {{ 'customer.account.return' | t }}
      </h4>
  </div>
  <div class="grid__item medium-up--one-third">
    <div class="content-block text-center">
      <p><button type="button" class="btn address-new-toggle">{{ 'customer.addresses.add_new' | t }}</button></p>
    </div>
  </div>
  <div class="grid">
    <div class="grid__item medium-up--two-thirds">
      {% comment %}
        Add address form, hidden by default
      {% endcomment %}
      <div id="AddressNewForm" class="hide content-block form-vertical">
        {% form 'customer_address', customer.new_address %}
          <h2 class="h3">{{ 'customer.addresses.add_new' | t }}</h2> 
          <div class="grid">
            <div class="grid__item medium-up--one-half">
              <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
              <input type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}">
            </div>
            <div class="grid__item medium-up--one-half">
              <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
              <input type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}">
            </div>
          </div>
          <div class="grid">
            <div class="grid__item">
              <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
              <input type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}">
              <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
              <input type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}">
              <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
              <input type="text" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}">
            </div>
          </div>
          <div class="grid">
            <div class="grid__item medium-up--one-half">
              <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
              <input type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}">
            </div>
            <div class="grid__item medium-up--one-half">
              <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
              <select id="AddressCountryNew" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
            </div>
            <div class="grid__item" id="AddressProvinceContainerNew" style="display:none">
              <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
              <select id="AddressProvinceNew" name="address[province]" data-default="{{ form.province }}"></select>
            </div>
            <div class="grid__item medium-up--one-half">
              <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
              <input type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters">
            </div>
            <div class="grid__item medium-up--one-half">
              <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
              <input type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}">
            </div>
          </div>
          <p>
            {{ form.set_as_default_checkbox }}
            <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
          </p>
          <p><input type="submit" class="btn" value="{{ 'customer.addresses.add' | t }}"></p>
          <p class="text-center"><button type="button" class="text-link link-accent-color address-cancel-mew-toggle">{{ 'customer.addresses.cancel' | t }}</button></p>
        {% endform %}
      </div>
      <div class="content-block" id="address-list-toggle">     
        {% comment %}
         <h2>{{ 'customer.addresses.title' | t }}</h2>
          List all customer addresses with a unique edit form.
          Also add pagination in case they have a large number of addresses
        {% endcomment %}
        {% for address in customer.addresses %}
          <div class="address-list-div">
          {% if address == customer.default_address %}
            <p><strong>{{ 'customer.addresses.default' | t }}</strong></p>
          {% endif %}
          <div class="address-list">
            {{ address | format_address }}
            <p>T:{{ address.phone }}<p>
            <p>
              <button type="button" class="text-link link-accent-color address-edit-toggle" data-form-id="{{ address.id }}">{{ 'customer.addresses.edit' | t }}</button> |
              <button type="button" class="text-link link-accent-color address-delete" data-form-id="{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">{{ 'customer.addresses.delete' | t }}</button>
            </p>
          </div>
          <div id="EditAddress_{{ address.id }}" class="hide form-vertical">
            {% form 'customer_address', address %}
              <h4>{{ 'customer.addresses.edit_address' | t }}</h4>
              <div class="grid">
                <div class="grid__item medium-up--one-half">
                  <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                  <input type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}">
                </div>
                <div class="grid__item medium-up--one-half">
                  <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                  <input type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}">
                </div>
              </div>
              <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
              <input type="text" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}">
              <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
              <input type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}">
              <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
              <input type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}">
              <div class="grid">
                <div class="grid__item medium-up--one-half">
                  <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                  <input type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}">
                </div>
                <div class="grid__item medium-up--one-half select-wrapper-option">
                  <label for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t }}</label>
                  <select id="AddressCountry_{{ form.id }}" class="address-country-option" data-form-id="{{ form.id }}" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
                </div>
              </div>
              <div id="AddressProvinceContainer_{{ form.id }}" style="display:none" class="select-wrapper-option">
                <label for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
                <select id="AddressProvince_{{ form.id }}" name="address[province]" data-default="{{ form.province }}"></select>
              </div>
              <div class="grid">
                <div class="grid__item medium-up--one-half">
                  <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                  <input type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters">
                </div>
                <div class="grid__item medium-up--one-half">
                  <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                  <input type="tel" id="AddressPhone_{{ form.id }}" name="address[phone]" value="{{ form.phone }}">
                </div>
              </div>
              <p>
                {{ form.set_as_default_checkbox }}
                <label for="address_default_address_{{ form.id }}">{{ 'customer.addresses.set_default' | t }}</label>
              </p>
              <p><input type="submit" class="btn" value="{{ 'customer.addresses.update' | t }}"></p>
              <p class="text-center"><button type="button" class="text-link link-accent-color address-edit-cancel-toggle" data-form-id="{{ form.id }}">{{ 'customer.addresses.cancel' | t }}</button></p>
            {% endform %}
          </div>
          </div>
          {% unless forloop.last %}<hr>{% endunless %}
        {% endfor %}
      </div>
    </div>  
  </div>

  {% if paginate.pages > 1 %}
    <div class="pagination">
      {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
    </div>
  {% endif %} 
</div>

{% endpaginate %}
{% section 'addresses' %}

<style>

@media (min-width:220px) {

.acount-addresses {
	background:#f7f8f9
}
.acount-addresses .full-width--return-link {
	padding:0;
	margin:0;
	background:#000;
	height:4rem;
	display:flex;
	align-items:center
}
.acount-addresses .full-width--return-link a {
	display:flex;
	justify-content:space-between;
	align-items:center;
	font-size:1.6rem;
	padding:0 1.1rem;
	margin:0;
	background:#333;
	color:#fff;
    height:100%
}
.acount-addresses .full-width--return-link h4 {
	margin:0;
	text-align:center;
	width:80%;
	color:#fff
}
.acount-addresses .medium-up--one-third {
	clear:both
}
.acount-addresses .medium-up--one-third .content-block {
	padding:0;
	width:50%;
	margin:1rem 0;background:#fff;
}
.acount-addresses .medium-up--one-third .content-block button {
	padding:0.8rem .25rem;
	text-transform:capitalize;
	letter-spacing:0;
	font-size:1.4rem
}
.acount-addresses .medium-up--two-thirds .content-block {
	background:transparent;
	border:1px solid #ddd;
	border-radius:.5rem;
	margin-bottom:1rem;
	padding:1rem
}
.acount-addresses .medium-up--two-thirds .content-block p {
	margin:1rem;
	line-height:2rem
}
.acount-addresses .medium-up--two-thirds .content-block p button {
	color:#2d64b3;
	text-transform:uppercase
}
}
</style>

<script>
  $('.address-new-toggle').click(function(){
    if($("#AddressNewForm").is('.hide')){
      $(this).hide();
      $("#AddressNewForm").removeClass('hide').show();
      $('#address-list-toggle').hide();
    }
  })
  
  $('.address-cancel-mew-toggle').click(function(){
    $('.address-new-toggle').show();
  	$("#AddressNewForm").addClass('hide').hide();
    $('#address-list-toggle').show();
  })
  
  $('#address-list-toggle .address-edit-toggle').click(function(){
  	var current_list = $(this).attr('data-form-id');
    $('.address-new-toggle').hide();
    $(this).parents('.address-list').hide();
    $('#EditAddress_'+current_list).removeClass('hide').show();
    $('#EditAddress_'+current_list).parents('.address-list-div').siblings().hide();
  })
  
  $('.address-edit-cancel-toggle').click(function(){
  	$('.address-new-toggle').show();
  	$(".form-vertical").addClass('hide').hide();
    $('.address-list-div').siblings().show();
    $('.address-list').show();
  })
  
  $('.address-delete').click(function(){
  	var addressID = $(this).data('form-id');
    var delTip = $(this).data('confirm-message');
    return Shopify.CustomerAddress.destroy(addressID,delTip);
  })
  
  window.onload = prepareAddresses();
  
  function prepareAddresses(){
  	var address, addressID, addresses, j, l, len, len1, results, select, selectableOptions;
    new Shopify.CountryProvinceSelector('AddressCountryNew', 'AddressProvinceNew', {
      hideElement: 'AddressProvinceContainerNew'
    });
    addresses = this.$('.address-list');
    if(addresses.length) {
      for (j = 0, len = addresses.length; j < len; j++) {
        address = addresses[j];
        addressID = $(address).find('.address-edit-toggle').data('form-id');
        new Shopify.CountryProvinceSelector("AddressCountry_" + addressID, "AddressProvince_" + addressID, {
          hideElement: "AddressProvinceContainer_" + addressID
        });
      }
    }
    selectableOptions = this.$('.select-wrapper select');
    results = [];
    for (l = 0, len1 = selectableOptions.length; l < len1; l++) {
      select = selectableOptions[l];
      results.push(updateSelectedText(null, select));
    }
    return results;
  } 
  
  function updateSelectedText(e, select) {
    var addressID, selectedValue;
    select = e ? $(e.target) : $(select);
    selectedValue = select.find('option:selected').text();
    if (selectedValue !== '') {
      select.prev('label').text(selectedValue);
    }
    if (select.attr('name') === 'address[country]') {
      addressID = $(select).attr('id').split('AddressCountry_')[1];
      addressID = addressID ? "#AddressProvince_" + addressID : '.new-address-province';
      return updateSelectedText(null, $(addressID));
    }
  };

  // 监听添加国家的select
  $(' #CountryNew').change(function(){
    var nowProvinceDom=$("#ProvinceNew")
    var nowCountryDom=$("#CountryNew")
    var OriginallyProvinceDom=$('.content-block').find("#AddressProvinceNew")
    var OriginallyCountryDom=$('.content-block').find("#AddressCountryNew")
    changeOriginallySelect(nowProvinceDom,nowCountryDom,OriginallyProvinceDom,OriginallyCountryDom )
    const dom=$('#ProvinceContainerNew')
    if(dom.css("display")==="none"){
      $('#grid-box-item-new').addClass('grid-box-item-width')
      nowProvinceDom.hide()
    }else{
      $('#grid-box-item-new').removeClass('grid-box-item-width')
      nowProvinceDom.show()
    }
  })
  
</script>