
<style>
.form-vertical input,
.form-vertical select,
.form-vertical textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.form-vertical input[type=radio],
.form-vertical input[type=checkbox] {
  display: inline-block;
  width: auto;
  margin-right: 5px;
}
.form-vertical input[type=submit],
.form-vertical .btn {
  display: inline-block;
}
.list--no-bullets {
  list-style: none;
}
.grid--half-gutters {
  margin-left: -10px;
}
.grid--half-gutters > .grid__item {
  padding-left: 10px;
}

.grid--no-gutters {
  margin-left: 0;
}
.grid--no-gutters > .grid__item {
  padding-left: 0;
}
.article__photo-container {
  position: relative;
}

.article__photo-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.no-js .article__photo-wrapper {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.rte--indented-images{
  padding-top: 20px;
  color: #000000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
}
.rte--indented-images .rte__image-indent {
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
}
#shopify-section-blog-article .blog__meta{
    display:none;
}

#shopify-section-blog-article  {
    text-align:left;
}
#shopify-section-blog-article h3{
font-size: 15px;
    color: #000;
    text-align: left;
  margin: 0;
}
#shopify-section-blog-article p{
        line-height: 1.8rem;
}
  
 .full-width--return-link a{
        font-size: 1.2rem;
    text-align: center;
    text-decoration: underline;
    width: 100%;
   margin-bottom:2rem
}
 .full-width--return-link{
        margin-bottom: 0;    padding-bottom: 2rem;
}.blog__meta {
  font-size: 1.1rem;
}

.blog__rss-link .icon-rss { 
  width: 18px;
  height: 18px;
  vertical-align: baseline;
}

 
@media(min-width:768px){
.rte--indented-images .rte__image-indent { 
    margin-left: -10px;
    margin-right: --10px;
}
}
</style>
{%- assign new_comment = false -%}
{% if comment and comment.created_at %}
  {%- assign new_comment = true -%}
  {%- assign new_comment_id = comment.id -%}
{% endif %}

{% if new_comment %}
  {%- assign duplicate_comment = false %}
  {% for comment in article.comments %}
    {% if comment.id == new_comment_id %}
      {%- assign duplicate_comment = true %}
      {% break %}
    {% endif %}
  {% endfor %}

  {% if duplicate_comment %}
    {%- assign number_of_comments = article.comments_count -%}
  {% else %}
    {%- assign number_of_comments = article.comments_count | plus: 1 -%}
  {% endif %}
{% else %}
  {%- assign number_of_comments = article.comments_count -%}
{% endif %}

<div class="content-block">
<div class="powr-form-builder" id="611e5763_1545028701"></div>
  {% if article.image %}
    <div class="content-block__full-image content-block__full-image--large">
      <noscript>
        {{ article | img_url: '1024x1024' | img_tag: article.title | escape }}
      </noscript>
      <div class="article__photo-container">
        <div class="article__photo-wrapper" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100}}%;">
        {% assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          <img class="lazyload"
            src="{{ article.image | img_url: '300x300' }}"
            data-src="{{ img_url }}"
            data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
            data-aspectratio="{{ article.image.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ article.title | escape }}">
        </div>
      </div>
    </div>
  {% endif %}

  <p class="blog__meta">
    {% if article.tags.size > 0 %}
      {% for tag in article.tags %}
        <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="link-body-color"><strong>{{ tag }}</strong></a>{% if forloop.last %} - {% else %}, {% endif %}
      {% endfor %}
    {% endif %}
    {{ article.published_at | time_tag: format: 'month_day_year' }}
  </p>

  <h3 class="h3">{{ article.title }}</h3> 
  <div class="rte rte--indented-images" itemprop="articleBody">
    {{ article.content }}
  </div>
</div>

{% if blog.comments_enabled? %}
  {% if number_of_comments > 0 %}
    <div class="content-block">
      <h2 class="h3">{{ 'blogs.comments.with_count' | t: count: number_of_comments }}</h2>

      {% paginate article.comments by 5 %}

        {% comment %}
          #comments is required, it is used as an anchor link by Shopify.
        {% endcomment %}
        <div id="comments">

          {% if new_comment %}
            <p class="form-success">
              {% if blog.moderated? %}
                {{ 'blogs.comments.success_moderated' | t }}
              {% else %}
                {{ 'blogs.comments.success' | t }}
              {% endif %}
            </p>
          {% endif %}

          {% if number_of_comments > 0 %}
            <ul class="comments list--no-bullets">
              {% comment %}
                If a comment was just submitted with no blank field, show it.
              {% endcomment %}
              {% if new_comment %}
                {% unless paginate.current_page > 1 %}
                  <li id="{{ comment.id }}" class="comment">
                    {{ 'comment' | asset_url }}
                  </li>
                {% endunless %}
              {% endif %}

              {% for comment in article.comments %}
                {% unless comment.id == new_comment_id %}
                  <li id="{{ comment.id }}" class="comment">
                    {{ 'comment' | asset_url }}
                  </li>
                {% endunless %}
              {% endfor %}
            </ul>

            {% if paginate.pages > 1 %}
              <div class="pagination">
                {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
              </div>
            {% endif %}
          {% endif %}
        </div>
      {% endpaginate %}
    </div>
  {% endif %}

  <div class="content-block">
    <div class="comment-form form-vertical">
      {% form 'new_comment', article %}

        <h2 class="h3">{{ 'blogs.comments.title' | t }}</h2>

        {{ form.errors | default_errors }}

        <div class="grid grid--half-gutters">
          <div class="grid__item medium-up--one-half">
            <label for="CommentAuthor" class="label--hidden">{{ 'blogs.comments.name' | t }}</label>
            <input type="text" name="comment[author]" id="CommentAuthor" class="{% if form.errors contains 'author' %} input--error{% endif %}" placeholder="{{ 'blogs.comments.name' | t }}" value="{{ form.author }}">
          </div>

          <div class="grid__item medium-up--one-half">
            <label for="CommentEmail" class="label--hidden">{{ 'blogs.comments.email' | t }}</label>
            <input type="email" name="comment[email]" id="CommentEmail" class="{% if form.errors contains 'email' %} input--error{% endif %}" placeholder="{{ 'blogs.comments.email' | t }}" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
          </div>
        </div>

        <label for="CommentBody" class="label--hidden">{{ 'blogs.comments.message' | t }}</label>
        <textarea name="comment[body]" id="CommentBody" class="{% if form.errors contains 'body' %} input--error{% endif %}" placeholder="{{ 'blogs.comments.message' | t }}">{{ form.body }}</textarea>

        <input type="submit" class="btn" value="{{ 'blogs.comments.post' | t }}">

        {% if blog.moderated? %}
          <p class="text-center"><small>{{ 'blogs.comments.moderated' | t }}</small></p>
        {% endif %}
      {% endform %}
    </div>
  </div>
{% endif %}