
{% for block in section.blocks %}
  {% if handle == block.settings.handle %}
    <style>
      main.main-content{
        background:{{ block.settings.mian_bg }};
      }  
      
      .p_a_countdown-area.dis-coloum{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
      }
      .p_a_countdown-area.dis-coloum h4{
        color: #fff;
        margin: 0;
      }
      .p_a_countdown-area.dis-coloum h4 i{
        font-size: 42px;
      }
      .p_a_countdown-box{
        display: flex;
        justify-content: center;
        margin-left: 15px;
        background: #000;
        padding: 0 10px;
        border-radius: 5px;
      }
      .p_a_countdown-item {
        font-size: 20px;
        padding: 7px 10px;
      }
      span.countdown-day-text {
        font-size: 15px;
        font-weight: 500;
        color: #ccc;
      }
      @media(max-width:768px){
        .p_a_countdown-area.dis-coloum h4{
          font-size: 1.2rem;
        }
        .p_a_countdown-item{
          font-size: 16px;
    	  padding: 6px 7px;
        }
        span.countdown-day-text{
          font-size: 13px;
        }
        .p_a_countdown-area.dis-coloum h4 i{
          display:none;
        }
      }
    </style>
    {%if block.settings.is_count_down %}
     <div class="time view-place-top">
        <div class="p_a_countdown dis-f ">
          <div class="p_a_countdown-area dis-coloum">
            <h4><i class="icon photofont photo-daojishi-shijian icon-size"></i>{{ 'product.countdown.Ends_In' | t }}</h4>
            <div class="p_a_countdown-box">
              <div class="p_a_countdown-item" style="display:none;">
                <span id="countdown-day-first">0</span>
                <span id="countdown-day-last">0</span>
                <span class="countdown-day-text">{{ 'product.countdown.day' | t }}</span>
              </div>

              <div class="p_a_countdown-item">
                <span id="countdown-hour-first">0</span>
                <span id="countdown-hour-last">0</span>
                <span class="countdown-day-text"> {{ 'product.countdown.hour' | t }}</span>                
              </div>

              <div class="p_a_countdown-item">
                <span id="countdown-minute-first">0</span>
                <span id="countdown-minute-last">0</span>
                <span class="countdown-day-text">{{ 'product.countdown.min' | t }}</span>                
              </div>

              <div class="p_a_countdown-item">
                <span id="countdown-second-first">0</span>
                <span id="countdown-second-last">0</span>
                <span class="countdown-day-text">{{ 'product.countdown.sec' | t }}</span>
              </div>         
            </div>
          </div>
        </div>
      </div>
      <script>
        var countDownDate = new Date('{{block.settings.get_time}}').getTime();

        {% if block.settings.countdown == 'countdown24' %}
          var circulation =24;
        {% elsif block.settings.countdown == 'countdown48' %}
          var circulation =48;
        {% elsif block.settings.countdown == 'countdown72' %}
          var circulation =72;
        {% endif %}
          var countdown_id = setInterval(() => {
          var now = new Date().getTime();
          var distance = Math.abs(countDownDate - now);
          var days = Math.floor(distance / (1000 * 60 * 60 * circulation));
          var hours = Math.floor( parseFloat(distance % (1000 * 60 * 60 * circulation) / (1000 * 60 * 60)) );
          var minutes = Math.floor( parseFloat((distance % (1000 * 60 * 60)) / (1000 * 60)) );
          var seconds = Math.floor( parseFloat((distance % (1000 * 60)) / 1000) );
          // time
          var c_day_first = Math.floor(days / 10);
          var c_day_last = days%10;

          var c_hour_first = Math.floor(hours / 10);
          var c_hour_last = hours%10;

          var c_minute_first = Math.floor(minutes / 10);
          var c_minute_last = minutes%10;

          var c_seconde_first = Math.floor(seconds / 10);
          var c_seconde_last = seconds%10;

          document.getElementById('countdown-day-first').innerHTML = c_day_first;
          document.getElementById('countdown-day-last').innerHTML = c_day_last;
          document.getElementById('countdown-hour-first').innerHTML = c_hour_first;
          document.getElementById('countdown-hour-last').innerHTML = c_hour_last;
          document.getElementById('countdown-minute-first').innerHTML = c_minute_first;
          document.getElementById('countdown-minute-last').innerHTML = c_minute_last;
          document.getElementById('countdown-second-first').innerHTML = c_seconde_first;
          document.getElementById('countdown-second-last').innerHTML = c_seconde_last;
        }, 1000);
      </script>
    {% endif%}
  {% endif%}
{% endfor %}

{% schema %}
{
  "name": "导航样式",  
  "class":"collectionnewactive-style",
  "settings": [
    {
      "type": "paragraph",
      "content": "collectionnewactive-style"
    }
  ],
  "blocks": [
    {
      "type": "nav_style",
      "name": "页面样式",
      "settings": [
    	{
		  "type": "text",
          "id": "title",
          "label": "哪个活动"
	    },
		{
		  "type": "text",
          "id": "handle",
          "label": "活动url"
	    },
        {
          "type": "color",
          "id": "mian_bg",
          "label": "会场背景颜色"
        },
        {
          "type": "checkbox",
          "id": "is_count_down",
          "label": "开启倒计时",
          "default": false
        },
		{
		  "type": "text",
          "id": "get_time",
          "label": "时间"
	    },
        {
          "type": "select",
          "id": "countdown",
          "label": "倒计时",
          "options": [
            {
              "value": "countdown24",
              "label": "24小时倒计时"
            },
            {
              "value": "countdown48",
              "label": "48小时倒计时"
            },
            {
              "value": "countdown72",
              "label": "72小时倒计时"
            }
          ],
          "default": "countdown24"
        }
		
      ]
    }    
  ]
}
{% endschema %}

