{% comment %}
** @name 目录模块 **
** @author 王天宇 **
** @integrate 王天宇 **
{% endcomment %}
<style>
  .main-container-category {
  	width: 100%;
    background: #F6F6F9;
  }
  .section-normal-category {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 56px 14px 120px;
    width: 100%;
    max-width: 1400px;
    color: #222;
  }
  .section-normal-category .category-title {
    margin-bottom: 14px;
    height: 80px;
    font-size: 32px;
	line-height: 80px;
  }
  .section-normal-category .category-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }
  .category-content .collection-item {
    display: flex;
    margin-bottom: 28px;
    width: calc((100% - 28px) / 2);
    border-radius: 4px;
  }
  .collection-item .item-top {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 240px;
    height: 240px;
    padding: 28px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #EBEBEF;
  }
  .item-top .top-featured {
  	width: 100%;
  }
  .item-top .top-shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(34 34 34 / 40%);
  }
  .item-top .top-text {
    display: flex;
    flex-direction: column;
    color: #6C6888;
  }
  .top-text .text-title {
    font-size: 24px;
    line-height: 32px;
  }
  .top-text .text-price {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 32px;
    margin-right: 20px;
  }
  .top-text .text-price span:first-child {
    padding-right: 4px;
  }
  .item-top .top-button {
    width: fit-content;
    height: 36px;
    padding: 0 7px 0 14px;
    background: #fff;
    font-size: 16px;
    color: #222;
    display: flex;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(102, 99, 99, 0.08);
  }
  .item-top .top-button img {
    width: 36px;
    height: 100%;
  }
  .collection-item .item-bottom {
    display: flex;
    padding-top: 28px;
    background: #fff;
    align-items: center;
    padding: 0 34px;
  }
  .item-bottom .bottom-product {
    display: block;
    flex: 1;
    padding: 0 8px;
    margin-bottom: 20px;
    text-align: center;
  }
  .bottom-product img {
  	width: 100%;
    margin-bottom: 
  }
  .bottom-product .product-price {
  	font-size: 16px;
    line-height: 2;
  }
  @media (max-width: 768px) {
    .section-normal-category {
      padding: 0 20px 12px;
    }
    .section-normal-category .category-title {
      margin: 12px 0; 
    }
    .section-normal-category .category-content {
      flex-wrap: nowrap;
      flex-direction: column;
    }
    .category-content .collection-item {
      width: 100%;
    }
    .collection-item .item-bottom {
      padding: 20px 0;
    }
    .item-top .top-featured {
      height: 230px;
    }
  }
</style>
<div class="main-container-category alifont">
  <div class="section-normal-category">
    <div class="category-title alifont_bold">{{section.settings.title_text}}</div>
    <div class="category-content">
      {% for block in section.blocks %}          
      {% if block.type =='category_collection' %}
      {% assign cur_collection = collections[block.settings.collection] %}
      <div class="collection-item">
        <div
            class="item-top"
            style="background-image: url({{ 'category-bottom.png' | asset_url }});"
        >
          <div class="top-text">
            <div class="text-title alifont_bold">{{block.settings.title}}</div>
            <div class="text-price alifont">
              <span>Starting from </span>
              <span class="alifont_bold">${{block.settings.minimum_price}}</span>
            </div>
          </div>
          <a
            class="top-button alifont_bold"
            href="{{ cur_collection.url }}"
        >
              <span>View all</span>
              <svg width="36px" height="36px" viewBox="0 0 36 36">
                <title>icon/arrow</title>
                <g id="icon/arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path d="M23.5376218,14 C23.7410263,14 23.9395942,14.062028 24.1068318,14.1778078 L28.5722331,17.1734502 C29.0263173,17.4878162 29.1395813,18.1107682 28.8252153,18.5648524 C28.7567811,18.6637018 28.6710824,18.7494004 28.5722331,18.8178346 L24.1068318,21.8181288 C23.6527476,22.1324948 23.0297956,22.0192308 22.7154296,21.5651466 C22.5996498,21.397909 22.5376218,21.1993411 22.5376218,20.9959366 L22.5366218,18.9952107 L8,18.9956424 C7.44771525,18.9956424 7,18.5479272 7,17.9956424 C7,17.4433577 7.44771525,16.9956424 8,16.9956424 L22.5366218,16.9952107 L22.5376218,15 C22.5376218,14.4477153 22.985337,14 23.5376218,14 Z" id="路径" fill="#222222"></path>
                </g>
              </svg>
          </a>
        </div>
        <div class="item-bottom">
          {% for product in cur_collection.products limit:3 %}
          <a class="bottom-product" href="{{ product.url }}">
            <img src="{{product.featured_image | img_url }}" alt="">
            <div class="product-price alifont_bold">{{product.price | money }}</div>
          </a>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<script>

</script>

{% schema %} 
{
  "name": "产品-目录-通用",
  "class":"common-top5-section",
  "settings": [
    {
      "type": "text",
      "id": "title_text",
      "label": "模块标题",
      "default": "Category"
    }
  ],
  "blocks": [
    {
      "type": "category_collection",
      "name": "目录展示集合",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "集合名称",
          "info": "不设置默认显示集合名称"
        },
        {
          "type": "text",
          "id": "minimum_price",
          "label": "集合产品最低价格",
          "default": "19.99"
        },
	  	{
          "type": "image_picker",
          "id": "position_image",
          "label": "集合展示图",
          "info": "16 / 9"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "集合"
        }
      ]
    }
  ]
}
{% endschema %}