{% if section.settings.enable %}  

<style>
  .common-countdown-section{   
    height: 64px; 
    width: 100%; 
    background: {{section.settings.color_bg}};
}
.countdown-section{
    height: 100%;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
  .common-countdown-section span.ends{
      color:#000;
      font-size:1.2rem
  }
  .common-countdown-section .icon{

    font-size: 2.6rem;
  }
  .common-countdown-section ul{
    DISPLAY: FLEX;
    align-items: flex-end;
    color:{{section.settings.color_text}};
  }
  .common-countdown-section ul li{ 
    margin:0 .4rem;
    float:left;   
  }
  .common-countdown-section ul li span{
    color:{{section.settings.color_text}};
    font-size: 1.2rem;
    font-weight: normal;
  }
  .common-countdown-section ul li span.num{
    width: 2rem;
    font-size: 1.5rem;
    color: {{section.settings.color_time}};
    display: inline-block;
  }
</style>

<div class="countdown-section">
  <span class="ends"> <i class="icon photofont photo-daojishi-shijian"></i></span>
  <div id="remainTime" class="remainTime"></div>     
</div>
 
<script type="text/javascript">
$(function(){
  var now=new Date();
  var end=new Date(2030,9,3,00,00,00);//结束的时间：年，月，日，分，秒（月的索引是0~11）
  /*两个时间相减,得到的是毫秒ms,变成秒*/
  var result=Math.floor(end-now)/1000; 
  
  var interval=setInterval(sub,1000); //定时器 调度对象
  /*封装减1秒的函数*/
  function sub(){
      if (result>1) {
         result = result - 1; 
         var second = buquan(Math.floor(result % 60),2);     // 计算秒 ，取余  
         var minite = buquan(Math.floor((result / 60) % 60),2); //计算分 ，换算有多少分，取余，余出多少秒
   var hour = buquan(Math.floor((result / 3600) % 24),2); //计算小时，换算有多少小时，取余，24小时制除以24，余出多少小时

         //var day = buquan(Math.floor(result / (3600*24)),2);  //计算天 ，换算有多少天


     $("#remainTime").html("<ul>" + "<span class='ends'>{{ 'product.countdown.ends' | t }}:</span>"+ "<li>" + "<span class='num'>"+ hour+ "</span>" + "<span>{{ 'product.countdown.hour' | t }}</span>" + " </li> " + "<li>" +"<span class='num'>"+minite+ "</span> " + "<span>{{ 'product.countdown.min' | t }}</span>" + "</li>" + "<li>" +  "<span class='num'>"+second+ "</span>" + "<span>{{ 'product.countdown.sec' | t }}</span>" + "<li>"+"</ul>");
      } else{
          window.clearInterval(interval);//这里可以添加倒计时结束后需要执行的事件 
      }
  };
});
function buquan(num,length){
  var numstr = num.toString();
  var l=numstr.length;
  if (numstr.length>=length) {return numstr;}
    
  for(var  i = 0 ;i<length - l;i++){
    numstr = "0" + numstr;  
   }
  return numstr; 
 }
</script> 

{% endif %}

{% schema %}
  {
    "name": "通用 - 倒计时",
    "class": "common-countdown-section",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable",
        "label": "开启"
      },
     {
        "type":      "color",
        "id":        "color_bg",
        "label":     "背景颜色",
        "default":   "#280f12"
      },
      {
        "type":      "color",
        "id":        "color_text",
        "label":     "文字颜色",
        "default":   "#fff"
      },
     {
        "type":      "color",
        "id":        "color_time",
        "label":     "时间颜色",
        "default":   "#F70724"
      }
    ],
    "presets": [{
      "name": "通用 - 倒计时",
      "category": "通用"
    }]
    
  }
{% endschema %}