<style>
main.main-content{
  background:{{section.settings.color_bg}};
}

.sub_title{
  color:{{section.settings.color_titlesub}};
}
.block-collection .block-collection-items .product-card__name{
  color:{{section.settings.color_text}};
}
.block-collection .block-collection-items .product-card__regular-price{
  color:{{section.settings.color_priceregular}};
}
.block-collection .block-collection-items .product-card__sale-price{
  color:{{section.settings.color_price}};
}
  
.tag_span_first ~ span{
  display:none !important;
}  
.remainTime{
  width:auto;
}
.blackfriday-time{   
  height: 60px;
  display: flex;
  color: #fff;
  align-items: center;
  width: 100%;
  justify-content: center;
  z-index:5;
}
.blackfriday-time-pc.stick-sub{
  height:138px;
}
.blackfriday-time-pc.stick-sub .blackfriday-time{
  position: fixed;
}
.blackfriday-time ul{
  margin: 0 8px 0 5px;
  display: flex;
  align-items: center;
}
.blackfriday-time ul li{
  padding-right: 5px;
  display: flex;
  align-items: center;
}
.blackfriday-time ul li span{
  font-size: 12px;
  font-weight: normal;
  display: inline-block;
  transform: translate(1px,-2px);
  text-transform: capitalize;
}
.blackfriday-time ul li span.num{
  transform: translate(0px,0px);
  font-size: 18px;  
  display: inline-block;
}
.shopify-section.block-countdown-section {
  padding:0;
}
.blackfriday-time,.listicon{
  display:flex;
}
.view-place-top{
  display:flex;
  align-items: center;
  min-height: 32px;
  justify-content: center;
  margin-top: 20px;
}
.view-place-top .photo-daojishi1{  
  font-size: 1.8rem;
  line-height: 1;
}
.remainTime ul{
  display: flex;
}
.menutime{
  width:100%;
  display: flex;
  justify-content: center;
}
.direction-top-nav{
  max-width: 1150px;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.direction-top-nav.no-swiper{
  max-width: 800px;
}
.direction-top-nav.no-swiper .direction-shade .swiper-wrapper{
  display: flex;
  justify-content: center;
}
.direction-top-nav.no-swiper .direction-shade .swiper-wrapper .swiper-slide{
  width: auto;
}
.direction-shade{
  width:calc(100% - 50px);
  overflow: hidden;
}
.direction-top-nav.no-swiper .swiper-button-next1,.direction-top-nav.no-swiper .swiper-button-next2{
  display:none;
}
.swiper-slide.m-top-nav-slide{
  width: 150px;
  text-align: center;
  overflow: hidden;
  position: relative;
  margin: 0;
  border-bottom: 0;
  padding: 0;
}
.swiper-slide.m-top-nav-slide a{
  display: block;
}
.swiper-button-next1,.swiper-button-next2{
  cursor: pointer;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center; 
  width: 25px;
  justify-content: flex-end;
}
.swiper-button-next1 i{
  transform: rotate(-180deg) translateY(-2px);
  display: inline-block;
}
.swiper-button-next1 i,.swiper-button-next2 i{
  font-size: 2rem;
  font-weight: 900;
  text-decoration: none;
}
.itext{
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  padding: 0 1.3rem;
  justify-content: center;
  font-size: 12px;
  height: 60px;
}
.maodian{
  position:absolute;
  margin-top:-135px;
}
.pages-banner.benefit-banner{
  margin-top: 15px;
}
.shuxian{margin-left: 70px;}
.blackfriday-time-pc{
  z-index:3;
}
.naozhong{margin-top:2px}
.block-collection{
  margin: 25px auto 56px;
}
.block-collection .uldiv{
  max-width: 1360px;
  border-radius: 30px;
  position: relative;
  margin: 0 auto;
  padding: 0 0 30px 0;
}
.block-collection .uldiv:after{
  position: absolute;
  content: "";
  width: calc(100% - 24px);
  height: calc(100% - 20px);
  display: block;
  top: 10px;
  left: 12px;
  border-radius: 25px; 
  pointer-events: none;
}

.block-collection-newactive2019-collection2 .uldiv{ 
  box-shadow: none;  
  overflow: hidden;   
  z-index: 1;
}
.collection-label{
  display:none;
}
.block-collection-newactive2019-collection2 .uldiv:before{       
  position: absolute;
  content: ""; 
  height: 64px;
  border: none;
  top: unset;
  bottom: 0;
  width: 100%;
  border-radius: 0; 
  left: 1px;  
}
.block-collection-newactive2019-collection2 .uldiv:after {
  border:none;
  position: absolute;
  content: "";
  width: 100%;
  height: 96%;
  display: block;
  top: 150px;
  border-radius: 0;
  pointer-events: none; 
  left: 0;
  z-index: -1;
}
.block-collection .title{
  text-align: center;
  letter-spacing: 0;
  padding:3rem 0 0rem 0;
  font-family:"OpenSans";
  font-size: 30px;
  margin-bottom: 15px;
  line-height: 1;
}  
.block-collection .sub_title{
  text-align: center;    
  font-size: 12px;
  letter-spacing: 1px;
  text-align: center;
  font-size: 13px;
  letter-spacing: 0px;
  max-width: 45%;
  margin: 0 auto;
  font-style: italic;
}
.block-collection .block-collection-items{  
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-wrap: wrap;
  padding:10px 5px 20px;
  margin-bottom: 0; 
}
.block-collection .block-collection-items .product-card__image-wrapper{
  position: relative;
}
.block-collection .block-collection-items .product-card__name{
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 0 8px 0;
  line-height: 20px;
  cursor: pointer;
  line-height: 1;  
}
.product-card__price{  
  margin: 5px 0;
}
.block-collection .block-collection-items .product-card__sale-price{
  font-size: 12px;;
  font-weight: bold;
}
.block-collection .block-collection-items .product-card__regular-price{
  font-size: 12px;
  text-decoration: line-through;
  margin-left:5px;
}
.shopify-section.section-block-collection {
  padding:0;
  background:#190101;
}
.tittle_more{
  text-align: center;
  padding: 0 0 25px;
}
.tittle_more a{
  font-size: 14px;
  display: inline-block;
  padding: 10px 40px;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 50px;
  border: 3px solid #000;
  font-weight: 600;
}
.product-card__info{
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
}
.activity-template-collection{
  padding-bottom: 70px;
}
.medium-up--btn.btn{
  padding: 8px;
  border-radius: 0;
  letter-spacing: 0;
  position: absolute;
  width: 100%;
  bottom: 0px;
  transition: all 0.3s;
  opacity: 0;
}
.block-collection-items .item:hover .medium-up--btn.btn{
/*   bottom: 0px; */
  opacity: 1;
}
.f-more{
  display:none;
}
.banner-pc{
  display:block;
}
.banner-mb{
  display:none;
}
.block-collection .block-collection-items .item{
  width:calc(20% - 10px);
  margin: 0 5px 10px;
  z-index:2;
}
.product-card__image{
  position: relative;
}
.product-card__image .defaultImage {
  opacity: 1;  
}
.product-card__image .hoverImage{
  transition: all 0.3s;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.product-card__image:hover .defaultImage{
  opacity: 0;
}
.product-card__image:hover .hoverImage{
  opacity: 1;
}
.discount_box .discount_box_mb{display:none;}
.discount_box{
  position: absolute;
  background: #e33e54;
  color: #fff;
  font-size: 15px;
  line-height: 1;
  z-index: 1;
  top: 8px;
  left: 10px;
  border-radius: 12px;
  padding: 5px 15px;
}
.collection-label {
  height:25px;
  margin-top: 5px;
}
.collection-label span{
  padding: 5px 2rem;
  color: #fff;
  background: #ee183b;
  line-height: 1;
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
}
.topsale{
  position: absolute;
  top: -40px;
  width: 100%;
  left: calc(50% - 119px);
}
.title span{
  z-index:1;
  position:relative;
}
.ul-div{
  width:100%;
  background: #fff;  
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.46);
  max-width: 1198px;
  margin: 0 auto;
  margin-top: 60px;
}
.p_a_countdown-area.dis-coloum{
  display: flex;
  align-items: center;
}
.p_a_countdown-area.dis-coloum h4{
  margin: 0 12px;
  color: #000;
  font-size: 32px;
}
.p_a_countdown-area.dis-coloum h4 .photo-daojishi-shijian{
  font-size: 40px;
}
.p_a_countdown-box {
  display: flex;
  align-items: center;
}
.p_a_countdown-item{
  display: flex;
  margin: 0 4px;
}
.p_a_countdown-item span{
  background-color: #000;
  color: #fff;
  padding: 4px 7px;
  margin:0 2px;
  font-size: 28px;
  font-weight: 900;
  border-radius: 8px;
  position: relative;
  font-family: 'Open Sans';
  line-height: 1;
  display: inline-block;
}
.blackfriday-time,.direction-top-nav{
  background:{{section.settings.color_nav_bg}};
}
.swiper-slide.m-top-nav-slide{
  background:{{section.settings.color_nav_block}};
}
.swiper-slide.m-top-nav-slide:hover,.swiper-slide.m-top-nav-slide.active{
  background:{{section.settings.color_nav_hover}};
}
.swiper-slide.m-top-nav-slide span{
  color:{{section.settings.color_nav_text}};
}
@media(min-width:768px){
  .title span{
    color:#fff;
    text-transform: uppercase;
    -webkit-clip-path: polygon(0% 0%, calc(100% - 30px) 0%, 100% 50%, calc(100% - 30px) 100%, 0% 100%);
    clip-path: polygon(0% 0%, calc(100% - 30px) 0%, 100% 50%, calc(100% - 30px) 100%, 0% 100%);
    background: #000;
    height: 68px;
    display: inline-flex;
    align-items: center;
    padding: 0 7rem 0 4rem;
    position: relative;
    border-radius: 4px;
    flex-direction: column;
    justify-content: center;
    font-family: 'Open Sans';
    font-weight: 900;
  }
  .title span:after{
    position: absolute;
    content: '';
    background: #fecf00;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media(max-width:768px){
.blackfriday-time-pc.stick-sub{
  height:98px;
}  
main.main-content {
  background: #fff;
}
.ul-div{
  margin-top: 10px;
  background: #fff;
  box-shadow: none;
}
.title span{
  z-index:1;
  position:relative;
  padding:0 0px;
}
.topsale{
  position: absolute;
  left: calc(50% - 60px);
  top: -20px;
  width: 120px;
}
.pages-banner.benefit-banner{
  margin-top: 8px;
}
.menutime{
  flex-flow: wrap-reverse;
}
.swiper-slide.m-top-nav-slide{
  width: 110px;
}
.view-place-top{
  width: 100%;
  justify-content: center;
}
.view-place-top .photo-daojishi1{
  font-size: 1.5rem;
}
.main-content div.block-collection {
  background-size: contain;
  z-index: 1;
}
.blackfriday-time{
  height: 46px;
}
.swiper-button-next1 i{
  transform: rotate(-180deg) translateY(0px);
}
.swiper-button-next1 i, .swiper-button-next2 i{
  font-size: 1.5rem;
}
.direction-shade{
  width: calc(100% - 38px); 
}
.blackfriday-time ul li span.num{
  font-weight: 500;
  font-size: 17px;
  margin-top:-1px;
  line-height: 33px;
}
.blackfriday-time ul li span.txt{
  transform: scale(.8) translate(-1px,-4px);
}
.itext{
  height: 44px;
  padding: 0 .5rem;
}
.blackfriday-time ul li{
  margin: 0 3px;
  padding-right: 0px;
}
.maodian{
  position:absolute;
  margin-top:-100px;
}
.block-collection{
  margin:8px auto 25px;
  padding:0 3px;  
}
.block-collection .title {
  font-size: 20px;
  color: #000;
  padding-top: 1rem;
}  
.banner-pc{display:none;}
.banner-mb{display:block;}
.product-card__price{display: flex;}
.block-collection .uldiv{
  border-radius: 15px;
  padding: 0 0 0px 0;
}
.block-collection .sub_title{
  font-size: 12px;
  letter-spacing: 0;
  line-height: 1.2;
  width: 100%;
  max-width: 100%;
  padding: 0 10px;
}
.block-collection .block-collection-items .item{
  width:calc(50% - 10px);
  border-width: 0.2rem;
  z-index:1; 
  margin: 5px;
}
.block-collection .uldiv:after{
  display:none;
} 
.main-content div.block-collection{
  background-size: contain;
  padding: 0;
}
.block-collection .product-card__price{
  flex-wrap: wrap;
  align-items: baseline;
}
.block-collection .block-collection-items .product-card__name {
  font-weight: normal;
  line-height: 1.2rem;
  font-size:12px;
}
.block-collection .block-collection-items .product-card__regular-price{
  font-size: 12px;
}
.product-card__price span {
  display:block;
  text-align:center;
}
.block-collection .block-collection-items{
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-wrap: wrap;  
  padding:10px 0 20px;
  width:100%;
}
.block-collection .block-collection-items .product-card__sale-price{
  margin-left:1px;
  font-size:14px;
}
.block-collection .tittle_more {
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
  max-width: unset;
  padding-bottom: 0;
  background-size: contain;
}
.tittle_more a{
  width: auto;
  font-size: 14px;
  padding: .6rem 3rem;
} 
.collection-label span{
  border-radius: 4px;
  padding: 4px;
  transform: scale(.85) translate(-10px, -3px);
}
.blackfriday-time-pc.stick-sub .blackfriday-time .direction-top-nav{
  position: fixed;
  z-index: 10;
  width: 100%;
}
footer.site-footer{
  margin-top: 0;
}  
.discount_box .discount_box_pc{display:none;}
.discount_box .discount_box_mb{display:block;}
.blackfriday-time-pc.stick-sub .blackfriday-time{position: unset;}
.product-card__info{padding-bottom: 0;}
.collection-label{height: 30px;}
.yotpo .text-m,.yotpo.bottomLine .yotpo-bottomline .yotpo-icon-star, .yotpo.bottomLine .yotpo-bottomline .yotpo-icon-half-star, .yotpo.bottomLine .yotpo-bottomline .yotpo-icon-empty-star, .yotpo.bottomline .yotpo-bottomline .yotpo-icon-star, .yotpo.bottomline .yotpo-bottomline .yotpo-icon-half-star, .yotpo.bottomline .yotpo-bottomline .yotpo-icon-empty-star, .yotpo .yotpo-modal-bottom-line .yotpo-bottomline .yotpo-icon-star, .yotpo .yotpo-modal-bottom-line .yotpo-bottomline .yotpo-icon-half-star, .yotpo .yotpo-modal-bottom-line .yotpo-bottomline .yotpo-icon-empty-star{font-size: 12px;}
.yotpo .standalone-bottomline.star-clickable, .yotpo .standalone-bottomline .star-clickable{align-items: center;}
.product-card__image:hover .hoverImage,.block-collection-items .item:hover .medium-up--btn.btn{opacity:0;}

.p_a_countdown-item{
  margin: 0 2px;
}
.p_a_countdown-area.dis-coloum h4 .photo-daojishi-shijian{
  font-size: 36px;
  position: absolute;
  left: -42px;
  top: 50%;
  font-weight: 900;
  transform: translateY(-50%);
}
.p_a_countdown-item span{
  padding: 4px 4px;
  font-size: 14px;
  border-radius: 5px;
  margin: 0 1px;
}
.p_a_countdown-area.dis-coloum h4{
  font-size: 16px;
  font-weight: 100;
  position: relative;
}


</style> 
<div class="blackfriday-time-pc">
  
  <div class="blackfriday-time" data-section-id="{{ section.id }}">
    <div class="menutime">
      <div class="direction-top-nav">
        <div class="swiper-button-next1"><i class="icon photofont photo-more1"></i></div>
        <div class="direction-shade">
          <div class="swiper-wrapper">                  
            {% for block in section.blocks %}
            {% if block.type == 'additional_info' %}
            {% if handle == block.settings.handle %}
              <div class="swiper-slide m-top-nav-slide">
                <a href="#section-{{forloop.index}}"><span class="itext">{{block.settings.text1}}</span></a>
              </div>
            {%endif%}
            {%endif%}
            {%endfor%}
          </div>
        </div>
        <div class="swiper-button-next2"><i class="icon photofont photo-more1"></i></div>
      </div>
    </div>
  </div>
  
  <div class="time view-place-top">
    <div class="p_a_countdown dis-f ">
      <div class="p_a_countdown-area dis-coloum">
        <h4><i class="icon photofont photo-daojishi-shijian icon-size"></i>{{'general.remedy.offer' | t}}</h4>
        <div class="p_a_countdown-box">
          <div class="p_a_countdown-item" style="display:none;">
            <span id="countdown-day-first">0</span>
            <span id="countdown-day-last">0</span>
          </div>
          
          <div class="p_a_countdown-item">
            <span id="countdown-hour-first">0</span>
            <span id="countdown-hour-last">0</span>            
          </div>
          
          <div class="p_a_countdown-item">
            <span id="countdown-minute-first">0</span>
            <span id="countdown-minute-last">0</span>            
          </div>
          
          <div class="p_a_countdown-item">
            <span id="countdown-second-first">0</span>
            <span id="countdown-second-last">0</span>           
          </div>         
        </div>
        <h4> Ends</h4>
      </div>
    </div>
  </div>
  
</div>

{% comment %} adp功能 by Anna 20210223 {%- endcomment -%}
{% if section.settings.is_enbal_adp %}
  {% assign currentUrl = content_for_header | split:'"pageurl":"' | last | split:'"' | first | split:'.myshopify.com' | last | replace:'\/','/' | replace:'%20',' ' | replace:'\u0026','&' %}
  {% assign adp_all = '' %}
  {% if currentUrl contains '?adp=' %}
    {% assign adp_str = currentUrl | split: '?adp=' %}
    {% assign adp_all = adp_str | last | split: '&' | first | replace:",","','" | prepend: "'" | append: "'" %}
    {% comment %}{% assign adp_array = adp_all | split: ',' %}{%- endcomment -%}
    {% assign adp_products =section.settings.adp_products %}
    {% assign adp_products_array = adp_products | split: '|' %}
    {% for product in adp_products_array %}
      {% assign product_array = product | split: ':' %}
      {% assign adp_id = product_array | first | prepend: "'" | append: "'" %}
      {% assign product_id = product_array | last %}
      {% if adp_all contains adp_id %}
      	{% assign adp_all = adp_all | replace:adp_id,product_id %}
      {% endif %}
    {% endfor %}
	{% assign has_adp = false %}
  {% endif %}
{% endif%}

{% for block in section.blocks %}
{% if block.type == 'banner' %}
{% if handle == block.settings.handle %}
<div class="pages-banner benefit-banner">
  <img src="{{ block.settings.pc_image | img_url: 'master' }}" class="pages-banner-pc" />
  <img src="{{ block.settings.mb_image | img_url: 'master' }}" class="pages-banner-mb" />
</div>
{% endif %}
{% endif %}
{% if block.type == 'additional_info' %}
{% assign blockId = block.id %}
{% if handle == block.settings.handle %}
  {% assign style = "block-collection-" | append: section.id | append: forloop.index %}
  {% assign current_collection = collections[block.settings.collection] %}
   <div class="{{style}} block-collection {{block.settings.style}}" data-section-id="{{ section.id }}" >                   
     {% if current_collection.products.size > 0%}
     <div class="uldiv {%if forloop.index==3 %}first {%else%} others {%endif%}">
       {%if block.settings.topsale_img %}
       <div class="topsale"><img src="{{block.settings.topsale_img | img_url:'master'}}" /></div>
       {% endif %}
       <div class="maodian" id="section-{{forloop.index}}"></div>
       {% if block.settings.banner_enable %}         
         <div class="huichang">
          <div class="tittle_img">
            <img src="{{block.settings.pc_banner | img_url: 'master' }}" class="lazyload banner-pc" />
            <img src="{{block.settings.mb_banner | img_url: 'master' }}" class="lazyload banner-mb" />
          </div>    
         </div>
       {% else %} 
       <div class="title title_{{forloop.index}}">
         <div class="title-line"></div>
         <span>{{block.settings.text1}}</span>
       </div> 
       {% endif %}
       {% if block.settings.sub_title %}
          <div class="sub_title">{{block.settings.sub_title}}</div>
       {% endif %}
       <div class="ul-div" >
       <ul class="block-collection-items page-width">  
          {% comment %} adp功能 by Anna 20210223 {%- endcomment -%}
          {% if currentUrl contains '?adp=' %}
            {% if section.settings.is_enbal_adp and has_adp == false %}
              {% assign adp_collection = collections[section.settings.adp_collection] %}
         	  {% comment %}
         	  {% paginate adp_collection.products by 1000 %}
                {% for item in adp_collection.products %}
                  {% if adp_all contains item.id %}
         			<li class="item">{% include 'product-list', product:item  %}</li>
         			{% assign has_adp = true %} 
                  {% endif %}
                {% endfor %}
              {% endpaginate %}
         	  {% endcomment %}
         	  
         	  {% assign adp_all_loop = adp_all | split: "," %}
         	  {% for adp in adp_all_loop %}
                {% assign adp_id = adp | times:1 %}
         		{% paginate adp_collection.products by 1000 %}
                {% assign adp_products = adp_collection.products | where: "id", adp_id %}
         		{% endpaginate %}
                {% if adp_products[0] %}
                  {% assign item = adp_products[0] %}
         		  <li class="item">{% include 'product-list', product:item  %}</li>
         		  {% assign has_adp = true %} 
                {% endif %}
              {% endfor %}
         	  
            {% endif%}
          {% endif%} 
         
         {% for item in current_collection.products limit: block.settings.limit %}    
           {% if section.settings.is_enbal_adp and has_adp == false %}
             {% if adp_all contains item.id %}
                {% continue %}
             {% endif %}
           {% endif%}
           <li class="item">{% include 'product-list', product:item  %}</li>
         {% endfor %}
       </ul>      
     {% endif %}
     
      <div class="tittle_more">
        <a href="/collections/{{block.settings.collection}}" class="viewmore{{forloop.index}}">
          <span>{{ block.settings.more_banner }}</span>
        </a>
      </div>
      <script type="text/javascript">
       //加载更多  
       var LoadMoreCollection{{forloop.index}} = new LoadMore.toLoad(".{{style}} .block-collection-items",{
         view:15,//一开始显示几个
         count:10,//每次加载的数量
         btnHTML:".viewmore{{forloop.index}}",//触发加载的元素
         moreText:"{{'general.social.Show_More_Reviews' | t}}", //按钮文案
         moreEndText:"{{'page.contact.send' |t}}" //全部显示之后按钮的文案
       })
      </script>
       </div>
     </div>
   </div>
<script>
  {% if block.settings.label_sort != blank %}
  $(function(){    
    let labelSort{{forloop.index}} ='{{ block.settings.label_sort }}'.split(",");    
    $(".{{style}} .collection-label").each(function(){
      if($(this).children().length > 0){
        let dataArr =[];
        $(this).children(".tag_span").map(function(i,item){          
          let items = $(this).html(); 
          labelSort{{forloop.index}}.map(function(item,index){            
            if(items == item){              
              dataArr.push(item);
            }
          });
        });
        dataArr.sort((a,b)=>{return labelSort{{forloop.index}}.indexOf(a) - labelSort{{forloop.index}}.indexOf(b);});
        if(dataArr[0] != undefined){
          console.log(dataArr[0]);
          $(this).prepend(`<span class="tag_span_first">`+ dataArr[0] +`</span>`);
        }else{
          $(this).html(``);
        }
      }
    })
  })  
  {% endif %}
</script>
{% endif %}
{% endif %} 
{%endfor%}
{% for block in section.blocks %}
{% if block.type == 'image' %}
{% if handle == block.settings.handle %}
<style>  
.block-collection .title  span:before {
  content: ""; 
  display: block;
  margin: 0 auto;
  background: url({{block.settings.onebg | img_url: 'master' }}) repeat;
  position: absolute;
  top: -16px;
  left: 50%;
  height: 96px;
  width: 145px;
  transform: translateX(-50%);
  z-index: -1;
} 
.block-collection .title_2 span:before {
  position: absolute;
  text-align: center;
  background: url("{{block.settings.iconbg | img_url: 'master' }}") no-repeat;   
}
.block-collection  span{  
  z-index:0;
  position: relative; 
}
.block-collection .uldiv:after{
  position: absolute;
  content: "";
  width: calc(100% - 24px);
  height: calc(100% - 20px);
  display: block;
  top: 10px;
  left: 12px;
  border-radius: 25px; 
  pointer-events: none;    
  background: url(https://jer.imaiyuan.com/skin/frontend/smartwave/default/custom/static/brand/activity/2021-mothers-day-gifts/touying.png) no-repeat;
}
.block-collection .uldiv{ box-shadow: none;z-index: 1;}
  
@media(max-width:768px){
  .block-collection .title span:before{
    transform: translateX(-50%) scale(0.7);
    top: -29px;
  }
}
  </style>
{% endif %}
{% endif %} 
{%endfor%}
<script type="text/javascript">
 
$(function(){  
  if ( $('.p_a_menu').length > 0 ) {
    $(window).scroll(function () {
      var scroll_top = $(window).scrollTop();
      var header_height = $('.mm-header').height();
      var tab_menu_top = $('.p_a_menu').offset().top - header_height;
      if (scroll_top > tab_menu_top) {
        $('.p_a_menu ul').addClass('active');
      } else {
        $('.p_a_menu ul').removeClass('active');
      }
    }); 
  }
  
  $(window).scroll(function(){
    var scrollTop = jQuery(window).scrollTop();
    if(($('.blackfriday-time-pc').offset().top - scrollTop) < $(".menu-nav").height()){
      $('.blackfriday-time-pc').addClass('stick-sub');
      if($(window).width() > 768){
        $('.blackfriday-time-pc.stick-sub .blackfriday-time').css("top",$(".menu-nav").height());
      }else{
        $('.blackfriday-time-pc.stick-sub .direction-top-nav').css("top",$(".header-mb-top header").height());
      };
    }else{
      $('.blackfriday-time-pc').removeClass('stick-sub');
    }    
    jQuery('.maodian').each(function(){
      var juliheight =  jQuery(this).offset().top - scrollTop;
      if(juliheight <= 1 && ( juliheight + jQuery(this).siblings('.ul-div').height()) >= 0 ){
        var oid = "#" + jQuery(this).attr("id");        
        jQuery("a[href='"+oid+"']").parent().addClass("active");
        jQuery("a[href='"+oid+"']").parent().siblings().removeClass("active");
      }
    });
  });
  if(jQuery(window).width() > 768 && jQuery('.m-top-nav-slide').length > 3 ){
    jQuery(".direction-top-nav").addClass("y-swiper");
    let PageNavSwiper = new Swiper(".direction-shade",{
        slidesPerView: 'auto',
        navigation: {
          nextEl: '.swiper-button-next2',
          prevEl: '.swiper-button-next1',
        },
    });
    $(window).on('scroll', function () {
      var index_num = $('.direction-shade .swiper-slide.active').index();
      //console.log(index_num);
      PageNavSwiper.slideTo(index_num, 1000);
    });
  }else if(jQuery(window).width() > 768 && jQuery('.m-top-nav-slide').length <= 3){
    jQuery(".direction-top-nav").addClass("no-swiper");
  }  
  if(jQuery(window).width() < 768 && jQuery('.m-top-nav-slide').length > 1 ){
    jQuery(".direction-top-nav").addClass("y-swiper");
    let PageNavSwiper = new Swiper(".direction-shade",{
        slidesPerView: 'auto',
        navigation: {
          nextEl: '.swiper-button-next2',
          prevEl: '.swiper-button-next1',
        },
    });
    $(window).on('scroll', function () {
      var index_num = $('.direction-shade .swiper-slide.active').index();
      //console.log(index_num);
      PageNavSwiper.slideTo(index_num, 1000);
    });
  }else if(jQuery(window).width() < 768 && jQuery('.m-top-nav-slide').length <= 1){
    jQuery(".direction-top-nav").addClass("no-swiper");
  }   
}); 
function buquan(num,length){
  var numstr = num.toString();
  var l=numstr.length;
  if (numstr.length>=length) {return numstr;}    
  for(var  i = 0 ;i<length - l;i++){
    numstr = "0" + numstr;
  }
  return numstr;
}    
</script> 
{% schema %}
{
	"name": "Block 分会场集合块",
	"max_blocks": 2000,
	"class": "activity-template-collection",
	"settings": [
	   	{
          "type": "paragraph",
          "content": "newactive2019-collection"
        },
        {
          "type":"header",
          "content":"adp"
        },
        {
          "type": "checkbox",
          "id": "is_enbal_adp",
          "label": "开启adp",
          "default": true
        },
        {
          "type": "collection",
          "id": "adp_collection",
          "label": "选择adp产品集合"
        },
        {
          "type": "textarea",
          "id": "adp_products",
          "label": "adp产品ID设置（多个产品|间隔）"
        },
        {
          "type":"color",
          "id":"color_bg",
          "label":"背景颜色",
          "default":"#f7f8f9"
        },
        {
          "type":"color",
          "id":"color_titlesub",
          "label":"副标题颜色",
          "default":"#000"
        },
        {
          "type":"color",
          "id":"color_text",
          "label":"产品名字颜色",
          "default":"#fff"
        },
        {
          "type":"color",
          "id":"color_price",
          "label":"特价颜色",
          "default":"#fff"
        },
        {
          "type":"color",
          "id":"color_priceregular",
          "label":"原价颜色",
          "default":"#8d8d8d"
        },
        {
          "type":"color",
          "id":"color_label_bg",
          "label":"标签背景颜色"
        },
        {
          "type":"color",
          "id":"color_label_color",
          "label":"标签字体颜色",
          "default":"#E81150"
        },
        {
          "type":"color",
          "id":"color_nav_bg",
          "label":"会场导航背景",
          "default":"#E81150"
        },
        {
          "type":"color",
          "id":"color_nav_block",
          "label":"会场导航颜色",
          "default":"#E81150"
        },
        {
          "type":"color",
          "id":"color_nav_hover",
          "label":"会场导航鼠标浮动颜色",
          "default":"#E81150"
        },
        {
          "type":"color",
          "id":"color_nav_text",
          "label":"会场导航文字颜色",
          "default":"#E81150"
        }
	],
    "blocks": [
	  {
		"type": "additional_info",
		"name": "collection",
		"settings": [
          {
            "type": "text",
            "id": "title",
            "label": "哪个活动"
          },
          {
            "type": "text",
            "id": "handle",
            "label": "活动url"
          },
          {
            "type": "text",
            "id": "text1",
            "label": "导航文案&&会场标题"
          },
          {
            "type": "text",
            "id": "sub_title",
            "label": "会场副标题"
          },
          {
            "type": "image_picker",
            "id": "topsale_img",
            "label":"会场背景顶部装饰图"
          },
          {
            "type": "checkbox",
            "id": "bgbanner_enable",
            "label": "开启会场背景"
          },
          {
            "type": "image_picker",
            "id": "bgpc_banner",
            "label":"会场背景"
          },
          {
            "type": "checkbox",
            "id": "banner_enable",
            "label": "开启横幅"
          },
          {
            "type": "image_picker",
            "id": "pc_banner",
            "label":"PC会场标题图片"
          },
          {
            "type": "image_picker",
            "id": "mb_banner",
            "label":"MB会场标题图片"
          },
        
          {
            "type": "checkbox",
            "id": "more_enable",
            "label": "开启more"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "选择集合"
          },
          {
            "type": "range",
            "id": "limit",
            "label": "产品limit总数量",
            "min": 1,
            "max": 80,
            "step": 1,
            "default": 4
          },
          {
            "type": "textarea",
            "id": "label_sort",
            "label": "会场标签排序"
          }
		]
      },
	  {
        "type": "banner",
        "name": "会场banner",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "哪个活动"
          },
          {
            "type": "text",
            "id": "handle",
            "label": "活动url"
          },
          {
            "type": "image_picker",
            "id": "pc_image",
            "label": "PC图片"
          },
          {
            "type": "image_picker",
            "id": "mb_image",
            "label": "MB图片"
          }
        ]
      },
	{
        "type": "image",
        "name": "第一会场的标签和背景",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "哪个活动"
          },
          {
            "type": "text",
            "id": "handle",
            "label": "活动url"
          },
        {
        "type": "image_picker",
        "id": "iconbg",
        "label":"第一会场标题图"
        },
        {
        "type": "image_picker",
        "id": "onebg",
        "label":"场标题图片"
        }
        ]
      }   
    ]
}
{% endschema %}