<style > 
  .home-recommend-view{
    width:100%;
    background: #fff;
    padding: 0 28px;
  }
  .recommend-view{
    max-width: 1372px;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .recommend-view-title{
    font-size:44px;
    line-height:53px;
    color:#222;
    width:100%;
    padding:0 28px;
    text-align:center;
  }
  .recommend-view-text1 {
    font-size:20px;
    line-height:1.5em;
    color:#222;
    text-align:center;
    width:100%;
  }
  .recommend-view-image{
    width:100%;
    margin-top:60px;
  }
  .bottom-box-item{
    width:31.5%;
    margin-left:28px;
    height:500px;
  }
  .recommend-top{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:304px;
  }
  .recommend-top-box-one{
    width:30.08%;
  }
  .radius{
    border-radius: 12px;
  }
  .recommend-top-box-three{
    flex:1;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:5px 31px;
    margin-bottom:29px;
    height:304px;
  }
  .recommend-view-box{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
  }
  .theme-bg{
    background:#F6F6F9
  }
  .theme-color{
    color:#222;
  }
  .top-box-item{
    width: 21.42%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right:28px;
    padding: 5px 0;
    margin-bottom: 29px;
    height:304px;
  }
  .recommend-img{
    width:45.31%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right:68px;
    padding:32px;
  }
  .recommend-img::before {
    display: block;
    padding-top: 100%;
    content: '';
  }
  .top-box-text{
    width: 226px;
  }
  .box-title{
    font-size:20px;
    line-height:32px;
    text-align: center;
  }
  .box-text{
    font-size:16px;
    line-height:32px;
    text-align: center;
  }
  .background-main{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .image-box{
    display:flex;
    align-items: center;
    justify-content: center;
    width:50%;
  }

  .image-box::before {
    display: block;
    padding-top: 100%;
    content: '';
  }
  .recommend-top-box-four{
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding:53px 48px 16px 48px;
    flex:1;
    height: 500px;
  }
  
  .image_pc{
    display:block;
  }
  .image_mb{
    display:none;
  }
  .db-center{
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .bottom-image-box{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:236px;
  }
  .bottom-image-box:nth-of-type(2){
    margin-top:28px
  }
  .image-box-item{
    width: 100%;
    height: 100%;
    padding: 14px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .image-box-item img{
      max-width: 100%;
      max-height: 100%;
  }
  .flex-wrap{
    flex-wrap: wrap;
  }
  .top-box-four {
    margin-top: 30px;
    height: 100%;
    padding-bottom: 20px;
  }
  .top-box-four .image_pc {
      height: 100%;
  }
  .products-link .mm-a-link {
    font-size: 20px;
    display: flex;
    padding: 10px 25px 10px 30px;
  }
  .products-link .mm-a-link span {
  	line-height: 36px;
    display: flex;
  }
  .main-text {
      width: 100%;
      text-align: center;
  }
  .line1 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 28px;
  }
  .line1-items {
      position: relative;
      width: calc((100% - 28px * 2) * (292 / 1372));
      background: #F6F6F9;
      border-radius: 12px;
      margin-right: 28px;
      cursor: pointer;
  }
  .line1-items-content {
      position: absolute;
      left: 32px;
      right: 32px;
      bottom: 32px;
      top: 32px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
  }
  .line1-items:before {
      display: block;
      padding-top: 100%;
      content: '';
  }
  .line1-items-2x {
      background-color: #F6F6F9;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  }
  .line1-items-2x .image-content {
    display: flex;
    height: 100%;
  }
  .line1-items-2x .image-content {
    width: calc(100% * 295 / 728);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .line1-items-2x .line1-text-content {
    width: calc(100% * 300 / 728);
    padding: 0 40px;
  }
  .content-title {
      font-size: 20px;
      color: #222;
      line-height: 32px;
      text-align: center;
    padding: 3px 0;
  }
  .content-description {
      font-size: 16px;
      color: #222;
      line-height: 32px;
      text-align: center;
  }
  .line2 {
    display: flex;
    margin-bottom: 28px;
  }
  .line2-items-2x {
    width: calc(100% * 907 / 1372);
    margin-right: 28px; 
    background: #F6F6F9;
    border-radius: 12px;
  }
  .line2-items-2x::before {
    display: block;
    padding-top: 55%;
    content: '';
  }
  .line2-items-wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
  }
  .line2-items {
      flex: 1;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #F6F6F9;
      border-radius: 12px;
      cursor: pointer;
  }
  .line2-items:first-child {
      margin-bottom: 28px;
  }
  .line2-items-2x {
      position: relative;
      cursor: pointer;
  }
  .line2-items-2x-content {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      padding: 50px 20px 45px;
  }
  .line2-text-content {
      padding-bottom: 30px;
  }
  .line2-image-content {
      flex: 1;
      display: flex; 
      justify-content: space-around;
  }
  .line2-image-content .image-content {
      width: 30%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
  }
  .recommend-text-box {
    max-width: 70%;
  }
  /* 补充 */
  .line-pd-1 {
  	overflow: hidden;
  }
  .line-pd-1 .line-pd-size {
  	transition: all 0.2s cubic-bezier(0.33, 1, 0.68, 1);
  }
  .line-pd-1:hover {
  	background-color: #F1F1F5;
  }
  .line-pd-1:hover .line-pd-size {
    transform: scale(1.05);
  }
  .line2-items-image {
  	width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  @media screen and (min-width: 769px){
    .line1-items-2x{
      flex: 1;
    }
  }
  
  @media screen and (max-width: 768px){
    .home-recommend-view{
      padding:30px 20px 0;
    }
    .recommend-top-box-four{
      height:139px;
      flex-direction: row;
      padding:12px 32px 12px 20px;
    }
    .recommend-text-box{
      width:100%;
      padding: 0;
      max-width: 100%;
    }
    .recommend-view .recommend-view-title {
      font-size:22px;
      line-height:30px;
      padding: 0 0 20px;
    }
    .recommend-view-text1{
      font-size: 16px;
    }
    .recommend-view-text{
      font-size:16px;
      line-height:19px;
      margin-top:14px;
    }
    .recommend-view-image{
      margin-top:27px;
      padding:0 20px;
      width:100%;
    }
    .recommend-view .products-link{
      margin-top: 20px;
    }
    .recommend-view .products-link .mm-a-link{
      font-size: 14px;
      padding: 5px 20px;
    }
    
    .recommend-view-image{
      padding: 0;
    }
    .line1{
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 10px;
    }
    .line1-items{
      width: 45%;
      flex-grow: 1;
      margin: 0;
      height: 150px;
    }
    .line1-items-2x{
      width: 100%;
      justify-content: space-around;
    }
    .line1-items-2x .line1-text-content{
      padding: 0;
      padding: 15px;
      flex-grow: 1;
    }
    .content-title{
      font-size: 16px;
    }
    .content-description{
      font-size: 14px;
    }
    .line2{
      flex-wrap: wrap;
      margin: 0;
      gap: 10px;
    }
    .line2-items-2x{
      width: 100%;
      margin: 0;
    }
    .line2-items-wrapper{
      gap: 10px;
      height: 150px;
      flex-direction: row;
    }
    .line2-items:first-child{
      margin: 0;
    }
    
    .image_pc{
      display:none ;
    }
    .image_mb{
      display:block;
    }
    .top-box-item{
      margin-right: 0px;  
      margin-bottom:10px;
      height: 167px;
      width:48.4%;
      padding: 0px;
      border-radius: 6px;
    }
    .recommend-top-box-three{
      height:139px;
      padding:0px;
      margin-bottom:10px;
    }
    .box-title{
      font-size: 16px;
    }
    .box-text{
      font-size:12px;
      line-height:24px;
      text-align: center;
    }
    .recommend-img{
      width:40.31%;
      margin-right:0px;
    }
    .top-box-text{
      width:160px;
    }
    .flex-column{
      flex-direction: column;
    }
    .bottom-box-item{
      width:100%;
      display:flex;
      align-items: center;
      justify-content: space-between;
      height:167px;
      margin-left:0px;
      margin-top:10px;
    }

    .bottom-image-box:nth-of-type(2){
      margin-top:0px
    }
    .bottom-image-box{
      width:49%;
      border-radius: 6px;
      height:100%;

    }
    .image-box-item{
      width:54%
    }
    .top-box-four{
      width:35%;
      margin-top:0px;
    }
    .main-text{
      width:153px;
    }
  }

</style > 

<div class="recommend-view">
  <div class="recommend-text-box">
    <div class="recommend-view-title alifont_bold">{{section.settings.title}}</div>
    <div class="recommend-view-text1 alifont">{{section.settings.text}}</div>
  </div>
  <div class="products-link">
    <a class="mm-btn mm-btn-primary alifont_bold mm-a-link"  href="{{section.settings.link}}">
      <span class="">{{section.settings.skip-text}} </span>
      {% include 'icon-arrow' %}
    </a>
  </div>
  <div class="recommend-view-image">
    <div class="line1">
        <div class="line1-items line-pd-1">
            <div
                class="line1-items-content line-pd-size"
                style="background-image: url({{ 'home-list-1.png' | asset_url }})"
            ></div>
        </div>
        <div class="line1-items line-pd-1">
            <div
                class="line1-items-content line-pd-size"
                style="background-image: url({{ 'home-list-2.png' | asset_url }})"
            ></div>
        </div>
        <div class="line1-items-2x line-pd-1">
            <div
                class="image-content line-pd-size"
                style="background-image: url({{ 'home-list-3.png' | asset_url }})"
            >
            </div>
            <div class="line1-text-content">
                <div class="content-title alifont_bold">Sell on your terms</div>
                <div class="content-description alifont">You choose the products，sale price，and where to sell</div>
            </div>
        </div>
    </div>
    <div class="line2">
        <div class="line2-items-2x line-pd-1">
            <div class="line2-items-2x-content">
                <div class="line2-text-content">
                    <div class="content-title alifont_bold">Sell on your terms</div>
                    <div class="content-description alifont">You choose the products，sale price，and where to sell</div>
                </div>
                <div class="line2-image-content">
                    <div
                        class="image-content line-pd-size"
                        style="background-image: url({{ 'home-list-6.png' | asset_url }})"
                    ></div>
                    <div
                        class="image-content line-pd-size"
                        style="background-image: url({{ 'home-list-7.png' | asset_url }})"
                    ></div>
                </div>
            </div>
        </div>
        <div class="line2-items-wrapper">
            <div
                class="line2-items line-pd-1"
                 ><div class="line2-items-image line-pd-size" style="background-image: url({{ 'home-list-4.png' | asset_url }})"></div>
            </div>
            <div
                class="line2-items line-pd-1">
              <div class="line2-items-image line-pd-size" style="background-image: url({{ 'home-list-5.png' | asset_url }})"></div>
            </div>
        </div>
    </div>
    {% comment %}
    <div class="recommend-view-box flex-wrap">
      {% for block in section.blocks %}
      {% assign pc_resize = block.settings.product_image_pc.width | append: "x" | append: block.settings.product_image_pc.height %}
      {% if block.settings.image_index =="1" or block.settings.image_index =="2" %}
      <div class="top-box-item theme-bg radius"  >
        <div class="image-box">
          <img src="{{block.settings.product_image_pc | img_url: pc_resize }}"/>
        </div>
      </div>
      {% elsif block.settings.image_index =="3"  %}
      <div class="recommend-top-box-three theme-bg radius" >
        <div class="recommend-img ">
          <img src="{{block.settings.product_image_pc | img_url: pc_resize }}"/>
        </div>
        <div class="top-box-text">
          <div class="box-title theme-color">{{block.settings.title}}</div>
          <div class="box-text theme-color">{{block.settings.describe}}</div>
        </div>
      </div>
      {% endif %}
      {% endfor%}
    </div>
    {% endcomment %}
    {% comment %}
    <div class="recommend-view-box">
      <div class="recommend-top-box-four theme-bg radius">
        {% for block in section.blocks %}
        {% if block.settings.image_index =="4" %}
        {% assign mb_resize = block.settings.product_image_mb.width | append: "x" | append: block.settings.product_image_mb.height %}
        <div class="main-text">
          <div class="box-title theme-color">{{block.settings.title}}</div>
          <div class="box-text theme-color">{{block.settings.describe}}</div>
        </div>
        <div class="top-box-four">
          <img class="image_pc" src="{{block.settings.product_image_pc | img_url: pc_resize }}"/>
          <img class="image_mb" src="{{block.settings.product_image_mb | img_url: mb_resize }}"/>
        </div>
        {% endif %}
        {% endfor%}
      </div>
      <div class="bottom-box-item">
        {% for block in section.blocks %}
        {% if block.settings.image_index =="5" or block.settings.image_index =="6"%}
        <div class="bottom-image-box theme-bg radius">
          <div class="image-box-item">
            <img src="{{block.settings.product_image_pc | img_url: pc_resize }}"/>
          </div>
        </div>
        {% endif %}
        {% endfor%}
      </div>
    </div>
    {% endcomment %}
  </div>
</div>



{% schema %}
{
  "name": "首页 展示推荐预览",
  "class": "home-recommend-view",
  "settings": [
    {
      "type": "text",
      "id": "private",
      "label": "程序参考字段默认勿动",
      "default": "recommend-view"
    },
    {
      "type": "text",
      "id": "skip-text",
      "label": "跳转文案"
    },
    {
      "type": "text",
      "id": "link",
      "label": "跳转链接"
    },
     {
       "type": "text",
        "id": "title",
        "label": "标题 "
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "描述"
      }
  ],
  "blocks": [
    {
      "type": "recommend",
      "name": "每张图片",
      "settings": [
        {
          "type": "text",
          "id": "image_index",
          "label": "图片顺序"
        },
        {
          "type": "image_picker",
          "id": "product_image_pc",
          "label": "PC产品图片"
        },
		{
          "type": "image_picker",
          "id": "product_image_mb",
          "label": "MB产品图片"
        },
        {
          "type": "text",
          "id": "title",
          "label": "标题 "
        },
        {
          "type": "textarea",
          "id": "describe",
          "label": "描述"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "首页 展示推荐预览",
      "category": "Custom"
    }
  ]
}

{% endschema %}