<style>
  .container-slide{
/*  	display:none !important; */
  }
  .login-page,.sign-up-page{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #F6F6F9;
    z-index: 100;
    display:none !important;
  }
  .sign-up-page{
   display:none !important;
  }
  .input-box{
   width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
  }
    .password-box{
  	display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .input-close{
  	width:56px;
    height:56px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top:60px;
    left:60px;
   }
  .input-content{
    width:470px;
    padding:0 50px;
    background: #ffffff;
  }
  .input-content-box{
  	width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .input-content .input-content-box img{
  	margin-bottom:14px;
    height:88px;
    margin-top:50px;
  }
  .input-content-title{
    width:100%;
    color:#222;
    font-size:24px;
    line-height:32px;
    text-align: center;
    margin-bottom:40px;
  }
  .input-box-content {
    width:100%;
    margin-bottom:20px;
  }
  .input-content-box .input-box-content lable{
 	color:#222;
    font-size:14px;
    line-height:16px;
    margin-bottom:10px;
  } 
  .forget-password{
  	color:#6C6888;
    font-size:12px;
    line-height:14px;
    cursor: pointer;
  }
  .wrong-password{
     color:#F9423A;
     font-size:14px;
     line-height:32px;
     display:none;
  }
  .active-password{
    display:block;
  }
  .input-box-content input{
    min-height:56px;
    border-radius: 4px;
    padding: 17px 28px 17px 28px;
    font-size:16px;
    line-height:19px;
  }
  .active-input{
    border:1px solid #F9423A;
  }
  .input-bortton{
    width:100%;
    background:#F6F6F9;
  	color:#222;
    font-size:16px;
    line-height:19px;
    border-radius: 4px;
    margin-top:10px;
    padding:13px 0px;
    text-align: center;
  }
  .input-tips{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    margin-bottom:40px;
  }
  .input-tips-text{
    font-size:13px;
    line-height:32px;
    color:#222;
    margin-top:10px;
  }
  .color-special{
   color:#F9423A;
    margin-left:8px;
  }
  .input-box-content .input-password{
  	padding: 17px 46px 17px 28px;
  }
  .form-box{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .active-none{
  display:none;
  }
  .submit-email{
    background-color:#F9423A;
    border-radius: 4px;
  }
  .form-vertical .new-height{
    height: 56px !important;
  }
  .form-vertical .recover-email{
    padding: 17px 28px 17px 28px !important;
    font-size:16px;
    line-height:19px;
  }
  .form-vertical .submit-email{
     padding: 17px 0 !important;
    font-size:16px;
    line-height:19px;
  }
  .form-vertical .recover-password{
  	padding-bottom:40px !important;
    
  }
  @media(max-width:768px){
    .input-close{
      width:36px;
      height:36px;
      position: absolute;
      top:60px;
      left:60px;
    }
    .input-content{
     padding:0 20px;
  }
    
  }
</style>
{% assign public_logo_resize = section.settings.public_logo.width | append: "x" | append: section.settings.public_logo.height %}
<div class="login-page">
  <div class="input-box">
    <div class="input-close">
      {% include 'icon-login-close'%}
    </div>
    <div class="input-content login-content">
      <div class="input-content-box">
        <img  src="{{section.settings.public_logo | img_url: public_logo_resize }}" />
        <div class="input-content-title">
          {{section.settings.login_title}}
        </div>
        
        
        <div id="CustomerLoginForm{{ include_id }}" class="login-box ">
          <form>
            <div class="input-box-content">
              <lable class="input-title">{{ 'customer.login.email' | t }}</lable>
              <input placeholder="{{section.settings.background_email_text}}" type="email" name="email"/>
            </div>
            <div class="input-box-content">
              <div class="password-box">
                <lable class="input-title">{{ 'customer.login.password' | t }}</lable>
              <!--         忘记密码         -->
                <div id="RecoverPassword" class="forget-password" >{{ 'customer.login.forgot_password' | t }}?</div>
              </div>
              <input placeholder="{{section.settings.background_password_text}}"  value="" class="input-password" type="password" name="password"/>

              <div class="wrong-password">{{section.settings.login_wrong_text}}</div>
            </div>
            <input class="input-bortton" type="submit" class="btn " value="{{section.settings.login_text}}">
          </form>
          <div class="input-tips">
            <span class="input-tips-text">{{section.settings.login_tips_one}}</span>
            <span class="input-tips-text color-special">{{section.settings.login_tips_two}}</span>
          </div>
        </div>
        <!--  重置密码  -->
      <div id="RecoverPasswordForm{{ include_id }}" class="hide recover-password"> 
        <h4>{{ 'customer.recover_password.title' | t }}</h4>
        <p>{{ 'customer.recover_password.subtext' | t }}</p>

        <div class="form-vertical">
          {% form 'recover_customer_password' %} 
            {{ form.errors | default_errors }} 
            {% comment %}
              Add a hidden span to indicate the form was submitted succesfully.
            {% endcomment %}
            {% if form.posted_successfully? %}
              <span class="hide reset-password-success"></span>
            {% endif %}
<!--   取消         -->
            <label for="RecoverEmail" class=" label--hidden">{{ 'customer.recover_password.email' | t }}</label>
            <input class="recover-email new-height" type="email" value="" name="email" id="RecoverEmail{{ include_id }}" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off" style="height: 40px; padding: 1rem 0.3rem;">
           
             <p><input type="submit" class="btn submit-email" value="{{ 'customer.recover_password.submit' | t }}"></p>
            <button type="button" id="HideRecoverPasswordLink{{ include_id }}" class="btn cancel_text-link">{{ 'customer.recover_password.cancel' | t }}</button>
          {% endform %}
        </div>
      </div>

      </div>
    </div>
  </div>
</div>


<script>
      // 
function recoverPasswordFormToggle() {
    $('#RecoverPasswordForm{{ include_id }}').toggleClass('hide');
    $('#CustomerLoginForm{{ include_id }}').toggleClass('hide');
}
$('#RecoverPassword{{ include_id }}').on('click', function(e) {
  e.preventDefault();
  recoverPasswordFormToggle{{ include_id }}();
      
});

$('#HideRecoverPasswordLink{{ include_id }}').on('click', function(e) {
  e.preventDefault();
  recoverPasswordFormToggle{{ include_id }}();
});
</script>