<style>

  html{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .search-container,.login_block{
    display:none;
  }
  .container-slide{
    display:none !important;
  }
  .from-box{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #F6F6F9;
    z-index: 1000;
  }
  .account-container,.account__templates{
    display:none!important;
  }
  .input-box{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
  }
  .password-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .input-close{
    width:56px;
    height:56px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top:60px;
    left:60px;
    cursor:pointer;
  }
  .input-content{
    width:470px;
    padding:0 28px;
    background: #ffffff;
    height:614px;
  }
  .input-content-box{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .input-content .input-content-box img{
    margin-bottom:14px;
    height:88px;
    margin-top:50px;
  }
  .input-content-title{
    width:100%;
    color:#222;
    font-size:24px;
    line-height:32px;
    text-align: center;
    margin-bottom:40px;
  }
  .input-box-content {
    width:100%;
    position: relative;
  }

  .input-box-content:nth-of-type(1){
    margin-bottom:20px;
  }
  .input-content-box .input-box-content lable{
    color:#222;
    font-size:14px;
    line-height:16px;
    margin-bottom:6px;
  } 
  .forget-password{
    color:#6C6888;
    font-size:12px;
    line-height:14px;
    cursor: pointer;
  }
  .errors{
    color:#F9423A;
    font-size:14px;
    line-height:32px;
    background: #ffffff;
    padding: 0;
    font-size: 14px;
    line-height: 32px;
    margin-bottom:0px;
    font-family: alibaba-sans,sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .wrong-password{
    color:#F9423A;   
    font-size: 14px;
    line-height: 32px;
  }

  .active-password{
    display:block;
  }
  .input-box-content  input{
    height:56px;
    border-radius: 4px;
    padding: 17px 28px 17px 28px;
    font-size:16px;
    line-height:19px;
    margin-bottom:0px;
    background: #ffffff;
    margin-top:6px;
  }
  .input-botton{
    width:100%;
    background:#F6F6F9;
    color:rgba(146,143,165,0.5);
    font-size:16px;
    line-height:19px;
    border-radius: 4px;
    margin-top:40px;
    padding:13px 0px;
    text-align: center;
    border-width:0px !important;
    cursor: pointer
  }
  .input-botton-top{
    margin-top:32px;
  }
  .customer_login{
    position: relative;
  }
  .input-tips{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    margin-bottom:40px;
  }
  .input-tips-text{
    font-size:13px;
    line-height:32px;
    color:#222;
    margin-top:10px;

  }
  .color-special{
    color:#F9423A;
    margin-left:8px;
    cursor: pointer;
  }
  .input-box-content .input-password{
    padding: 17px 46px 17px 28px;
  }
   .input-box-content:nth-of-type(1){
     margin-bottom:20px;
  }
  .form-box{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .oblique-line{
    width:30px;
    height:2px;
    border-bottom:1px solid #6C6888;
    position:absolute;
    right:10px;
    top: 31%;
    transform: rotateZ(43deg) translate(7px, -50%);
    background: #fff;
    display:none;
  }
  .submit-email{
    background-color:#F6F6F9;
    border-radius: 4px;
    padding: 14px 0 !important;
    font-size:16px;
    line-height:19px;
    border-radius: 4px !important;
    color: rgba(146,143,165,0.5);
    margin-top: 32px;
    text-transform: none;
  }
  .form-vertical .new-height{
    height: 56px !important;
  }
  .form-vertical .cancel_text-link{
    padding: 14px 0 !important;
    font-size:16px;
    line-height:19px;
    border-radius: 4px !important;
    text-transform: capitalize;
    background: #F9423A;
  }
  .form-vertical .recover-email{
    padding: 17px 28px 17px 28px !important;
    font-size:16px;
    line-height:19px;
    border-radius: 4px !important;
    background-color:#ffffff;
  }
  .recover-password{
    padding-bottom:40px !important;
    border-radius: 4px;
    width:100%;
    color: #222;
    text-align: center;
  }
  .recover-password p{
    text-align: center;
  }
  .recover-password-title{
    color: #222;
    font-size:24px;
    line-height:32px; 
    margin-bottom: 40px;
    display: block;
  }
  .login-box{
    width:100%;
  }
  .icon-password-eye-open{
    position:absolute;
    right:10px;
    top:16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input-password-box {
    position: relative;
    width:100%;
  }
  .input-password-box input{
    margin-bottom:0px;
  }
  @media(max-width:768px){
    .input-close{
      width:36px;
      height:36px;
      position: absolute;
      top:10px;
      left:10px;
    }
    .input-content{
      padding:0 20px;
    }
    .login-page{
      background: #ffffff;
    }

  }
  .color-active{
    background:#F9423A;
    color:#fff;
  }
  .active-border{
    width:100%;
    height:100%;
/*     position: absolute; */
    border:2px solid #F9423A !important;
  }
  .active-block{
    display:block;
  }
  .active-none{
    display:none;
  }
</style>
{% assign public_logo_resize = section.settings.public_logo.width | append: "x" | append: section.settings.public_logo.height %}
<div class="login-page from-box">
  <div class="input-box">
    <div class="input-close">
      {% include 'icon-login-close'%}
    </div>
    <div class="input-content login-content">
      <div class="input-content-box">
        <img  src="{{section.settings.public_logo | img_url: public_logo_resize }}" />
        <div class="input-content-title alifont_heavy">
          {{section.settings.login_title}}
        </div>

        <div id="CustomerLoginForm{{ include_id }}" class="login-box">
          {% assign customer_from_id = 'customer_login' | append: include_id %}
          {% form 'customer_login',class:"customer_login", id:customer_from_id %} 
          {{ form.errors | default_errors }} 
          <div class="input-box-content text-font-family">
            <lable class="input-title alifont_heavy">{{ 'customer.login.email' | t }}</lable>
            <input class="email-number alifont" placeholder="{{section.settings.background_email_text}}" type="email" name="customer[email]"/>
          </div>
          <div class="input-box-content">

            <div class="password-box ">
              <lable class="input-title alifont_bold">{{ 'customer.login.password' | t }}</lable>
              <!--         忘记密码         -->
              <div id="RecoverPassword"  class="forget-password alifont" > {{ 'customer.login.forgot_password' | t }}?</div>
            </div>

            {% if form.password_needed %}
            <!--       密码          -->
            <div class="input-password-box alifont_bold">
              <input placeholder="{{section.settings.login_background_password}}"  value="" class="input-password alifont" type="password" name="customer[password]"/>
              <div class="icon-password-eye-open"> 
                <div class="oblique-line"></div>
                {% include 'icon-password-eye-open'%} 
              </div>
            </div> 
            {% endif %}
          </div>
          <!--      提交    -->
          <input class="input-botton alifont_bold  mm-btn mm-btn-primary" type="submit" class="btn " value="{{section.settings.login_text}}">
          {% endform %}

          <div class="input-tips">
            <span class="input-tips-text alifont">{{section.settings.login_tips_one}}</span>
            <span  class="input-tips-text color-special alifont_bold">{{section.settings.login_tips_two}}</span>
          </div>
        </div>
        <!--  重置密码  -->
        <div id="RecoverPasswordForm{{ include_id }}" class="hide recover-password"> 
          <span class="recover-password-title alifont_heavy">{{ 'customer.recover_password.title' | t }}</span>
          <p class="alifont">{{ 'customer.recover_password.subtext' | t }}</p>

          <div class="form-vertical">
            {% form 'recover_customer_password' %} 
            {% if form.posted_successfully? %}
            <span class="hide reset-password-success"></span>
            {% endif %}
            <!--   取消    -->     
            <label for="RecoverEmail" class=" label--hidden">{{ 'customer.recover_password.email' | t }}</label>
            <input class="recover-email new-height" type="email" value="" name="email" id="RecoverEmail{{ include_id }}" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off" style="height: 40px; padding: 1rem 0.3rem;">
           
            <!--          提交  	  -->
            {{ form.errors | default_errors }} 
            <p><input type="submit" class="btn submit-email alifont_bold" value="{{ 'customer.recover_password.submit' | t }}"></p>
            <!--  <button type="button" id="HideRecoverPasswordLink{{ include_id }}" class="btn cancel_text-link alifont_bold">{{ 'customer.recover_password.cancel' | t }}</button>
              -->
     {% endform %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  //显示重置密码
  function showResetPassword(){
    $('.input-content-title').addClass('active-none')
    $('.recover-password').removeClass('hide')
    $('.login-box').addClass('active-none')
  }
  //隐藏重置密码
  function hideResetPassword(){
    $('.recover-password').addClass('hide')
    $('.login-box').removeClass('active-none')
    $('.input-content-title').removeClass('active-none')
    $('.recover-email').val('')
  }
  if(window.location.href.indexOf('login#recover')>-1){
    showResetPassword()
  }else{
    hideResetPassword()
  }

  //显示登录
  //   if(window.location.href.indexOf('login')===-1&&window.location.href.indexOf('register')===-1){
  //     $('.from-box').addClass('page-none')
  //   }else{
  //     $('.from-box').removeClass('page-none')
  //     if(window.location.href.indexOf('login')>-1){
  //       $('.sign-up-page').addClass('active-none')
  //       $('.login-page').addClass('active-block')
  //     }
  //   }

  //改变提交框的样式
//   if($('.login-box #customer_login').find('.errors').length>0){
//     $('.input-botton').addClass('input-botton-top')
//   } else{
//     $('.input-botton').removeClass('input-botton-top')
//   }
  
  if($('.login-box #customer_login').find('.errors').length>0){
    $('.login-box #customer_login').find('.errors').addClass('alifont')
  } 



  // 点击眼睛
  $('.login-box .icon-password-eye-open').on('mouseup',function(){
    $('.login-box .icon-password-eye-open').find('.oblique-line').toggleClass('active-block')
    if($(".login-box .input-password").attr("type")==="text"){

      $('.login-box .input-password').attr("type","password");
    }else{
      $('.login-box .input-password').attr("type","text");
    }
  })

  //提交框的样式变化
  function renderLoginInputColor(emailValue,passwordValue) {
    if(emailValue!==''&&passwordValue!==''){
      $('.login-box .input-botton').addClass('color-active') 
      return true
    }else{
      $('.login-box .input-botton').removeClass('color-active')
      return false
    }
  }

  renderLoginInputColor($('.email-number').val(),$('.input-password').val())

  // 监听值输入
  $('.email-number').on('input',function(e){
    renderLoginInputColor(e.target.value,$('.input-password').val())
  })
  $('.login-box .input-password').on('input',function(e){
    renderLoginInputColor(e.target.value,$('.email-number').val())
  })

  //提交重置密码
  $('.recover-password .recover-email').on('input',function(e){
    if(e.target.value!==''){
      $('.submit-email').addClass('color-active') 
    }else{
      $('.submit-email').removeClass('color-active')
    }
  })

  //显示重置密码
  $('#RecoverPassword').on('click',function(){
    showResetPassword()
  })

  //取消重置密码
//   $('.cancel_text-link').on('click',function(){
//     hideResetPassword()
//   })


  //获得焦点
  $('.email-number').on('focus',function(){
    $('.email-number').addClass('active-border')	
  })
  
  $('.login-box .input-password').on('focus',function(){
    $('.login-box .input-password').addClass('active-border')	
  })

  $('.recover-password .recover-email').on('focus',function(){
    $('.recover-password .recover-email').addClass('active-border')	
  })

  // 失去焦点
  $('.email-number').on('blur',function(){
    $('.email-number').removeClass('active-border')	
  })
  $('.login-box .input-password').on('blur',function(){
    $('.login-box .input-password').removeClass('active-border')	
  })
  $('.recover-password .recover-email').on('blur',function(){
    $('.recover-password .recover-email').removeClass('active-border')	
  })
  
  //去注册
  $('.login-box .color-special').on('click',function(){
      window.location.replace('/account/register')
    
  })

  //关闭登录页面
  $('.input-box .input-close').on('click',function(){
     window.history.back()
  })

  {% if form.errors %}
  if (window.location.pathname == '/account/register'){
    window.localStorage.setItem('account-magento-register-error', '{{ form.errors | default_errors }}')
//      $('.sign-up-page').addClass('active-block')
    $('.login-page').addClass('active-none')
  }
  {% endif %}

  function register(info, form) {
    var params = {
      form_type: 'create_customer',
      utf8: '✓',
      customer: {
        tags: info.gender == 1 ? 'Mr.' : 'Miss.',
        first_name: "default",
        last_name: "default",
        email: info.email,
        password: info.password
      }
    }
    console.log('Shopify Register', params)
    //注册
    $.post("/register", params, function(response) {
      var tokenRegex = /<div\s+class="errors">(.*?)<\/div>/;
      var regexResult = tokenRegex.exec(response)
      console.log(regexResult)
      if (regexResult != null && regexResult.length == 2 && regexResult[1].length > 10){
        form.prepend(regexResult[0])
      }else{
        window.location.href = '/account';
      }
    });
  }

  function login(info, form) {
    var params = {
      form_type: 'customer_login',
      utf8: '✓',
      customer: {
        email: info.email,
        password: info.password
      }
    }
    console.log('Shopify Login', params);
    $.post("/account/login", params, function(response) {
      var resultHtml = $(response).find('#CustomerLoginForm').html();
      if (typeof(resultHtml) == 'undefined') {
        console.log('Login Success');
        window.location.href = '/account';
      }else{
        $('#CustomerLoginForm').html(resultHtml)
      }
    });
  }

  //登录
  function doLogin(form) {
    var email = form.find('[name="customer[email]"]').val();
    var password = aes.encrypt(form.find('[name="customer[password]"]').val());
    /*if (email!='habit_shine@163.com'){
      alert('Habit 在测试，请勿占用资源！')
      return false;
    }*/
    $.ajax({
      type: "POST",
      cache: false,
      dataType: 'json',
      url: "https://app-p1.imaiyuan.com/shopify/login",

      data: {
        "email": email,
        "password": password,
        "shopifyBaseUri": "https://mysoufeel.myshopify.com"
      },
      success: function(res){
        console.log('res',res)
        if (res.code == 0 && res.error == 0){
          var result = res.response;
          console.log('isShopifyUser', result.isShopifyUser)
          console.log('isMagentoUser', result.isMagentoUser)
          if (result.isShopifyUser === true){
            form.submit();
          }else if (result.isMagentoUser === true){
            register({
              email,
              password: aes.decrypt(password),
              ...res.response.customerInfo
            }, form);
          }
          window.history.back()
        }
        else{
          form.find('.errors').remove();
          form.prepend('<div class="errors"><ul><li>'+ res.response+'</li></ul></div>')
        }
      }
    });
  }
  
  //$('.email-number').val(),$('.input-password').val()
  
  $('.login-box .input-botton').on('click',function(){
		console.log($('.email-number').val(),$('.input-password').val())
        if($('.email-number').val()!==''&&$('.input-password').val()!==''&&$('#customer_login').attr('action') == '/account/login'){
           doLogin($('#customer_login'));
        }else{
         return false;
        }
   
  })




</script>
{% schema %}
 {
  "name": "登录配置",
  "settings": [
    {
      "type": "image_picker",
      "id": "public_logo",
      "label": "登录的logo"
    },
    {
      "type": "text",
      "id": "background_email_text",
      "label": "登录的email背景字",
      "default": "Work e-mail"
    },
    {
      "type": "text",
      "id": "login_background_password",
      "label": "登录密码背景字",
      "default": "Enter a password"
    },
    {
      "type": "text",
      "id": "login_title",
      "label": "登录的标题",
      "default": "Welcome back"
    },
    {
      "type": "text",
      "id": "login_text",
      "label": "登录按钮文案",
      "default": "Sign in"
    },
    {
      "type": "text",
      "id": "login_tips_one",
      "label": "登录底部提示1",
      "default": "New to MadeMine?"
    },
    {
      "type": "text",
      "id": "login_tips_two",
      "label": "登录底部提示2",
      "default": "Sign up"
    }
  ]
}
{% endschema %}