{% assign current_variant = product.selected_or_first_available_variant %}
<style>
.product-page-infos-section .product-infos__line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
}
.product-page-infos-section .product-infos__line .review {

}
.product-page-infos-section .product-infos__line .review .star-content {
    padding-right: 15px;
}
.product-page-infos-section .product-infos__line .review .review-count {
    font-size: 14px;
    color: #928FA5;
}
.product-page-infos-section .product-infos__line .sku {
    font-size: 14px;
    color: #928FA5;
}


.product-page-infos-section .product-infos__name h1 {
  font-size: 32px;
  font-weight: bold;
  line-height: 48px;
  color: #222;
}
.product-page-infos-section .product-infos__price {
  padding-top: 25px;
  border-top: 1px solid #eee;
}
.product-page-infos-section .yotpo .pull-left{
  text-align:right;
  float: unset;
  justify-content: flex-end;
}
/*  判断sku为SPXH690A 隐藏 shipping和guide   2020/04/24 by zerlmin */
  
{% if current_variant.sku == 'SPXH690A' %}
.product-page-add_to_cart-section .select-option .product-size{display:none!important;}
.description-tabs .description_tabs_hidden{display:none!important;}
{% endif %}
@media(max-width:768px){
  .product-page-infos-section {
    padding: 0px;
  }
  .product-page-infos-section .product-infos__name h1 {
    font-size: 24px;
    line-height: 32px;
  }
  .product-page-infos-section .product-infos__line {
    padding: 14px 0;
  }
  .product-page-infos-section .product-infos__line .review-count {
    display: none;
  }
}
</style>
{% assign productTags = product.tags | join:',' %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign variantSkuId = "VariantSku" | append: section.id %}
<div class="product-infos__name">
    <h1 itemprop="name" class="alifont_bold">{{product.title}}</h1>
</div>
<div class="product-infos__line">
    <div class="review">
        <span class="star-content">
            <svg width="18px" height="17px" viewBox="0 0 18 17">
                <g id="star" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path d="M14.0374858,11.4427888 L14.8383327,15.8445496 C14.9013206,16.2203097 14.7483499,16.5960698 14.4334101,16.8107898 C14.1255948,17.0341616 13.7161416,17.0619978 13.3806114,16.8823632 L9.39437346,14.8156828 C9.25537658,14.7430725 9.10142453,14.7032745 8.94445949,14.6993761 L8.70150594,14.6993761 C8.61638085,14.7117673 8.53413008,14.739027 8.45855238,14.7798961 L4.47231449,16.8555232 C4.27435233,16.9539365 4.04939535,16.9897232 3.83343662,16.9539365 C3.30052725,16.8541452 2.94505439,16.3498068 3.03258974,15.8177096 L3.83343662,11.4159488 C3.88648287,11.0945304 3.77909183,10.7675317 3.54549168,10.5391753 L0.297112706,7.40784138 C0.0271643157,7.13944133 -0.0718167538,6.75473459 0.0541591547,6.39686785 C0.171136798,6.04794778 0.477078293,5.78849441 0.85500606,5.72586772 L5.32715105,5.0817076 C5.66908568,5.04592092 5.96602891,4.84014756 6.11899967,4.53596085 L8.08962292,0.51890675 C8.13461432,0.429440059 8.19760228,0.348920044 8.26958851,0.277346705 L8.35057303,0.21472004 C8.38656615,0.169986705 8.44055583,0.134200025 8.49454551,0.0984133447 L8.59352658,0.0626266644 L8.74649733,0 L9.12442507,0 C9.46635969,0.0357866803 9.76330292,0.241560045 9.91627369,0.5368001 L11.9138918,4.53596085 C12.0578643,4.8312009 12.3368109,5.02802761 12.660749,5.0817076 L17.132894,5.72586772 C17.5108217,5.77954773 17.8257615,6.03900111 17.9517374,6.39686785 C18.0687151,6.75473459 17.969734,7.14838799 17.6907873,7.40784138 L14.3254307,10.574962 C14.0914755,10.7986287 13.9834961,11.1296554 14.0374858,11.4427888 Z" id="路径" fill="#FEB900" fill-rule="nonzero"></path>
                </g>
            </svg>
            <svg width="18px" height="17px" viewBox="0 0 18 17">
                <g id="star" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path d="M14.0374858,11.4427888 L14.8383327,15.8445496 C14.9013206,16.2203097 14.7483499,16.5960698 14.4334101,16.8107898 C14.1255948,17.0341616 13.7161416,17.0619978 13.3806114,16.8823632 L9.39437346,14.8156828 C9.25537658,14.7430725 9.10142453,14.7032745 8.94445949,14.6993761 L8.70150594,14.6993761 C8.61638085,14.7117673 8.53413008,14.739027 8.45855238,14.7798961 L4.47231449,16.8555232 C4.27435233,16.9539365 4.04939535,16.9897232 3.83343662,16.9539365 C3.30052725,16.8541452 2.94505439,16.3498068 3.03258974,15.8177096 L3.83343662,11.4159488 C3.88648287,11.0945304 3.77909183,10.7675317 3.54549168,10.5391753 L0.297112706,7.40784138 C0.0271643157,7.13944133 -0.0718167538,6.75473459 0.0541591547,6.39686785 C0.171136798,6.04794778 0.477078293,5.78849441 0.85500606,5.72586772 L5.32715105,5.0817076 C5.66908568,5.04592092 5.96602891,4.84014756 6.11899967,4.53596085 L8.08962292,0.51890675 C8.13461432,0.429440059 8.19760228,0.348920044 8.26958851,0.277346705 L8.35057303,0.21472004 C8.38656615,0.169986705 8.44055583,0.134200025 8.49454551,0.0984133447 L8.59352658,0.0626266644 L8.74649733,0 L9.12442507,0 C9.46635969,0.0357866803 9.76330292,0.241560045 9.91627369,0.5368001 L11.9138918,4.53596085 C12.0578643,4.8312009 12.3368109,5.02802761 12.660749,5.0817076 L17.132894,5.72586772 C17.5108217,5.77954773 17.8257615,6.03900111 17.9517374,6.39686785 C18.0687151,6.75473459 17.969734,7.14838799 17.6907873,7.40784138 L14.3254307,10.574962 C14.0914755,10.7986287 13.9834961,11.1296554 14.0374858,11.4427888 Z" id="路径" fill="#FEB900" fill-rule="nonzero"></path>
                </g>
            </svg>
            <svg width="18px" height="17px" viewBox="0 0 18 17">
                <g id="star" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path d="M14.0374858,11.4427888 L14.8383327,15.8445496 C14.9013206,16.2203097 14.7483499,16.5960698 14.4334101,16.8107898 C14.1255948,17.0341616 13.7161416,17.0619978 13.3806114,16.8823632 L9.39437346,14.8156828 C9.25537658,14.7430725 9.10142453,14.7032745 8.94445949,14.6993761 L8.70150594,14.6993761 C8.61638085,14.7117673 8.53413008,14.739027 8.45855238,14.7798961 L4.47231449,16.8555232 C4.27435233,16.9539365 4.04939535,16.9897232 3.83343662,16.9539365 C3.30052725,16.8541452 2.94505439,16.3498068 3.03258974,15.8177096 L3.83343662,11.4159488 C3.88648287,11.0945304 3.77909183,10.7675317 3.54549168,10.5391753 L0.297112706,7.40784138 C0.0271643157,7.13944133 -0.0718167538,6.75473459 0.0541591547,6.39686785 C0.171136798,6.04794778 0.477078293,5.78849441 0.85500606,5.72586772 L5.32715105,5.0817076 C5.66908568,5.04592092 5.96602891,4.84014756 6.11899967,4.53596085 L8.08962292,0.51890675 C8.13461432,0.429440059 8.19760228,0.348920044 8.26958851,0.277346705 L8.35057303,0.21472004 C8.38656615,0.169986705 8.44055583,0.134200025 8.49454551,0.0984133447 L8.59352658,0.0626266644 L8.74649733,0 L9.12442507,0 C9.46635969,0.0357866803 9.76330292,0.241560045 9.91627369,0.5368001 L11.9138918,4.53596085 C12.0578643,4.8312009 12.3368109,5.02802761 12.660749,5.0817076 L17.132894,5.72586772 C17.5108217,5.77954773 17.8257615,6.03900111 17.9517374,6.39686785 C18.0687151,6.75473459 17.969734,7.14838799 17.6907873,7.40784138 L14.3254307,10.574962 C14.0914755,10.7986287 13.9834961,11.1296554 14.0374858,11.4427888 Z" id="路径" fill="#FEB900" fill-rule="nonzero"></path>
                </g>
            </svg>
            <svg width="18px" height="17px" viewBox="0 0 18 17">
                <g id="star" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path d="M14.0374858,11.4427888 L14.8383327,15.8445496 C14.9013206,16.2203097 14.7483499,16.5960698 14.4334101,16.8107898 C14.1255948,17.0341616 13.7161416,17.0619978 13.3806114,16.8823632 L9.39437346,14.8156828 C9.25537658,14.7430725 9.10142453,14.7032745 8.94445949,14.6993761 L8.70150594,14.6993761 C8.61638085,14.7117673 8.53413008,14.739027 8.45855238,14.7798961 L4.47231449,16.8555232 C4.27435233,16.9539365 4.04939535,16.9897232 3.83343662,16.9539365 C3.30052725,16.8541452 2.94505439,16.3498068 3.03258974,15.8177096 L3.83343662,11.4159488 C3.88648287,11.0945304 3.77909183,10.7675317 3.54549168,10.5391753 L0.297112706,7.40784138 C0.0271643157,7.13944133 -0.0718167538,6.75473459 0.0541591547,6.39686785 C0.171136798,6.04794778 0.477078293,5.78849441 0.85500606,5.72586772 L5.32715105,5.0817076 C5.66908568,5.04592092 5.96602891,4.84014756 6.11899967,4.53596085 L8.08962292,0.51890675 C8.13461432,0.429440059 8.19760228,0.348920044 8.26958851,0.277346705 L8.35057303,0.21472004 C8.38656615,0.169986705 8.44055583,0.134200025 8.49454551,0.0984133447 L8.59352658,0.0626266644 L8.74649733,0 L9.12442507,0 C9.46635969,0.0357866803 9.76330292,0.241560045 9.91627369,0.5368001 L11.9138918,4.53596085 C12.0578643,4.8312009 12.3368109,5.02802761 12.660749,5.0817076 L17.132894,5.72586772 C17.5108217,5.77954773 17.8257615,6.03900111 17.9517374,6.39686785 C18.0687151,6.75473459 17.969734,7.14838799 17.6907873,7.40784138 L14.3254307,10.574962 C14.0914755,10.7986287 13.9834961,11.1296554 14.0374858,11.4427888 Z" id="路径" fill="#FEB900" fill-rule="nonzero"></path>
                </g>
            </svg>
            <svg width="18px" height="17px" viewBox="0 0 18 17">
                <g id="star" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path d="M14.0374858,11.4427888 L14.8383327,15.8445496 C14.9013206,16.2203097 14.7483499,16.5960698 14.4334101,16.8107898 C14.1255948,17.0341616 13.7161416,17.0619978 13.3806114,16.8823632 L9.39437346,14.8156828 C9.25537658,14.7430725 9.10142453,14.7032745 8.94445949,14.6993761 L8.70150594,14.6993761 C8.61638085,14.7117673 8.53413008,14.739027 8.45855238,14.7798961 L4.47231449,16.8555232 C4.27435233,16.9539365 4.04939535,16.9897232 3.83343662,16.9539365 C3.30052725,16.8541452 2.94505439,16.3498068 3.03258974,15.8177096 L3.83343662,11.4159488 C3.88648287,11.0945304 3.77909183,10.7675317 3.54549168,10.5391753 L0.297112706,7.40784138 C0.0271643157,7.13944133 -0.0718167538,6.75473459 0.0541591547,6.39686785 C0.171136798,6.04794778 0.477078293,5.78849441 0.85500606,5.72586772 L5.32715105,5.0817076 C5.66908568,5.04592092 5.96602891,4.84014756 6.11899967,4.53596085 L8.08962292,0.51890675 C8.13461432,0.429440059 8.19760228,0.348920044 8.26958851,0.277346705 L8.35057303,0.21472004 C8.38656615,0.169986705 8.44055583,0.134200025 8.49454551,0.0984133447 L8.59352658,0.0626266644 L8.74649733,0 L9.12442507,0 C9.46635969,0.0357866803 9.76330292,0.241560045 9.91627369,0.5368001 L11.9138918,4.53596085 C12.0578643,4.8312009 12.3368109,5.02802761 12.660749,5.0817076 L17.132894,5.72586772 C17.5108217,5.77954773 17.8257615,6.03900111 17.9517374,6.39686785 C18.0687151,6.75473459 17.969734,7.14838799 17.6907873,7.40784138 L14.3254307,10.574962 C14.0914755,10.7986287 13.9834961,11.1296554 14.0374858,11.4427888 Z" id="路径" fill="#FEB900" fill-rule="nonzero"></path>
                </g>
            </svg>
        </span>
        <span class="review-count alifont">20889 Reviews</span>
    </div>
    <div class="sku">
        {{ 'product.infos.sku' | t }} : <span id="{{variantSkuId}}" class="variant-sku alifont">{{settings.sku_prefix}}{{ current_variant.sku }}</span>
    </div>
    {% comment %} <div class="col-sm-6 text-right">
      <a href="#my-review-main" class="common-review-wrapper-style">
        <div class="my-review-goods-list" data-product-id="{{ product.selected_or_first_available_variant.sku }}"></div>
      </a>
    {% if productTags contains "custom-review" %}
      <div class="yotpo bottomLine" data-product-id="{{ product.selected_or_first_available_variant.sku }}"></div>
    {% endif %}
    </div> {% endcomment %}
</div>

<script>
// select 更改SKU
Listener.on([ Listener.product.update.before ], function(event, variant) { 
  $('#{{variantSkuId}}').html(variant.sku);
});
</script>

{% schema %}
{
  "class": "product-page-infos-section",
  "name": "产品页 - 标题区域",
  "settings": [
    {
      "type": "paragraph",
      "content":"product-page-infos"
    }
  ]
}
{% endschema %}