<style>
   .password-box{
  	display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tips_policy{
  	text-align: center;
    width:100%;
    padding:  20px 0px;
    border-top:1px solid #F6F6F9;
    color:#6C6888;
  }
  .input-password-box{
   width:100%;
   position: relative; 
  }
  .icon-password-eye-open{
   position:absolute;
   right:10px;
   top:50%;
   transform: translate(0px, -50%); 
  }
  .oblique-line{
    width:30px;
    height:2px;
    border-bottom:1px solid #6C6888;
    position:absolute;
    right:10px;
    top: 31%;
    transform: rotateZ(43deg) translate(7px, -50%);
    background: #fff;
    display:none;
  }
  .active-line{
  display:block;
  }
</style> 

{% assign public_logo_resize = section.settings.public_logo.width | append: "x" | append: section.settings.public_logo.height %}
<div class="sign-up-page">
  <div class="input-box">
  <div class="input-close">
    {% include 'icon-login-close'%}
  </div>
  <div class="input-content sign-up-content">
    <div class="input-content-box">
      <img  src="{{section.settings.public_logo | img_url: public_logo_resize }}" />
      <div class="input-content-title">
        {{section.settings.sign_up_title}}
      </div>
       <form>
        <div class="input-box-content">
          <lable class="input-title">{{ 'customer.login.email' | t }}</lable>
          <input placeholder="{{section.settings.background_email_text}}" type="email" name="email"/>
        </div>
        <div class="input-box-content">
          <lable class="input-title">{{ 'customer.login.password' | t }}</lable>
          <div class="input-password-box">
            <input placeholder="{{section.settings.background_password_text}}" class="input-password" type="password" name="password"/>
            <div class="icon-password-eye-open"> 
              <div class="oblique-line"></div>
              {% include 'icon-password-eye-open'%} 
            </div>
          </div>
        </div>
        <input class="input-bortton" type="submit" value="{{section.settings.sign_up_text}}" class="btn">
      </form>
<!--       <botton class="input-bortton"></botton> -->
      <div class="input-tips">
        <span class="input-tips-text">{{section.settings.sign_up_tips_one}}</span>
        <span class="input-tips-text color-special">{{section.settings.sign_up_tips_two}}</span>
      </div>
    </div>
    <div class="tips_policy">{{section.settings.sign_up_tips_policy}}</div>
  </div>
  </div>
</div>


<script>
  
</script>