{% layout none %}<?xml version="1.0"?>
<rss xmlns:g="http://base.google.com/ns/1.0" version="2.0">
 
{% assign useSEOtitle = true %}
{% assign useSEOdescription = true %}
  
  {{collection.title}}
{% assign data = collection.title | split:' ' %} 

<channel>
<title>{{ shop.name }}</title>
<link>{{ shop.url }}</link>
<description>{{ collection.description | strip_html | strip_newlines | replace: '&', '&amp;' }}</description>
{% for category in collections %}
{% if category.handle contains 'pla-feed-collection' %}
{% paginate category.products by 1000 %}
  {% for product in category.products %} 
    {% assign GoogleProductCategory = product.metafields.google.google_product_type %}
    {% assign Gender = product.metafields.google.gender %}
    {% assign AgeGroup = product.metafields.google.age_group %}
  	{% assign   current_variant = product.selected_or_first_available_variant %}
 
    {% capture productTitle %}{{ product.title }}{% endcapture %}
    {% comment %}{% unless productTitle contains Color %}{% capture productTitle %}{{ productTitle }} {{ Color }}{% endcapture %}{% endunless %}{% endcomment %}
    {% if useSEOtitle and product.metafields.global.title_tag.size > 0 %}{% assign productTitle = product.metafields.global.title_tag %}{% endif %}
    {% assign productDescription = product.description %}
    {% if useSEOdescription and product.metafields.global.description_tag.size > 0 %}{% assign productDescription = product.metafields.global.description_tag %}{% endif %}
  
	{% assign Color=product.metafields.google.custom_label_1 %} 
    {% assign product_type = product.metafields.google.custom_label_2 %}
  
      <item>
      <g:id>{{ product.id }}-{{ current_variant.sku }}</g:id>
      <g:title>{{ productTitle | strip_html | replace: '&', '&amp;' }}</g:title>
      <g:condition>new</g:condition>
      <g:identifier_exists>no</g:identifier_exists>
      <g:description>{{ productDescription | strip_html | strip_newlines | replace: '&', '&amp;' }}</g:description>
      <g:link>https://es.soufeel.com{{ product.url }}</g:link>
      <g:mobile_link>https://es.soufeel.com{{ product.url }}</g:mobile_link>
      {% if product.metafields["global"]["feed_imgsrc"] %}
        <g:image_link>http:{{ product.metafields["global"]["feed_imgsrc"] }}</g:image_link>
      {% else %}
        <g:image_link>http:{% if product.image.src %}{{ product.image.src | product_img_url: 'grande' }}{% else %}{{ product.featured_image.src | product_img_url: 'grande' }}{% endif %}</g:image_link>
      {% endif %}
      <g:condition>new</g:condition>
      <g:availability>in stock</g:availability>
      <g:price>{{ product.price | money_without_currency }} {{ shop.currency }}</g:price>
      <g:brand>Soufeel</g:brand>
      <g:google_product_category>{{GoogleProductCategory | strip_html | replace: '&', '&amp;' }}</g:google_product_category>
      <g:product_type>{{product_type | strip_html | replace: '&', '&amp;' }}</g:product_type>
      <g:gender>{{ Gender }}</g:gender>
      {% unless Color == "" %}<g:color>{{ Color | strip_html | strip_newlines | replace: '&', '&amp;' }}</g:color>{% endunless %}  
      <g:age_group>adult</g:age_group>
      <g:custom_label_0>{{ product.metafields.google.custom_label_0 }}</g:custom_label_0>
      <g:shipping>
          <g:country>es</g:country>
      </g:shipping>
      </item>
  
{% endfor %}
{% endpaginate %}
{% endif %}  
{% endfor %}
</channel>
</rss>
