
<style>
.input-group {
  position: relative;
  display: table;
  width: 100%;
  border-collapse: separate;
}
.form-vertical .input-group {
  margin-bottom: 0;
}
.visually-hidden, .icon__fallback-text {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.no-svg .icon__fallback-text {
  position: static !important;
  overflow: inherit;
  clip: none;
  height: auto;
  width: auto;
  margin: 0;
}
.password-page__inner {
  display: table-cell;
  vertical-align: middle;
}

.password-page__content,
.password-modal__content {
  max-width: 600px;
  margin: 0 auto;
}

.password-page__content {
  padding: 20px 0
}

.password-logo {
  margin-top: 10px;
  margin-bottom:20px
}

.password-logo__image {
  max-width: 100%;
}

.password-page__title {
  font-size: 26px;
  line-height: 1;
  margin-bottom: 20px;
}

.password-page__message {
  font-size: em(18);
  margin-bottom: 40;
}
</style>{% layout 'password' %}

<div class="password-logo">
    <h1 class="h2" itemscope itemtype="http://schema.org/Organization">
      {{ shop.name }}
    </h1>
    <h2 class="password-page__title h1">{{ 'password.coming_soon' | t }}</h2>
 </div>

<h4>{{ 'password.login_form_heading' | t }}</h4>
{% form 'storefront_password' %}
{{ form.errors | default_errors }}
<div class="input-group">
  <input type="password" name="password" id="Password" class="form-control input--content-color" placeholder="{{ 'password.login_form_password_placeholder' | t }}">
  <span class="input-group-btn">
    <button type="submit" name="commit" class="btn btn--narrow">
      <i class="icon photofont photo-jinru"></i>
      <span class="icon__fallback-text">{{ 'password.login_form_submit' | t }}</span>
    </button>
  </span>
</div>
{% endform %}
<p>{{ 'password.admin_link_html' | t }}</p>
