<style>
.section-header__subtext{
  margin: 20px 0;
}
.grid__item form{
  display: flex;
  margin-bottom: 20px;
}
.grid__item form button.photo-search{
  width: 40%;
  max-width: 300px;
}
.grid.grid--no-gutters{
  display: flex;
  flex-flow: wrap;
  padding-bottom:10px;
}
.grid.grid--no-gutters .grid__item{
  width: 20%;
  padding: 5px;
  position: relative;
}
.product-card__image {
  position: relative;
}  
.hoverImage.lazyloaded{
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s;
}
.product-card__image:hover .hoverImage.lazyloaded{
  opacity: 1;
}
.product-card__overlay{
  display:none;
}
.collection-off{
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 0 0 0 12px;
  height: 23px;
  background: linear-gradient(to left,#da004e,#fa474d);
  font-size: 12px;
  color: #fff;
  line-height: 23px;
  padding: 0 8px;;
}
.product-card__info{
  padding: 8px 0 10px;
}
.product-card__price{
  display: flex;
  font-size: 12px;
}
.product-card__price .product-card__sale-price{
  color: #e81150;
  font-weight: bold;
}
.product-card__price .product-card__regular-price{
  font-weight: 600;
  font-size: 12px;
  text-decoration: line-through;
  color: #717171;
  padding-left: 8px;
}
.product-card__name {
  height: 20px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  margin: 5px 0 0;
  line-height: 12px;
  text-overflow: ellipsis;
}
.product-card__info .btn{
  padding: 9px 0;
  border-radius: 0;
  letter-spacing: 0;
  font-size: 12px;
  position: absolute;
  width: calc(100% - 10px);
  bottom: 0;
  opacity: 0;
  transition: all 0.3s;
}
.grid.grid--no-gutters .grid__item:hover .btn{
  opacity: 1;
}
.product-card__info .btn.focus,.product-card__info .btn:focus{
  box-shadow: none;
}
.product-card__tag{
  height: 22px;
  margin-top: 4px;
}  
.product-card__tag .span-label-item{
  display:none;
}
.product-card__tag span{
  border-radius: 5px;
  color: #E9034D;
  border: 1px solid #E9034D;
  padding: 0px 10px;
  line-height: 16px;
  vertical-align: middle;
  display: inline-block;
  font-size: 12px;
}
.pagination{
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 20px;
}
.search-result .pagination{
  text-align: center;
  justify-content: center;
  margin: 30px 0;
  align-items: center;
}
.pagination .page,.pagination .prev,.pagination .next,.pagination .deco{
  font-size: 16px;
  background: #eee;
  margin: 0 5px;
  line-height: 1;
  color: #969696;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .page.current{
  background: #e60044;
  color: #fff;
}
.pagination .next{
  transform: rotate(0deg);
  padding-bottom: 3px;
}
.pagination .prev, .pagination .next{
  font-weight: 600;  width: auto;
    padding: 0 1rem;
}
.pagination .deco{
  font-weight: 600;
  padding-bottom: 6px;
}
@media(max-width:768px){
  .grid.grid--no-gutters .grid__item{
    width:50%;
  }
  .page-width.search-result{
    padding:0;
  }
  div.grid.medium-up--grid--table.section-header.small--text-center {
    padding: 10px;
  }
  .product-card__tag span{
    letter-spacing: -0.2px;
    padding: 0px 5px;
  }
  .product-card__info .btn{
    display:none;
  }
  .product-card__image:hover .hoverImage.lazyloaded{
    opacity: 0;
  }
}
</style>
<!-- /search?type=article,product&q=* -->
{% paginate search.results by 100 %}
<div class="page-width search-result">
  <div class="grid medium-up--grid--table section-header small--text-center">
    <div class="grid__item medium-up--two-thirds section-header__item">
      {% if search.performed %}
      	{% assign product_count = 0 %}
        {% assign page_count = 0 %}
        {% for item in search.results %}
          {% if item.tags contains 'hide-product' or item.available == false %}
            {% continue %}
          {% endif %}
          {% if item.object_type == 'product' %}
            {% assign product_count = product_count | plus: 1 %}
          {% else %}
            {% assign page_count = page_count | plus: 1 %}
          {% endif %}
        {% endfor %}
        <p class="section-header__subtext">{{ 'search.results_count_html' | t: count: product_count, terms: search.terms }}</p>
      {% endif %}
    </div>
    <div class="grid__item medium-up--one-third section-header__item">
      <form action="/search" method="get" class="search-form" role="search" onsubmit="Mask.show()">
        <!-- type is search product olny -->
        <input type="hidden" name="type" value="product">
        <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'search.placeholder' | t }}" aria-label="{{ 'search.placeholder' | t }}" class="input-group__field input--content-color">
        <button type="submit" class="btn1 photofont photo-search"> </button>
      </form>
    </div>
  </div>
  {% if search.performed %}
    {% comment %}
      Find the number of products and pages in the search results
    {% endcomment %}
    {% if product_count > 0 %}
      <div class="grid grid--no-gutters">
        {% for item in search.results %}
          {% if item.tags contains 'hide-product' or item.available == false %}
            {% continue %}
          {% endif %}
          {% if item.object_type == 'product' %}
            <div class="grid__item small--one-half medium-up--one-quarter">
              {% include 'product-card', product: item %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    {% if product_count and page_count %}
    {% endif %}
    {% if page_count > 0 %}
      <h4 class="small--text-center">{{ 'search.pages_and_articles' | t }}</h4>
      <div class="content-block content-block--no-bottom-padding">
        <div class="grid">
        {% for item in search.results %}
          {% if item.tags contains 'hide-product' %}
            {% continue %}
          {% endif %}
          {% unless item.object_type == 'product' %}
            <div class="grid__item medium-up--one-third content-block__item">
              <h5>{{ item.title | link_to: item.url }}</h5>
              <div class="rte">{{ item.content | strip_html | truncate: 150 }}</div>
              <p><a href="{{ item.url }}"><strong>{{ 'search.read_more' | t }}</strong></a></p>
            </div>
          {% endunless %}
        {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if paginate.pages > 1 %}
      <div class="pagination">
      {{ paginate | default_pagination | replace: 'Anterior', '<span class="icon photofont photo-back1"></span>' | replace: 'Siguiente', '<span class="icon photofont photo-back1"></span>'  |remove : "«" |remove : "»"}}
    </div>
    {% endif %}
  {% endif %}
</div>
<script>
  $('.pagination .prev a').html('<span class="icon photofont photo-back1"></span>');
  $('.pagination .next a').html('<span class="icon photofont photo-back1"></span>'); 
  var collectionLabels ='{{ settings.label_filtrate }}'.split(",");
  $(".product-card__tag").each(function(){
    if($(this).children().length > 0){
      let dataArr =[];
      $(this).children().map(function(i,item){
        let items = $(this).html().trim();          
        collectionLabels.map(function(item,index){
          if(items == item){
            dataArr.push(item);
          }                        
        });
      });
      dataArr.sort((a,b)=>{return collectionLabels.indexOf(a) - collectionLabels.indexOf(b);});    
      $(this).html(`<span>`+ dataArr[0] +`</span>`);
    }
  });  
  //加载更多
//   var happyCustomerSay = new LoadMore.toLoad(".grid--no-gutters",{
//     view:50,//一开始显示几个
//     count: 50,//每次加载的数量
//     isScroll:true
//   });

</script>
{% endpaginate %}
